<% content_for :page_title, @user.name %>
<% content_for :card do %>
  <div class="hub-form">

    <h1><%= @user.name %></h1>

    <h2>Current role</h2>

    <p><%= [user_role(@user), user_group(@user)].compact.join(", ") %></p>

    <h2>New role</h2>

    <p>Admin</p>

    <button class="button button--cta" type="submit">
      <%=t("general.save") %>
    </button>

    <%= link_to t("general.cancel"), edit_hub_user_path, class: "button" %>

  </div>
<% end %>
