Hi <%= @first_name %>

This is GetYourRefund. Thank you for choosing our free <%= link_to "File Myself", diy_url %> option! Need help while completing your return? See our <a href="https://files.codeforamerica.org/2023/03/07165831/2023-file-myself-with-getyourrefund-client-guide.pdf">File Myself Guide and Video Tutorials</a> for step-by-step instructions, tips, and best practices.

If you get stuck or have a question, chat with us here or email us at <a href="mailto:diy@getyourrefund.org">dou@getyourrefund.org</a>

We’re here to help,
GetYourRefund