<h2 class="review-box__title"><%= t("views.ctc.questions.confirm_spouse_prior_year_agi.spouse_prior_year_agi", prior_tax_year: prior_tax_year) %></h2>
<div class="review-box__space-between spouse-prior-year-agi">
  <div>
    <%= number_to_currency(intake.spouse_prior_year_agi_amount_computed, precision: 0, locale: :en) %>
  </div>
  <% if intake.spouse_filed_prior_tax_year_filed_full_separate? && defined?(edit_controller) %>
    <%= link_to t("general.edit").downcase, edit_controller.to_path_helper, class: "review-box__edit review-box__edit-button" %>
  <% end %>
</div>
