<% @main_question = "If due a refund, are you interested in using these savings options?" %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <h1 class="h2" id="main-question"><%= @main_question %></h1>

    <div class="form-card__stacked-checkboxes">
      <%= f.cfa_checkbox(
        :savings_split_refund,
        "Split my refund between accounts",
        options: {
          checked_value: "yes",
          unchecked_value: "no",
          "aria-describedby": "main-question"
        }
      ) %>
      <%= f.cfa_checkbox(
        :savings_purchase_bond,
        "Purchase US Savings Bond",
        options: {
          checked_value: "yes",
          unchecked_value: "no",
          "aria-describedby": "main-question"
        }
      ) %>
    </div>

    <button class="button button--primary" type="submit">
      Continue
    </button>
  <% end %>
<% end %>