<span class="label-value">
  <% if @client.intake.is_ctc? %>
    <%= @client.intake.spouse_ssn %>
  <% else %>
    <%= @client.intake.spouse_last_four_ssn %>
  <% end %>
</span>
<span class="sr-only"><%= t("hub.ssn_itins.displayed") %></span>
