<div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.bank_name") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.account_type") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.account_number") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </div>
  <div class="field-display">
    <span class="form-question"><%= t("hub.bank_accounts.routing_number") %>:</span>
    <span class="label-value" aria-hidden="true">●●●●●●●●●●●</span>
    <span class="sr-only">Hidden</span>
  </div>
</div>
