<section class="slab slab--padded">
  <div class="pagination-wrapper">
    <div class="count-wrapper">
      <% if @client_index_help_text.present? %>
        <p class="text--help"><%= @client_index_help_text %></p>
      <% end %>
      <% if @missing_results_message.present? %>
        <p class="text--help access-warning"><%= @missing_results_message %></p>
      <% end %>
      <div>
        <%= page_entries_info @clients, model: "client" %>
      </div>
    </div>
    <div>
      <%= will_paginate(
            @clients,
            previous_label: "<i class=\"icon icon-keyboard_arrow_left\"></i><span class=\"hide-on-mobile\">Previous</span>",
            next_label: "<span class=\"hide-on-mobile\">Next</span><i class=\"icon icon-keyboard_arrow_right\"></i>",
            inner_window: 1,
            outer_window: 1,
            param_name: "page",
            ) %>
    </div>
  </div>
</section>