<% content_for :form_question, t("views.questions.phone_number_can_receive_texts.title") %>
<% content_for :form_help_text do %>
  <p class="form-question"><%= current_intake.formatted_phone_number %></p>
  <p><%= t("views.questions.phone_number_can_receive_texts.help_text") %></p>
<% end %>