<% @main_heading = "First, we need you to verify with Zendesk!" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <%= image_tag("zendesk-logo.png", alt: "", class: "zendesk-logo") %>
  <h1 class="form-question">
    <%= @main_heading %>
  </h1>

  <%= link_to user_zendesk_omniauth_authorize_path, class: "button button--primary button--wide text--centered", method: :post do %>
    Sign in with Zendesk
  <% end %>
<% end %>
