<% content_for :page_title, t('.title') %>

<% content_for :card do %>
  <div class="text--centered text--small text--bold">
    <%= content_for(:page_title) %>
  </div>
<div class="service-recommendation">
  <%= render "shared/virtual_vita_card", click_tracking_event_name: "triage-diy-choose-file-myself" %>
</div>



<% end %>
