<% content_for :title, t(".title") %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title") %></h1>

  <%= render "shared/document_overview_list", in_portal: true, add_document_path: portal_upload_documents_path %>

  <div class="grid-flex center-justified center-aligned column-column">
    <%= image_tag "chat-bubble--blue.svg", alt: "", class: "document-overview-list__icon spacing-below-25" %>
    <strong><%= link_to t(".message_my_tax_team"), new_portal_message_path, class: "message" %></strong>
  </div>

<% end %>
