<% content_for :form_question, t("views.ctc.questions.income.title", tax_year: 2020) %>
<% content_for :form_help_text do %>
  <p class="form-question--tabbed"><%=t("views.ctc.questions.income.filing_single") %></p>
  <p class="form-question--tabbed"><%=t("views.ctc.questions.income.filing_married") %></p>
  <p><%= t('views.ctc.questions.income.help_text') %></p>
  <ul class="list--bulleted">
    <% t("views.ctc.questions.income.income_sources").each do |income_source| %>
      <li><%= income_source %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :script do %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var hiddenField = document.createElement('input');
      hiddenField.setAttribute('type', 'hidden')
      hiddenField.setAttribute('name', 'ctc_income_form[timezone]')
      hiddenField.setAttribute('id', 'ctc_income_form_timezone')
      document.querySelector('main form').appendChild(hiddenField);

      var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.getElementById('ctc_income_form_timezone').value = timezone;
    });
  </script>
<% end %>
