<% content_for :form_question, t("views.ctc.questions.income.title", current_tax_year: current_tax_year) %>
<% content_for :form_help_text do %>
  <% standard_deduction = StandardDeduction.new(tax_year: current_tax_year) %>
  <p class="form-question--tabbed"><%=t("views.ctc.questions.income.filing_single", single_deduction: number_to_currency(standard_deduction.standard_deduction(:single))) %></p>
  <p class="form-question--tabbed"><%=t("views.ctc.questions.income.filing_married", joint_deduction: number_to_currency(standard_deduction.standard_deduction(:married_filing_jointly))) %></p>
  <p><%= t('views.ctc.questions.income.help_text') %></p>
  <ul class="list--bulleted">
    <% t("views.ctc.questions.income.income_sources").each do |income_source| %>
      <li><%= income_source %></li>
    <% end %>
  </ul>
<% end %>
