<% @title = t(".title") %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <%= form_with model: @document, url: [:case_management, @client, @document], local: true, builder: VitaMinFormBuilder, html: { class: 'form-card form-card--long' } do |f| %>
    <h1 class="form-card__title">
      <%= @title %>
    </h1>

    <%= f.cfa_input_field(:display_name, t(".display_name"), classes: ["form-width--long"]) %>

    <button class="button button--cta " type="submit">
      <%=t("general.save") %>
    </button>
  <% end %>
<% end %>