<% content_for :page_title, "Requested Documents Page Not Found" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <div class="form-card">
          <h1 class="form-question">
            Oops!
          </h1>

          <p>
            <strong>
              It looks like you're trying to upload documents but don't have a working link.
            </strong>
          </p>

          <p>
            We can try to help you locate the correct link if you get in touch by emailing
            <a href="mailto:hello@getyourrefund.org">hello@getyourrefund.org</a>
            or clicking the live chat button in the bottom right corner.
          </p>
          <p>
            You can also reach out to your tax preparer if you have their contact information.
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>