<% content_for :page_title, t("views.documents.requested_documents_later.not_found.title") %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <div class="form-card">
          <h1 class="form-question">
            <%=t("general.oops") %>
          </h1>

          <p>
            <strong>
              <%=t("views.documents.requested_documents_later.not_found.info") %>
            </strong>
          </p>

          <p>
            <%=t("views.documents.requested_documents_later.not_found.contact_us_html", :email_link => mail_to("hello@getyourrefund.org")) %>
          </p>
          <p>
            <%=t("views.documents.requested_documents_later.not_found.contact_tax_preparer") %>
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>