<% content_for :main do %>
  <div class="spacing-above-25">
    <a href='https://api.id.me/oauth/authorize?client_id=a5105450194ed684589d72cc348b0c11&redirect_uri=https://www.vitataxhelp.org/questions/wages&response_type=code&scope=military'>
      <button class="button button--primary">
        ID.me
      </button>
    </a>
  </div>
<% end %>

<%= render template: "layouts/application" %>