<% @main_question = t("views.ctc.portal.edit_info.title") %>
<% @intake = current_intake %>

<% content_for :page_title, @main_question %>

<% content_for :card do %>
  <div class="question-layout">
    <div class="back">
      <%= link_to t("general.back"), :back %>
    </div>
  </div>
<% end %>
