<% content_for :title, "GetCTC Client Portal" %>
<% content_for :card do %>
  <div class="question-layout">
    <div class="question-wrapper">
      <h1 class="h2"><%= t("views.ctc.portal.home.title") %></h1>
      <% if @submission.present? %>
        <%= link_to filename_ctc_portal_submission_pdf_path(id: @submission.id, filename: @submission.pdf_bundle_filename), target: "_blank", rel: "no_opener", class: "button button--full-width" do %>
          <%= t("views.ctc.portal.home.download_tax_return") %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
