0 0 * * 0 bundle exec rake vita_providers:scrape_vita_providers
* * * * * bundle exec rake search:refresh
* * * * * bundle exec rake stats:track_metrics
*/5 * * * * bundle exec rake stats:monitor_delayed_efile_submissions
*/5 * * * * bundle exec rake client_status_updates:send_completion_surveys
15 20 * * * bundle exec rake not_ready_reminders:remind
