<% content_for :page_title, "CATCHPHRASE!" %>

<% content_for :card do %>
  <h1 class="h2">Show a form for editing a single W2</h1>
  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    Boom!
    <%= f.continue %>
  <% end %>
<% end %>