<% title = t(".title") %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>
  <div class="highlight-box highlight-box--blue spacing-below-15">
  </div>
<% end %>