<div class="status-line-items__row">
  <%= image_tag("icons/exclamation.svg", alt: "") %>
  <% if link %>
    <span class="link__border"><%= yield %></span><i class="icon-keyboard_arrow_right link__icon"></i>
  <% else %>
    <%= yield %>
  <% end %>
</div>
