<div class="tax-return-status__row">
  <%= image_tag("icons/exclamation.svg", alt: "") %>
  <% if is_link %>
    <span class="action_link__border"><%= yield %></span><i class="icon-keyboard_arrow_right"></i>
  <% else %>
    <%= yield %>
  <% end %>
</div>