<div class="tax-return-status__row">
  <%= image_tag("icons/check.svg", alt: "") %>
  <%= link_to url, target: "_blank", class: "document_link" do %>
    <span class="document_link__border"><%= text %></span><i class="icon-keyboard_arrow_right document_link__icon"></i>
  <% end %>
</div>
