<% content_for :title, t(".title", name: current_client.current_intake.preferred_name) %>

<% content_for :card do %>
  <h1 class="h2"><%= t(".title", name: current_client.current_intake.preferred_name) %></h1>

  <div class="spacing-below-15">
    <%= t('.subtitle') %>
  </div>

  <% if @tax_returns.present? %>
    <% @tax_returns.each_with_index do |tax_return, index| %>
      <%= render "tax_return_card", tax_return: tax_return %>
    <% end %>
  <% end %>
<% end %>

<%= render 'portal/shared/message_my_tax_team' %>
