<% content_for :form_question, t("views.documents.selfies.title") %>

<% content_for :form_help_content do %>
  <p>
  <%=t("views.documents.selfies.help_text") %>
  </p>

  <div class="text--bold">
    <p class="spacing-below-10">
      <%=t("views.documents.selfies.need_for_html") %>
    </p>

    <ul class="list--bulleted spacing-above-0 spacing-below-35">
      <% @names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
