<% content_for :form_question, "Share a selfie with your ID card" %>

<% content_for :form_help_content do %>
  <p>
  The IRS requires us to verify who you are for tax preparation services.
  </p>

  <div class="text--bold">
    <p class="spacing-below-10">
      We will need to see a selfie with ID for:
    </p>

    <ul class="list--bulleted spacing-above-0 spacing-below-35">
      <% @names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>