<% @main_question = t("questions.interview_scheduling.title") %>
<% @help_text = t("questions.interview_scheduling.help_text") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <%= f.vita_min_text_field(:interview_timing_preference, @main_question, help_text: @help_text) %>
    <button class="button button--primary" type="submit">
      <%=t("general.continue") %>
      <i class="button__icon icon-arrow_forward"></i>
    </button>
  <% end %>
<% end %>