.slab--flash {
  border: none;
  color: white;
  padding: 1.5rem;
  a {
    color: inherit;
  }
}

.flash--notice {
  background-color: $color-green;
}

.flash--alert {
  background-color: #D70A40;
  font-weight: bold;
}
.flash--warning {
  background-color: $color-yellow-light;
  color: #000;
}
