.form-card {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  .notice--warning {
    max-width: 30em;
  }
}

.form-group--error {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form-question {
  @extend .h2;
  margin-top: 0;
}

.form-card--long {
  .form-question {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}

.form-card {
  .text--help {
    font-size: 1.9rem;
  }

  .form-question + .text--help {
    margin-top: 0;
  }
}

.form-card--yes-no {
  .button:last-child {
    margin-right: 0;
    margin-left: 0;
  }
  .options-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    .yes-no-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 3.5rem auto 0;
      @media screen and (min-width: $tablet-up) {
        margin: 3.5rem 0 0 0;
      }

      .button {
        width: 45%;
        @media screen and (min-width: $tablet-up) {
          width: 16rem;
        }
      }
    }
    .i-dont-know {
      display: flex;
      justify-content: center;
    }
    .button--link {
      margin-bottom: -1.5rem; // Account for the "secret" hover padding added to the object.
      color: black;
      font-weight: bold;

      &:hover {
        background: $color-grey-light;
      }
    }
  }

}

.section-title {
  font-size: 2.4rem;

  img {
    height: 2.0rem;
    margin-right: 1.5rem;
  }
}

.question__illustration {
  margin: 0 0 2.5rem;
  display: flex;
  justify-content: center;
  @media screen and (min-width: $tablet-up) {
    justify-content: flex-start;
  }
}

.partner-page {
  .question__illustration {
    img {
      max-height: 10rem;
    }
  }
}

.form-card__stacked-checkboxes {
  margin: 6rem 0;

  .form-group {
    margin-bottom: 1rem;
  }
}

.form-card--long {
  .form-group {
    margin-bottom: 2.5rem;
  }
  .form-card__content {
    margin-bottom: 6rem;
  }
}

.form-question--tabbed {
  @extend .h2;
  margin-left: 2rem;
  line-height: .5rem;
}
