.form-card {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.form-group--error {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form-question {
  @extend .h2;
}

.form-card--long {
  .form-question {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}

.form-card {
  .text--help {
    font-size: 1.9rem;
  }

  .form-question + .text--help {
    margin-top: 0;
  }
}

.form-card--yes-no {
  .button:last-child {
    margin-right: 0;
    margin-left: 0;
  }

  .yes-no-buttons {
    margin-top: 6rem;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;

    .button {
      @media screen and (min-width: $tablet-up) {
        width: 16rem;
      }
    }
  }
}

.section-title {
  font-size: 2.4rem;

  img {
    height: 2.0rem;
    margin-right: 1.5rem;
  }
}

.question__illustration {
  margin: 0 0 5rem 0;
  text-align: center;
  @media screen and (min-width: $tablet-up) {
    text-align: left;
  }
}

.partner-page {
  .question__illustration {
    img {
      max-height: 10rem;
    }
  }
}

.form-card__stacked-checkboxes {
  margin: 6rem 0;

  .form-group {
    margin-bottom: 1rem;
  }
}

.form-card--long {
  .form-group {
    margin-bottom: 2.5rem;
  }
  .form-card__content {
    margin-bottom: 6rem;
  }
}
