.overview--title {
  font-size: 1.9rem;
  font-weight: $font-weight-normal;
  line-height: 1.9rem;
  margin-bottom: 0;
}

.overview--subtitle {
  font-size: 2.7rem;
  line-height: 3.5rem;
  font-weight: $font-weight-bold;
}

.overview--help-text {
  margin-bottom: 3rem;
}

.overview--section-title {
  font-size: 1.9rem;
  display: flex;

  &:last-of-type {
    margin-bottom: 6rem;
  }

  .section-title-img-wrapper {
    width: 3rem;
    text-align: center;
    margin-right: 1.5rem;
  }

  img {
    height: 2.0rem;
  }
}