<h1><%= @subject %></h1>

<p>You were tagged in a note!</p>

<p>Thanks for supporting clients with GetYourRefund!</p>
<br />
<%= auto_link(t("outgoing_email_mailer.user_message.unsubscribe", unsubscribe_link: @unsubscribe_link)) %>