<% content_for :form_question, "Attach your student account statements" %>

<% content_for :form_help_content do %>
  <p>
    <strong>You might have this statement</strong>
    because you said that you are filing taxes for people who are full-time students.
  </p>

  <% if @student_names.present? %>
    <p class="spacing-below-10">
      Please share an image of the student account statement for the following people:
    </p>

    <ul class="list--bulleted spacing-above-0 spacing-below-35">
      <% @student_names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
