<% content_for :page_title, @welcome_text %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("offboarding.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">Oh no! We hate to see you go...</h1>

          <div class="offboarding--help-text">
            <p>
              We're excited to help you with your taxes, but we need your identity verified before we proceed.
            </p>
            <p>
              As a VITA program of the IRS, our volunteers are dedicated to delivering high-quality tax preparation. We
              know this is more than just a tax return, it's a refund that can help families build a better future.
            </p>
          </div>

          <%= link_to user_idme_omniauth_authorize_path, class: "button button--primary button--wide text--centered", method: :post do %>
            Return to <span class="sr-only">ID.me</span> <%= image_tag("ID.me.svg", alt: "", class: "button-logo--inline") %>
          <% end %>

          <%= link_to other_options_path, class: "button button--wide text--centered button--vertical-stack" do %>
            Find other options
          <% end %>
        </main>
      </div>
    </div>
  </section>
</main>