.form_13614c {
  .checkbox-column {
    display: flex;
    flex-direction: column;
  }

  .checkbox-set {
    display: flex;

    .checkbox-group {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 1.5rem;

      .checkbox--gyr {
        input[type="checkbox"] {
          min-width: 2rem;
          min-height: 2rem;
        }
      }
    }
  }

  .input--display-row {
    .form-group {
      display: flex;
      align-items: center;

      .form-question {
        margin-right: 1.9rem;
      }
    }
  }

  .form-group {
    display: inline-block;

    .select {
      width: auto;
    }
  }

  .hub-form__row {
    display: flex;
    align-items: flex-start;
  }

  .form-question-13614-page2, .form-question-13614-page3 {
    .form-group:has(> .select) {
      display: flex;
      align-items: center;
    }
  }

  .form-question-13614-page2 {
    .form-group:has(> .select) {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .select {
        margin-right: 1.9rem;
        width: 7.5rem;
      }
    }
  }

  .form-question-13614-page3 {
    .grid__item {
      display: flex;
    }

    .form-group {
      margin-right: 5rem;
    }

    .form-group:has(> input) {
      display: flex;
      align-items: center;
      white-space: nowrap;

      input {
        margin-left: 1.9rem;
      }
    }

    .form-group:has(> .select) {
      .select {
        margin-left: 1.9rem;
      }
    }
  }

  p {
    max-width: none;
  }

  .date-text-fields {
    white-space: nowrap;
  }

  #dependents-table {
    border-collapse: collapse;
    th, td {
      padding: 0 9px;
      border-right: 1px solid grey;
      &:last-child {
        border-right: none;
      }
    }
  }

  #dependents-table th {
    vertical-align: top;
    text-align: left;
    &.th-small {
      width: 100px;
    }
  }

  #primary-additional-info, #spouse-additional-info {
    .form-question {
      min-width: 250px;
      white-space: nowrap;
    }
  }
}