.link--faq {
  color: $color-link-default;

  &:hover {
    color: $color-purple;
  }

  &:visited {
    color: $color-link-default;
  }

  &:active {
    color: $color-link-active;
  }
}

.break-word--field {
  overflow-wrap: break-word;
}