.provider-list {
  .provider-list__entry {
    padding: 5rem 0 4rem 0;
    border-bottom: 1px solid black;

    &:last-child {
      border-bottom: none;
    }


    h2 {
      margin-bottom: 1rem;
      a {
        color: inherit;
      }
    }

    .address {
      display: flex;

      .provider-entry__icon {
        margin-right: 3rem;
      }
    }
  }
}