.dashboard-show-page-body {
  .card {
    border: 0.1rem solid #757575;
  }

  select.select__element {
    border: 0.1rem solid #CFC5BF;
    border-radius: 0.5rem;
    background-image: image-url('dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
  }

  .capacity {
    table {
      .organization-link {
        color: #000;
        text-decoration: none;
      }

      .controls > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      .under-capacity {
        color: #07866C;
      }

      .at-capacity {
      }

      .over-capacity {
        color: #D73D02;
      }
    }
  }

  .dashboard-table {
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      tr th {
        font-weight: normal;
        color: $color-grey-medium;
        text-align: left;
        padding: 1.2rem 0;
      }

      tr {
        border-bottom: 0.1rem solid $color-grey-medium-light;

        td {
          padding: 1.2rem 0;
        }

        td:last-child {
          font-weight: bold;
        }
      }

      tr:last-child {
        border-bottom: none;
      }
    }
  }

  .paging {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    p {
      color: $color-grey-medium;
    }
  }

  .resources {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;

  a {
    display: flex;
    align-items: center;
  }

  div {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: .8rem;
  }
}

  .service-level-agreement {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;

    .approaching {
      color: #757575;
    }
    .overdue {
      color: #D73D02;
    }
    .count{
      font-size:4.25rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
  }

}
