.file-input {
  font-family: $font-system;
  font-size: $font-size-25;
}

.checkbox {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;

  @media screen and (min-width: $tablet-up) {
    width: 25em;
  }
}

.checkbox--simplified {
  font-size: 1.9rem;
  font-weight: $font-weight-normal;
  border: none;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0.5rem;
  padding-left: 4rem;

  &.is-selected {
    background-color: transparent;
  }

  &:focus-within {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background-color: transparent;
  }

  input[type='checkbox'] {
    top: 1rem;
    left: 0;
  }
}

.checkbox-help {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-input--small-label {
  .form-question {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
}

.question-with-follow-up__follow-up {
  background-color: inherit;
  border: none;
  padding-top: 0;
  padding-bottom: 0;

  &:before {
    display: none;
  }
}

.textarea {
  margin-bottom: 0;
}