.file-input {
  font-family: $font-system;
  font-size: $font-size-25;
}

.checkbox {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;

  @media screen and (min-width: $tablet-up) {
    width: 25em;
  }
}

.text-input--small-label {
  .form-question {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
}