a {
  color: $color-link-default;
  &:hover {
    color: $color-link-hover;
  }
  &:visited {
    color: $color-link-visited;
  }
  //&:focus {
  //  color: $color-focused-link;
  //  background-color: $color-focused-link-background;
  //}
  &:active {
    color: $color-link-active;
  }
}