a {
  &.link--cta {
    color: black;
    font-weight: bold;
    display: block;
  }
  color: $color-link-default;
  &:hover {
    color: $color-link-hover;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:active {
    color: $color-link-active;
  }
}

.text--normal {
  font-weight: normal;
}

.text--bold {
  font-weight: bold;
}

.text--underline {
  text-decoration: underline;
}

.text--semibold {
  font-weight: 500;
}

.text--label-secondary-text {
  font-weight: $font-weight-normal;
  font-style: italic;
}

.text--teal {
  color: $color-teal;
}

.text--purple {
  color: $color-purple;
}

.text--black {
  color: rgb(0, 0, 0);
}

.text--no-wrap {
  white-space: nowrap;
}

.text--line-breaks {
  white-space: pre-line;
}
