// Fonts
$font-gyr:         	    "Helvetica Neue", -apple-system, BlinkMacSystemFont,
                        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                        "Fira Sans", "Droid Sans", sans-serif;

// Colors
$color-green-money: #C6F9EC;
$color-orange-light: #FFEAD2;
$color-orange-medium: #FFD29C;