// Fonts
$font-gyr:         	    "Helvetica Neue", -apple-system, BlinkMacSystemFont,
                        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                        "Fira Sans", "Droid Sans", sans-serif;

// Colors
$color-green-money: #C6F9EC;
$color-orange-light: #FFEAD2;
$color-orange-medium: #FFD29C;
$color-orange-dark: #D73D02;
$color-gold-accent: #FF9214;
$color-purple: #3D3DE1;
$color-default-purple: #4C2C92;

$color-link-default: #0358A2;
$color-link-hover: #0358A1;
$color-link-active: #1D70B8;
$color-link-visited: #4C2C92;
$color-focused-link-background: #F9C802;
$color-focused-link: #000000;
