<div class="navigator-resources">
  <div class="slab slab--hero slab--blue">
    <div class="grid-flex contained column-row space-between">
      <div class="grid-flex column-column spacing-below-35">
        <h1>GetCTC.org Navigator Resources</h1>
        <p class="help-text">Guidance for community-based navigators seeking to help hard-to-reach clients access the Advance Child Tax Credit (AdvCTC) or Economic Impact Payment (EIP or Stimulus).</p>
      </div>

      <div class="grid-flex align-flex-end justify-flex-end">
        <%= image_tag "hero-family.png", alt: "", class: "hero-image hero-image--family" %>
      </div>
    </div>
  </div>
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <%= @markdown_content %>
      </div>
    </div>
  </section>
</div>
