<section class="client-navigation tab-bar is-selected">
  <%= tab_navigation_link(t("hub.clients.navigation.client_efile"), hub_state_efile_submission_path(id: @intake, anchor: "body")) %>
</section>
