<li class="grid-flex space-between spacing-above-5" >
  <div class="grid-flex">
    <div>
      <%= link_to "#{organization.name}",
                  can?(:edit, organization) ? edit_hub_organization_path(id: organization) : hub_organization_path(id: organization) %>
    </div>
    <div class="item-5l">
      (<%= t(".site_count", count: organization.child_sites.length) %>)
    </div>
  </div>
  <div><%= display_capacity(@presenter.organization_capacity(organization)) %></div>
</li>