<% content_for :form_question, t("views.documents.overview.title") %>

<% content_for :card do %>
  <h1 class="form-question">
    <%= content_for(:form_question) %>
  </h1>

  <div class="spacing-below-60">
  <%= render "shared/document_overview_list", in_portal: false, can_add_documents: true %>
  </div>

  <p>
    <strong>
      <%= t("views.documents.overview.schedule_appointment") %>
    </strong>
  </p>

  <%= link_to final_info_questions_path, class: "button button--wide button--primary text--centered spacing-above-60" do %>
    <% t("views.documents.overview.finished") %>
  <% end %>
<% end %>
