<% @main_question = t("views.ctc.questions.refund_payment.title") %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <p><%= t("views.ctc.questions.refund_payment.help_text") %></p>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <%= f.cfa_radio_set(
            :refund_payment_method,
            label_text: "<h1 class=\"form-question\">#{@main_question}</h1>".html_safe,
            collection: [
                { value: :direct_deposit, label: t("views.questions.refund_payment.direct_deposit") },
                { value: :check, label: t("views.questions.refund_payment.check") },
            ]
        )
    %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>
