<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="form-card">
            <h1 class="form-question">
              Overview
            </h1>
            <p>This is a placeholder page</p>

            <%= link_to next_path, class: "button button--primary" do %>
              Continue
            <% end %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>