<% @main_heading = t("views.questions.feedback.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--yes-no" } do |f| %>
    <%= f.cfa_textarea(
            :feedback,
            content_for(:form_question),
            help_text: t("views.questions.feedback.body"),
            options: { rows: '5' }
        ) %>

    <button class="button button--primary button--wide" type="submit">
      <%=t("general.continue") %>
    </button>
  <% end %>
<% end %>
