<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>

  <p><%= t(".continue_to_set_up") %></p>

  <%= link_to next_path, class: "button button--primary", id: "firstCta", role: "button" do %>
    <%= t("general.continue") %>
  <% end %>
<% end %>
