<% content_for :form_question, t("views.questions.separated_year.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: {class: "form-card"} do |f| %>
    <%= f.vita_min_select(:separated_year, content_for(:form_question),
                          ((TaxReturn.current_tax_year + 1).downto(2014)).map { |year| [year.to_s, year.to_s] } + [[t("views.questions.separated_year.before_2014"), "before 2014"]]
        ) %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.next") %>
    </button>
  <% end %>
<% end %>
