<% @main_heading = t("views.ctc.questions.dependents.no_dependents.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <%= t("views.ctc.questions.dependents.no_dependents.help_text") %>

  <%= link_to questions_stimulus_payments_path, class: "button button--wide button--primary text--centered spacing-above-60" do %>
    <%=t("views.ctc.questions.dependents.no_dependents.file_a_simplified_return") %>
  <% end %>
<% end %>
