<% @title = @site.name %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <section class="slab slab--padded">
    <%= link_to(@site.parent_organization.name, edit_hub_organization_path(id: @site.parent_organization)) %>
    <div class="grid">
      <div class="grid--item width-one-half">
        <div>
          <%= render "form", url: hub_site_path(id: @site.id), http_method: :patch %>
        </div>
      </div>
    </div>

    <hr/>

    <div id="source-params-form">
      <%= render "hub/source_params/form", form: @source_params_form %>
    </div>

    <hr/>

    <div id="zip-code-routing-form">
      <%= render "hub/zip_codes/form", form: @routing_form %>
    </div>
  </section>
<% end %>
