<% @allow_deletion = true %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <main role="main">
          <%= render "state_file/questions/federal_dependents/form" %>
        </main>
      </div>
    </div>
  </section>
<% end %>
