# frozen_string_literal: true

module Questions
  # Handles user uploads for Form <%= @options.document_type %>'s
  class <%= @controller_name %> < DocumentUploadQuestionController

    private

    def document_type
      <%= options.document_type.inspect %>
    end
  end
end
