.question-with-follow-up__follow-up {
  .text-input-group__prefix {
    background-color: white;
  }

  .text-input-group__postfix {
    background-color: white;
  }
}

.text-input-group {
  .text-input:first-child {
    padding-left: 2.5rem;
  }
}

.vita-min-searchbar {
  &__field {
    display: flex;

  }

  &__button {
    border-radius: 0;
    box-shadow: none;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: black;
    border-color: black;
    &:hover {
      background-color: black;
      border-color: black;
    }
  }

  .text--error {
    margin-top: 0;
  }

  &__submit-text {
    margin-right: 1rem;
  }
}

.file-upload {
  display: block;
  position: relative;
}

.doc-preview {
  border: none;
  margin-bottom: 3.6rem;

  &__filename {
    margin-bottom: .5rem;
  }
  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: auto;
    background-color: $color-background;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    border: none;
    width: 7rem;
    height: 6rem;
  
    img {
      max-height: 6rem;
      max-width: 7rem;
    }
  }
  &__info {
    margin-left: 90px;
    margin-right: 0;
  }
}
