.question-with-follow-up__follow-up {
  .text-input-group__prefix {
    background-color: white;
  }

  .text-input-group__postfix {
    background-color: white;
  }
}

.text-input-group {
  .text-input:first-child {
    padding-left: 2.5rem;
  }
}

.vita-min-searchbar {
  &__field {
    display: flex;

  }
  &__button {
    border-radius: 0;
    box-shadow: none;
    height: 6rem;
  }

  .text--error {
    margin-top: 0;
  }
}