.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -0.5em;
  &__listing {
    margin: 0 .5em;
    @media screen and (max-width: $tablet-up) {
      padding-bottom: 1em;
    }
  }

  @media screen and (max-width: $tablet-up) {
    justify-content: space-around;
  }
}
