<% @title = "New FAQ Item" %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <% titles = [
      ["Frequently Asked Questions", send(@faq_return_path)],
      [@faq_category.name_en, hub_faq_category_path(id: @faq_category)],
      "New FAQ Item"
    ]
    %>
    <%= render 'hub/faq_categories/header', titles: titles %>
    <hr/>
    <%= form_with model: @form, url: { action: :create }, local: true, builder: VitaMinFormBuilder do |f| %>
      <%= render "faq_item_form", f: f, cancel_path: hub_faq_categories_path, edit_form: false %>
    <% end %>
  </div>
<% end %>
