<% @title = "New FAQ Item" %>
<% content_for :page_title, @title %>
<% content_for :card do %>
  <div class="slab slab--not-padded spacing-above-25">
    <h1 class="h2"><%= link_to("FAQ Categories", hub_faq_categories_path) + " < #{@title}" %></h1>
    <hr/>
    <%= form_with model: @faq_item, url: { action: :create }, local: true, builder: VitaMinFormBuilder do |f| %>
      <%= render "faq_item_form", f: f, cancel_path: hub_faq_categories_path, show_slug: false %>
    <% end %>
  </div>
<% end %>
