<p>
  <%= transition.initiated_by.name %> <%= transition.to_state %> <%= link_to "verification attempt", hub_verification_attempt_path(id: transition.verification_attempt.id) %>.
</p>
<% if transition.note.present? %>
  <br/>
  "<%= transition.note %>"
<% end %>