<p>
  <%= t("hub.system_notes.document_help", name: @client.preferred_name) %>
  <span style="font-weight: 500">"<%= t("hub.system_notes.document_help_types.#{note.help_type}", doc_type: note.doc_type.key) %>"</span>
</p>
