<li class="note note--system message" id="<%= "last-item" if local_assigns[:is_last_item] %>">
  <span class="message__time">
    <%= long_formatted_datetime(note.created_at) %>
  </span>
  <div class="message__body"><%= simple_format(note.body, {}, wrapper_tag: "span") %></div>
</li>
