---
version: 2.1

executors:
  rails_executor:
    working_directory: ~/vita-min
    docker:
      - image: circleci/ruby:2.6.5-node-browsers
        environment:
          PGHOST: 127.0.0.1
          PGUSER: root
      - image: circleci/postgres:9.6.8-alpine-postgis
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle-test_test
commands:
  install_app_dependencies:
    description: "Install dependencies for specs"
    steps:
      - restore_cache:
          name: Restore bundle cache
          keys:
            - v1-vita-min-{{ arch }}-{{ checksum "Gemfile.lock" }}
            - v1-vita-min-{{ arch }}-
      - run:
          name: install dependencies
          command: |
            sudo apt-get update && \
            sudo apt-get install -y pdftk ghostscript && \
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          name: Store bundle cache
          key: v1-vita-min-{{ arch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - ~/.bundle
            - vendor/bundle
jobs:
  install_dependencies:
    executor: rails_executor
    steps:
      - checkout
      - install_app_dependencies
  run_tests:
    executor: rails_executor
    steps:
      - checkout
      - install_app_dependencies
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      - run: bundle exec rake db:insert_states db:upsert_vita_partners
      - run: mkdir ~/rspec
      - run: |
          bundle exec rspec \
              --format RspecJunitFormatter \
              --out ~/rspec/rspec.xml \
              --format progress \
              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
      - store_test_results:
          path: ~/rspec
      - store_artifacts:
          path: ~/rspec
          destination: test-results
  deploy_to_aptible--demo:
    executor: rails_executor
    steps:
      - checkout
      - run: echo $APTIBLE_PUBLIC_KEY >> ~/.ssh/known_hosts
      - run: git fetch --depth=1000000
      - run: git push git@beta.aptible.com:vita-min-demo/vita-min-demo.git $CIRCLE_SHA1:master
  deploy_to_aptible--staging:
    executor: rails_executor
    steps:
      - checkout
      - run: echo $APTIBLE_PUBLIC_KEY >> ~/.ssh/known_hosts
      - run: git fetch --depth=1000000
      - run: git push git@beta.aptible.com:vita-min-staging/vita-min-staging.git $CIRCLE_SHA1:master
  deploy_to_aptible--production:
    executor: rails_executor
    steps:
      - checkout
      - run: echo $APTIBLE_PUBLIC_KEY >> ~/.ssh/known_hosts
      - run: git fetch --depth=1000000
      - run: git push git@beta.aptible.com:vita-min-prod/vita-min-prod.git $CIRCLE_SHA1:master
workflows:
  version: 2
  build:
    jobs:
      - install_dependencies:
          filters:
            branches:
              ignore: /^master$/
      - run_tests:
          requires: [install_dependencies]
          filters:
            branches:
              ignore: /^master$/
  build-and-deploy:
    jobs:
      - install_dependencies:
          filters:
            branches:
              only: master
      - run_tests:
          requires: [install_dependencies]
          filters:
            branches:
              only: master
      - deploy_to_aptible--demo:
          requires: [run_tests]
          filters:
            branches:
              only: master
      - deploy_to_aptible--staging:
          requires: [run_tests]
          filters:
            branches:
              only: master
  tagged-release:
    jobs:
      - install_dependencies:
          filters:
            tags:
              only: /^version-\d+\.\d+\.\d+(\.\d+)?/
            branches:
              ignore: /.*/
      - run_tests:
          requires: [install_dependencies]
          filters:
            tags:
              only: /^version-\d+\.\d+\.\d+(\.\d+)?/
            branches:
              ignore: /.*/
      - deploy_to_aptible--production:
          requires: [run_tests]
          filters:
            tags:
              only: /^version-\d+\.\d+\.\d+(\.\d+)?/
            branches:
              ignore: /.*/
  production-branch-release:
    jobs:
      - install_dependencies:
          filters:
            branches:
              only: production
      - run_tests:
          requires: [install_dependencies]
          filters:
            branches:
              only: production
      - deploy_to_aptible--staging:
          requires: [run_tests]
          filters:
            branches:
              only: production
