<% @main_question = "How would you like to send a link?" %>

<% content_for :page_title, @main_question %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= @main_question %></h1>

    <div class="form-card__content">
      <%= f.cfa_input_field(:email, "Email", type: "email", classes: ["form-width--email with-padding-med"]) %>
      <%= f.cfa_input_field(:phone_number, "Phone number for text message", type: "tel", classes: ["form-width--phone with-padding-med"]) %>
    </div>

    <button class="button button--primary" type="submit">
      Confirm
    </button>
  <% end %>
<% end %>
