<% content_for :page_title, page_title %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= content_for :page_title %></h1>
      <%= render "hub/fraud_indicators/table" %>
      <div class="resource-form">
        <%= render "hub/fraud_indicators/form", resource: @resource %>
      </div>
    </div>
  </div>
<% end %>