<% content_for :page_title, "Spouse Authentication Page Not Found" %>

<% content_for :form_card do %>
  <div class="form-card">
    <h1 class="form-question">
      Oops!
    </h1>

    <p>
      It looks like you were trying to verify your identity but didn't have a working link.
    </p>
    <p>
      We can try to help you locate the correct link if you get in touch by emailing
      <a href="mailto:hello@getyourrefund.org">hello@getyourrefund.org</a>
      or clicking the live chat button in the bottom right corner.
    </p>
  </div>
<% end %>