<% content_for :page_title, "Spouse Authentication" %>

<% content_for :form_card do %>
  <div class="form-card">
    <h1 class="form-question">
      Verify your identity
    </h1>

    <p>
      Hi, there. Looks like you're trying to verify your identity
      so your spouse can file your taxes jointly with
      <%= link_to root_path, target: "_blank" do %>
        GetYourRefund
      <% end %>.
    </p>

    <p>
      We are partnering with ID.me to protect your identity and ensure that your personal information is accurate and secure.
    </p>

    <p>
      You will need to upload your ID and take a selfie, so we can be sure it’s you! It usually takes about 5 minutes to complete.
    </p>

    <p>
      If you have any trouble please e-mail <a href="mailto:hello@getyourrefund.org">hello@getyourrefund.org</a>. We’re here to help!
    </p>

    <%#
      Log out the current user from ID.me, in case they are accidentally
      signed in as the primary user (i.e. on a shared computer)
    %>
    <%= link_to destroy_idme_session_path, class: "button button--primary button--wide text--centered", method: :delete do %>
      Sign in with
      <span class="sr-only">ID.me</span> <%= image_tag("ID.me.svg", alt: "", class: "button-logo--inline") %>
    <% end %>

    <p>
      <a href="https://www.id.me/individuals/government" target="_blank">
        For more information, please visit ID.me.
      </a>
    </p>
  </div>
<% end %>