<% if current_intake.filing_jointly? %>
  <% content_for :form_question, t("views.ctc.questions.investment_income.married_title",current_tax_year: current_tax_year) %>
<% else %>
  <% content_for :form_question, t("views.ctc.questions.investment_income.title",current_tax_year: current_tax_year) %>
<% end %>

<% content_for :form_help_text do %>
  <%= t("views.ctc.questions.investment_income.help_text") %>
  <%= render('components/molecules/reveal', title: t("views.ctc.questions.investment_income.reveal_title")) do %>
    <p><%= t("views.ctc.questions.investment_income.reveal_content") %></p>
  <% end %>
<% end %>

