<div class="card">
  <h2>Returns by Status</h2>
  <div style="display:flex;align-items:center;gap:20px;padding-bottom: 20px;">
    <div style="font-size:24px;">455</div>
    <div>Total number of returns</div>
  </div>
  <select class="select__element">
    <option>Filter by Stage</option>
  </select>
  <table>
    <thead>
    <tr>
      <th><%= I18n.t("general.status") %></th>
      <th><%= I18n.t("general.returns") %></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>