<div class="card sla">
  <h2><%= I18n.t("hub.dashboard.show.sla_title") %></h2>
  <p>TODO: Implement</p>
  <div class="grid">
    <div class="grid__item width-one-half">
      <div class="grid">
        <div class="grid__item width-one-half">

        </div>
        <div class="grid__item width-one-half">
        </div>
      </div>
    </div>
    <div class="grid__item width-one-half">
      <div class="grid">
        <div class="grid__item width-one-half">
        </div>
        <div class="grid__item width-one-half">
        </div>
      </div>
    </div>
  </div>
</div>