<% content_for :form_question, t("views.documents.spouse_ids.expanded_id.title") %>

<% content_for :form_help_content do %>
  <p>
    <%=t("views.documents.ids.expanded_id.help_text") %>
  <p/>
  <p>
    <%=t("views.documents.ids.expanded_id.info") %>
  </p>
<% end %>
