.about-us {

  .vita-logo, .irs-logo {
    height: 8rem;
  }

  .vita-logo-link, .irs-logo-link {
    text-decoration: none;
  }

  .vita-logo {
    margin-left: 5rem;
  }


  .map {
    margin-top: 3rem;
    margin-bottom: 0;
    @media screen and (max-width: $tablet-up) {
      margin-top: 6rem;
    }
  }

  section.partner-quotes {
    background-color: $color-green-money;

    .partner-quote-left {
      padding-right:6.5rem;
      @media screen and (max-width: $tablet-up) {
        padding-right: 0;
      }
    }

    .partner-quote-right {
      padding-left:6.5rem;
      @media screen and (max-width: $tablet-up) {
        padding-left: 0;
        margin-top: 6rem;
      }
    }

    .partner-picture {
      padding: 0 1rem 1rem;
      text-align: center;

      img {
        width: 9.9rem;
      }
    }

    .partner-link {
      font-size: 1.6rem;
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }

  .slab--partner-cta {
    background-color: $color-orange-medium;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .partner-cta {
      text-align: center;
    }

    .partner-cta-text {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .partner-cta-link {
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }
}