.admin {

  div.header {

    * {
      margin: 0;
      margin-bottom: 1.0rem;
    }

    h1 {
      margin-bottom: 1.0rem;
    }

    h2.with-link {

      a {
        color: $color-purple;
        font-size: 1.9rem;
        font-weight: bold;
        &:hover {
          color: #8E8EEF;
        }
      }
    }

    p.text--smaller {
      font-size: 1.2rem;
      max-width: none;
    }
  }

  div.info-details {
    margin-top: 6.0rem;

    .h3 {
      margin-bottom: 1.0rem;
    }
  }

  .zendesk-logo {
    margin-left: 75px;
    width: 164px;
  }
}
