.bulk-action-form {
  .hr {
    background-color: $color-grey-medium-light;
  }

  .form-warnings {
    p:last-child {
      margin-bottom: $s35;
    }
  }
}

.bulk-action-checkbox {
  margin-left: 1rem;
  position: relative;
}

html[lang="en"] {
  .bulk-action-checkbox {
    margin-right: 4.9rem; // Magic number to be the same as "Add all"
  }
}

html[lang="es"] {
  .bulk-action-checkbox {
    margin-right: 8.4rem; // Magic number to be the same as "Añadir todo"
  }
}

.bulk-action-footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.bulk-action-count {
  margin-right: $s25;
  font-size: 1.6rem;
}