.bulk-action-form {
  .hr {
    background-color: $color-grey-medium-light;
  }

  .form-warnings {
    p:last-child {
      margin-bottom: $s35;
    }
  }
}

.bulk-action-checkbox {
  margin-left: 1rem;
  position: relative;
}

html[lang="en"] {
  .bulk-action-checkbox {
    margin-right: 4.475rem; // Magic number to be the same as "Select"
  }
}

html[lang="es"] {
  .bulk-action-checkbox {
    margin-right: 7.85rem; // Magic number to be the same as "Seleccione"
  }
}

.bulk-action-footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.bulk-action-count {
  margin-right: $s25;
  font-size: 1.6rem;
}

.bulk-action-all-returns {
  margin-right: $s15;
  font-weight: $font-weight-bold;
}