.client-profile {
  &__column {
    display: inline-block;
    vertical-align:top;
    margin-right: $s60;
  }
  &__field-group {
    margin-bottom: $s35;
    > h2 {
      font-size: $font-size-19;
      line-height: $s19;
      margin-bottom: $s15;
    }
  }
}