.total_fund_amount-box {
  background: #FFEED9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  margin-top: 3.5rem;
}

.total_fund_amount-text {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}