.consent-form {
  .form-card {
    max-width: 540px;
  }
  .consent-details {
    padding: 1.3rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 4rem;
    font-size: 16px;
    max-height: 37.5rem;
    overflow-y: auto;
  }

  .consent-checkboxes{
    label.checkbox {
      width: 100%;
    }

    .form-group {
      margin-bottom: 2rem;
    }
    .form-group:last-of-type {
      margin-bottom: 6rem;
    }
  }
}