.ctc-home {
  .accordion {
    ul {
      list-style: disc;
      padding-left: $s35;
    }
  }

  h1 {
    font-size: 3.5rem;
    @media screen and (min-width: $site-max-up) {
      font-size: unset;
    }
  }

  .slab--hero {
    margin-bottom: -1rem;
    padding-bottom: 0;
  }

  .slab--affiliations {
    background-color: $color-grey-light;
  }

  .affiliations {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .grid__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .grid__item.text {
      width: 230px;
      text-align: center;
    }
    .grid__item.image {
      width: 150px;
      padding-bottom: 15px;
    }
  }

  .affiliations.text{
    align-items: end;
  }

  $color-light-gold: #FFD29C;
  .slab--navigators {
    background-color: $color-light-gold;
  }
}
