.date-text-input {
  display: inline;
  width: 6rem;
  margin-right: 1rem;
}

.date-text-input-year {
  width: 10rem;
}

.ctc-intake-date-text-input.date-text-input {
    width: 8rem;
}

.ctc-intake-date-text-input.date-text-input-year {
  width: 12rem;
}