.document-overview-list {
  margin-bottom: 5rem;
}

.document-overview-list__icon {
  width: 2rem;
  margin-right: 3rem;
  vertical-align: text-bottom;
}

.document-overview-list__item-text {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 2rem;
}

.document-overview-list__filenames {
  font-size: 1.6rem;
  margin-left: 5rem;
  margin-bottom: 2rem;

  > li {
    margin-bottom: 1.3rem;
  }
}

.security-blurb {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  align-items: flex-start;

  .lock-icon {
    padding: 0.5rem 1.5rem 0 0;
  }
}
