.navigator-resources {
  .slab--hero {
    padding-bottom: 0;
  }

  ul {
    list-style: disc;
    padding-left: $s35;
  }

  ol {
    list-style-type: decimal;
    padding-left: 2em;
  }
}

.volunteer-resources {
  blockquote {
    background-color: lightgrey;
    padding: 20px;
  }

  img {
    width: 100px;
  }
}
