.body--home {
  .button {
    padding: $s35/2 4rem;
  }

  .slab--hero {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;

    p a {
      color: inherit;
    }
    h1 {
      font-size: 5rem;
      line-height: 6rem;
      font-weight: 900;

      &.landing-page-header {
        font-size: 2.7rem;
        line-height: 3.5rem;
        margin-top: 3.5rem;
      }
    }

    @media screen and (max-width: $site-max-up) {
      h1 {
        margin-bottom: 1.5rem;

        &.landing-page-header {
          margin-top: 0;
        }
      }
    }

    .landing-page-header {
      max-width: 450px;
    }

    .landing-page-subheader {
      font-weight: 200;
      max-width: 450px;
      position: relative;
    }

    .grid {
      position: relative;
      min-height: 355px;

      @media screen and (max-width: $site-max-up) {
        position: static;

        .grid__item {
          width: 100%;
        }
      }

      .hero-illustration {
        margin-top: $s60;
        text-align: center;
        padding: 0 $s10;

        &__mobile {
          max-width: 100%;
        }

        &__desktop {
          display: none;
        }

        @media screen and (min-width: $tablet-up) {
          padding: 0 $s60;

          .hero-illustration__mobile {
            display: none;
          }

          .hero-illustration__desktop {
            display: inline-block;
            width: 100%;
            max-width: 30rem;
          }
        }

        @media screen and (min-width: $site-max-up) {
          .hero-illustration__desktop {
            max-width: none;
          }
          padding: 0 0 0 5rem;
        }
      }

      &.stimulus {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: image-url("stimulus-hero.svg");
          background-repeat: no-repeat;
          background-size: 400px 355px;
          background-position: top right;

          @media screen and (max-width: $site-max-up) {
            background-position: bottom left;
            background-size: 420px 266px;
          }

          @media screen and (max-width: $tablet-up) {
            background-position: bottom;
          }
        }
      }
    }
  }

  .slab--info-section {
    background-color: white;
    padding: 6rem 4.5rem;
    ul {
      padding-left: 2.4rem;
    }
    li {
      font-size: 1.6rem;
      &:before {
        content: "→";
        font-weight: bold;
      }
      a {
        color: black;
      }
    }
  }
  .banner {
    background-color: $color-orange-light;
    padding: 2rem 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    @media screen and (max-width: $tablet-up) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .slab--intro {
    background-color: white;

    #irs-logo {
      img {
        width: 178px;
        height: 173px;
        margin-top: 2.5rem;
      }
    }

    @media screen and (max-width: $tablet-up) {
      #irs-logo {
        text-align: center;
        padding-bottom: 3.8rem;

        img {
          margin-top: 0;
        }
      }

      #money-fan {
        margin-top: 3.2rem;
        text-align: center;
      }
    }
  }

  .slab--partners {
    padding-top: 3rem;
    padding-bottom: 3rem;

    #about-us-link {
      font-weight: bold;
      text-decoration: underline;
      color: black;
    }

    @media screen and (max-width: $tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .slab--testimonials {
    background-color: white;

    #star-rating {
      margin-bottom: 4rem;
    }

    #testimonial-left {
      padding-right: 6rem;
    }

    #testimonial-right {
      padding-left: 6rem;
    }

    @media screen and (max-width: $tablet-up) {
      h2 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      #star-rating {
        margin-top: 2.5rem;
      }

      #testimonial-left {
        padding: 0;
      }

      #testimonial-right {
        padding: 0;
        margin-top: 4rem;
      }
    }
  }

  .slab--security {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: white;

    p {
      font-weight: 500;
    }

    div.grid__item {
      display: flex;
      margin-top: 60px;
      margin-bottom: 60px;

      img {
        width: 10rem;
        min-width: 10rem;
        padding-right: 4rem;
        height: 100%;
      }
    }

    @media screen and (max-width: $tablet-up) {
      div.grid__item {
        margin-top: 60px;
        margin-bottom: 60px;
        flex-direction: column;
        img {
          padding-right: 0;
          width: 100%;
          height: 8rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .grid__divider {
    margin: 0 auto;
    width: 31.5rem;
    height: 0.1rem;
    background-color: #aaaaaa;
  }

  h2 {
    font-weight: 900;
  }

  @media screen and (max-width: $tablet-up) {
    h2 {
      margin-bottom: 1rem;
    }
  }
}
