.hub-metrics {
  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: $s25;
  }
  > div:first-of-type {
    display: flex;
    div {
      margin: 0 $s25 0 0;
    }
  }
}

.org-metrics-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  border-spacing: 0 1px;
  border-top: 1px solid black;
  background: darken($color-grey-light, 20%);
  max-height: 500px;
  margin-bottom: 0;
  thead {
    th:first-child {
      left: 0;
      z-index: 3;
    }
    th {
      user-select: none;
      background: white;
      top: 0; /* Don't forget this, required for the stickiness */
      &.sortable {
        cursor: pointer;
        &[attr-direction = "asc"]::after {
          content: "↑"
        }
        &[attr-direction = "desc"]::after {
          content: "↓"
        }
      }
    }
  }

  tr {
    background: white;
  }

  tr > :first-child {
    position: sticky;
    left: 0;
  }

  tfoot th {
    position: sticky;
    bottom: 8.7rem;
    height: 5rem;
    border-bottom: 1px solid $color-teal-light;
    z-index: 5;
    background: $color-teal-light;
  }

  tfoot th:first-child {
    background: $color-teal-light;
  }

  th {
    background: white;
    border-bottom: 1px solid black;
    position:sticky;
    top:0;
    left: 0;
  }

  tbody {
    overflow: scroll;
  }

  .org {
    font-weight: bold;
  }

  .site {
    td:first-child {
      padding-left: $s60;
    }
  }
}