.hub-metrics {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $s25;
  }
  > div:first-of-type {
    display: flex;
    div {
      margin: 0 $s25 0 0;
    }
  }
}
.org-metrics-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  border-spacing: 0 1px;
  border: 1px solid black;
  background: darken($color-grey-light, 20%);

  thead {
    th {
      border-bottom: 1px solid black;
      position:sticky;
      top:0;
      background: white;
    }
    user-select: none;
    background: white;
    top: 0; /* Don't forget this, required for the stickiness */
    &.sortable {
      cursor: pointer;
      &[attr-direction = "asc"]::after {
        content: "↑"
      }
      &[attr-direction = "desc"]::after {
        content: "↓"
      }
    }
  }

  tr {
    background: white;
  }


  .org {
    font-weight: bold;
  }

  .metrics-totals {
    border-top: 2px solid $color-teal-dark;
    background-color: $color-teal-light;
  }
}

//table {
//  white-space: nowrap;
//  margin: 0;
//  border: none;
//  border-collapse: separate;
//  border-spacing: 0;
//  table-layout: fixed;
//  border: 1px solid black;
//}
//table td,
//table th {
//  border: 1px solid black;
//  padding: 0.5rem 1rem;
//}
//table thead th {
//  padding: 3px;
//  position: sticky;
//  top: 0;
//  z-index: 1;
//  width: 25vw;
//  background: white;
//}
//table td {
//  background: #fff;
//  padding: 4px 5px;
//  text-align: center;
//}
//
//table tbody th {
//  font-weight: 100;
//  font-style: italic;
//  text-align: left;
//  position: relative;
//  position: sticky;
//  left: 0;
//  background: white;
//  z-index: 1;
//}
//table thead th:first-child {
//  position: sticky;
//  left: 0;
//  z-index: 2;
//}
//caption {
//  text-align: left;
//  padding: 0.25rem;
//  position: sticky;
//  left: 0;
//}
//
//[role="region"][aria-labelledby][tabindex] {
//  width: 100%;
//  max-height: 98vh;
//  overflow: auto;
//}
//[role="region"][aria-labelledby][tabindex]:focus {
//  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
//  outline: 0;
//}