.hub-metrics {
  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: $s25;
  }
  > div:first-of-type {
    display: flex;
    div {
      margin: 0 $s25 0 0;
    }
  }
}

.org-metrics-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  border-spacing: 0 1px;
  border-top: 1px solid black;
  max-height: 500px;
  margin-bottom: 0;
  thead {
    th:first-child {
      left: 0;
      z-index: 3;
    }
    th {
      user-select: none;
      background: white;
      top: 0; /* Don't forget this, required for the stickiness */
      &.sortable {
        cursor: pointer;
        &[attr-direction = "asc"]::after {
          content: "↑"
        }
        &[attr-direction = "desc"]::after {
          content: "↓"
        }
      }
    }
  }
  // override default table behavior for alternating backgrounds
  .index-table__row:nth-child(even) td {
    background: white;
  }

  .org-metrics-table .site td:first-child {
    padding-left: 6rem;
  }
  .org-metrics-table tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    opacity: 1;
  }

  td {
    background: white;
    border-bottom: 1px solid darken($color-grey-light, 20%);
  }

  tr > :first-child {
    position: sticky;
    left: 0;
    opacity: 1;
  }

  th {
    background: white;
    border-bottom: 1px solid black;
    position:sticky;
    top:0;
    left: 0;
  }

  tbody {
    overflow: scroll;
    max-width: 100%;
  }

  .org {
    font-weight: bold;
  }

  .cell-bold {
    font-weight: bold;
  }

  .metrics-totals {
    height: 5rem;
    .index-table__cell {
      border-bottom: 1px solid black;
      background-color: $color-grey-light;
    }
  }

  .site {
    td:first-child {
      padding-left: $s60;
    }
  }
}