html.hub {
  height: 100%;
}

body.hub {
  height: 100%;
  display: flex;
  overflow: hidden;
  margin: 0px;
}

.hub {
  .columns {
    display: flex;
    flex-direction: column;
    height: 100%;

    .columns--child {
      height: 100%;
    }
  }
  .columns--right{
    width: 100%;
    overflow-x: auto;
  }
}
// TODO: Move these styles into .hub
// When we do that, remove the 'hub' class from body
// look for .admin in the other sass files to
// make sure they target .hub instead at that time
.admin {
  background: white;
  .hub-section {
    margin: 3.5rem;
  }
  .page-wrapper {
    padding: 0;
    overflow: unset;
  }

  .header {
    * {
      margin: 0;
      margin-bottom: 1.0rem;
    }

    .text--smaller {
      font-size: 1.2rem;
      max-width: none;
    }
  }

  .info-details {
    margin-top: 6.0rem;

    .h3 {
      margin-bottom: 1.0rem;
    }
  }

  .user-navigation {
    .breadcrumb-item {
      margin-left: 2.5rem;
      font-weight: bold;
      color: $color-grey-medium;
      text-decoration: none;
      font-size: 1.5rem;
    }

    .breadcrumb-item:hover, .breadcrumb-item:active {
      text-decoration: underline;
    }
  }
}

section.client-index-header.slab--padded {
  padding-bottom: 0;
}

.honeycrisp-compact .no-form-group-padding .form-group {
  margin-bottom: 0;
}
