.hub-metrics {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $s25;
  }
  > div:first-of-type {
    display: flex;
    div {
      margin: 0 $s25 0 0;
    }
  }
}

.org-metrics-table {
  thead {
    th {
      border-bottom: 1px solid black;
    }
  }
  th {
    user-select: none;
    &.sortable {
      cursor: pointer;
      &[attr-direction = "asc"]::after {
        content: "↑"
      }
      &[attr-direction = "desc"]::after {
        content: "↓"
      }
    }
  }

  .org {
    border-top: 1px solid darken($color-grey-light, 20%);
    font-weight: bold;
  }

  .metrics-totals {
    border-top: 2px solid $color-teal-dark;
    background-color: $color-teal-light;
  }
}