html.hub {
  height: 100%;
}

body.hub {
  height: 100%;
  display: flex;
  overflow: hidden;
  margin: 0px;
}

.hub {
  .columns {
    display: flex;
    flex-direction: column;
    height: 100%;

    .columns--child {
      overflow-y: auto;
      height: 100%;
    }
  }
  .columns--right{
    width: 100%;
    overflow-x: auto;
  }

  .reassign-roles {
    width: 375px;
    .reveal__button {
      width: 100%;
    }
  }
}

// TODO: Move these styles into .hub
// When we do that, remove the 'hub' class from body
// look for .admin in the other sass files to
// make sure they target .hub instead at that time
.admin {
  background: white;
  .hub-section {
    margin: 3.5rem;
  }
  .page-wrapper {
    padding: 0;
    overflow: unset;
  }

  .header {
    * {
      margin: 0;
      margin-bottom: 1.0rem;
    }

    .text--smaller {
      font-size: 1.2rem;
      max-width: none;
    }
  }

  .info-details {
    margin-top: 6.0rem;

    .h3 {
      margin-bottom: 1.0rem;
    }
  }

  .user-navigation {
    .breadcrumb-item {
      margin-left: 2.5rem;
      font-weight: bold;
      color: $color-grey-medium;
      text-decoration: none;
      font-size: 1.5rem;
    }

    .breadcrumb-item:hover, .breadcrumb-item:active {
      text-decoration: underline;
    }
  }
}

section.client-index-header.slab--padded {
  padding-bottom: 0;
}

.honeycrisp-compact .no-form-group-padding .form-group {
  margin-bottom: 0;
}

.hub-searchbar {
  display: flex;
  justify-content: flex-start;
  padding-top: $s5;
  padding-bottom: $s5;
}

.hub-searchbar__button {
  transition: all $animation-fast;
  user-select: none;
  padding: {
    left: $s10;
    right: $s10;
  }
  border-radius: 0;
  vertical-align: middle;
  border: 1px solid $color-grey-darkest;
  background-color: $color-black;
}

.hub-searchbar__input {
  border: 1px solid $color-grey-darkest;
  box-shadow: inset 0px 2px 0px rgba(#000, .15);
  background-color: $color-grey-light;
  font-weight: $font-weight-bold;
  padding: 0 $s25;
  height: $s35;
  margin: 0;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-grey-dark;
  }
}