.portal-layout {
  padding-top: 2.5rem;
  padding-bottom: 6rem;

  .form-card__content {
    margin-bottom: 6rem;

    .h2 {
      margin-bottom: 1rem;
    }
  }

  .button {
    text-align: center;
  }

  a.back:visited {
    color: inherit;
  }

  .textarea {
    border-radius: 3px;
  }

  .portal-message-form {
    .form-question {
      font-size: 1.9rem;
      margin-bottom: 2.5rem;
    }
    .textarea {
      height: 200px;
    }
  }

  .missing-data {
    color: $color-red;
  }

  a, a:visited {
    color: $color-venice-blue;
  }
}
