.portal-layout {
  padding-top: 2.5rem;
  padding-bottom: 6rem;

  .form-card__content {
    margin-bottom: 3.5rem;

    .h2 {
      margin-bottom: 1rem;
    }

    .form-group:last-of-type {
      margin-bottom: 6rem;
    }
  }

  .button {
    text-align: center;
  }

  a.back:visited {
    color: inherit;
  }

  .textarea {
    border-radius: 3px;
  }

  .portal-message-form {
    .form-question {
      font-size: 1.9rem;
      margin-bottom: 2.5rem;
      font-weight: normal;
    }
    .textarea {
      height: 200px;
    }
  }
}
