.question-layout {
  padding-top: 2.5rem;
  padding-bottom: 6rem;
  .back {
    margin-bottom: 3.5rem;
    display: block;
    a {
      &:before {
        content:'←';
        padding-right: .5rem;
      }
      font-size: 1.6rem;
      border: 1px solid $color-grey-dark;
      border-radius: 4px;
      background: $color-grey-light;
      padding: .75rem 1rem;
      color: $color-grey-dark;
      text-decoration: none;
      &:hover {
        background: darken($color-grey-light, 5%);
      }
      &:visited {
        color: $color-grey-dark;
      }
    }
  }
  .question-wrapper {
    max-width: $intake-max-width;
  }
}