.question-layout {
  padding-top: 6rem;
  padding-bottom: 2rem;
  .back {
    margin-top: $s25;
    display: block;
    a {
      &:before {
        content:'←';
        padding-right: .5rem;
      }
      font-size: 1.6rem;
      border: 1px solid $color-grey-medium;
      border-radius: 4px;
      background: $color-grey-light;
      padding: 1rem;
      color: $color-grey-medium;
      text-decoration: none;
      &:hover {
        background: darken($color-grey-light, 10%);
      }
      &:visited {
        color: $color-grey-medium;
      }
    }
  }
}