.satisfaction_face_form {
  .face-container {
    display: flex;
    justify-content: space-between;
    max-width: 32rem;

    label.radio-button {
      display:flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
      border: 1px solid #A0A0A0;
      border-radius: 2px;
      padding: 1rem;
      text-align: center;
      margin: 0;
      min-height: 11rem;
      width: 9rem;
      font-weight: normal;

      input[type=radio] {
        top: 7.5rem;
        left: 3.4rem;
      }
    }

    label.radio-button.positive{
      &:hover, &.selected, &.is-selected {
        background-color: $color-green-money;
      }
    }

    label.radio-button.neutral{
      &:hover, &.selected, &.is-selected {
        background-color: $color-orange-medium;
      }
    }

    label.radio-button.negative{
      &:hover, &.selected, &.is-selected {
        background-color: $color-red-medium;
      }
    }
  }
}
