<% content_for :form_question, "Did #{you_or_spouse(@form.intake)} receive the First Time Homebuyer Credit in 2008?" %>

<% content_for :form_help_text, "If you are unsure, you can use <a href=\"https://www.irs.gov/credits-deductions/individuals/first-time-homebuyer-credit-account-look-up\" target=\"_blank\">this IRS tool</a> to check.".html_safe %>

<% content_for :method_name, :received_homebuyer_credit %>