<% content_for :form_question, t("views.questions.final_info.title") %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card" } do |f| %>
    <%= f.cfa_textarea(
          :final_info,
          content_for(:form_question),
          help_text: t("views.questions.final_info.help_text"),
          options: { rows: '5' }
        ) %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.submit") %>
    </button>
  <% end %>
<% end %>
