<% content_for :form_question, t("views.ctc.questions.non_w2_income.title", count: current_intake.filing_jointly? ? 2 : 1, additional_income_amount: number_to_currency(@additional_income)) %>

<% content_for :form_help_text do %>
  <p><%= t("views.ctc.questions.non_w2_income.additional_income.list_title") %></p>
  <ul class="list--bulleted">
    <% t("views.ctc.questions.non_w2_income.additional_income.list").each do |list| %>
      <li><%= list %></li>
    <% end %>
  </ul>
<% end %>
