<% content_for :form_question, t("views.ctc.questions.dependents.had_dependents.title") %>

<% content_for :form_help_text do %>
  <p><%= t("views.ctc.questions.dependents.had_dependents.help_text") %></p>
<% end %>
