<% content_for :page_title, "Wow, it looks like we are at capacity right now." %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("capacity.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%= content_for(:page_title) %>
          </h1>

          <div class="offboarding--help-text">
            <p>
We’re experiencing a high volume of clients at the moment. We aim to serve everyone with the best quality service. We apologize for the wait, GetYourRefund will be available again shortly.
            </p>
            <p>
Alternatively, you can try IRS Free File, an online service that lets you prepare your own taxes for free.
            </p>
            <b>
              We recommend checking back in a few days. Thank you!
            </b>

          </div>
        </main>
      </div>
    </div>
  </section>
</main>
