
<% @main_heading = 'Please check your e-mail for a confirmation link.' %>
<% content_for :page_title, @main_heading %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("check-email-diy.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%= @main_heading %>
          </h1>
          <div class="offboarding--help-text">
            <p>
              We just sent you a secure link for our DIY service.
            </p>
            <p>
              If you have questions you should email <a
              href="mailto:hello@getyourrefund.org" class="text--black">
              hello@getyourrefund.org</a>.
            </p>
          </div>
          <div class="buttons--vertical-stack">
            <%= link_to root_path, class: "button button--primary button--wide text--centered" do %>
              Return to home
            <% end %>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
