<% content_for :page_title, "FAQ" %>
<% content_for :body_class, "faq" %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h1 class="h2">
          Frequently asked questions
        </h1>
        <p>
          Click below for responses to frequently asked questions. Chat with us if you still have questions!
        </p>

        <h2 class="h3 spacing-above-35">
          Help getting started
        </h2>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
            <h3>What should I do if I haven’t filed in several years?</h3>
          </a>
          <div class="accordion__content" id="a1">
            <p>
              We can file your taxes for 2016, 2017, 2018, and 2019. We encourage you to let us know if you haven’t yet
              filed for these years, because this can help you claim refunds from previous years that you may have
              missed out on.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
            <h3>How do I get started?</h3>
          </a>
          <div class="accordion__content" id="a2">
            <p>
              To get started, go to GetYourRefund.org, click “Get Started,” and let us know that you want to “Start my
              taxes online.” You will have to upload photos of your ID, answer some questions about your tax situation,
              and upload your tax documents. Then one of our tax specialists will call you on the phone to discuss your
              taxes, answer any questions, and complete your filing.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a3">
            <h3>What should I do if I can’t find a tax document?</h3>
          </a>
          <div class="accordion__content" id="a3">
            <p>
              If you have lost or never received a tax document, the first place to try is your employer. Often your
              employer can quickly re-issue your tax forms to you. If that doesn’t work, you can request your tax
              documents from the IRS at <%=link_to "https://www.irs.gov/individuals/get-transcript", target: "_blank" do%>https://www.irs.gov/individuals/get-transcript<% end %>
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a4">
            <h3>Is this service really free?</h3>
          </a>
          <div class="accordion__content" id="a4">
            <p>
              Yes! We partner with VITA, an IRS program that certifies tax experts at local community nonprofits like
              United Way, to complete your state and federal taxes for free.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            <h3>Am I eligible?</h3>
          </a>
          <div class="accordion__content" id="a5">
            <p>
              We provide free tax filing assistance to families earning less than about $66,000 a year.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a6">
            <h3>How long will this take?</h3>
          </a>
          <div class="accordion__content" id="a6">
            <p>
              All in all GetYourRefund takes 5-10 business days to complete because you work one on one with a tax
              preparer.
            </p>
            <p>
              The first step is to answer questions about your tax situation in our online form and upload your tax
              documents, which can take 10-30 minutes. Next, you will receive a call from your tax specialist in 2-3
              business days to discuss your tax situation. Your tax return will then be prepared and quality reviewed by
              an IRS-certified tax preparer who will call you to discuss your refund and the process for electronic
              signature and filing. After taxes are filed we have heard from clients that they receive a direct deposit
              from the IRS within a week.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a7">
            <h3>What if I need to change one of my answers or am unsure how to answer?</h3>
          </a>
          <div class="accordion__content" id="a7">
            <p>
              Don’t worry, you’ll get a chance to talk with one of our tax specialists about your situation, and you can
              let them know about any changes or answers you were unsure about before they prepare your taxes.
            </p>
          </div>
        </div>

        <div class="accordion">
          <a href="#" class="accordion__button" aria-expanded="true" aria-controls="a8">
            <h3>What does it mean that the deadline has been extended?</h3>
          </a>
          <div class="accordion__content" id="a8">
            <p>
              The 2019 income tax filing and payment deadlines on April 15, 2020, are automatically extended until July
              15, 2020. This applies to all individual returns, trusts, and corporations. This is automatic, tax filers
              do not need to file any additional forms or call the IRS to qualify. This also includes estimated tax
              payments for tax year 2020 that are due on April 15, 2020.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>