<% content_for :page_title, "FAQ" %>
<% content_for :body_class, "faq" %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h1 class="h2">
          Frequently asked questions
        </h1>
        <p>
          Click below for responses to frequently asked questions. Chat with us if you still have questions!
        </p>

        <h2 class="h3 spacing-above-35">
          Help getting started
        </h2>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a1">
            What should I do if I haven’t filed in several years?
          </button>
          <div class="accordion__content" id="a1">
            <p>
              We can file your taxes for 2016, 2017, 2018, and 2019. We encourage you to let us know if you want help
              with previous years because this can help you claim refunds from previous years.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a2">
            Is this service really free?
          </button>
          <div class="accordion__content" id="a2">
            <p>
              Yes! We partner with VITA, an IRS program that certifies tax experts at local community nonprofits like
              United Way, to complete your state and federal taxes for free.
            </p>
          </div>
        </div>

        <h2 class="h3 spacing-above-60">
          If your taxes have already been filed
        </h2>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a3">
            I already filed my taxes, but I think there was a mistake. How do I file an amendment?
          </button>
          <div class="accordion__content" id="a3">
            <p>
              We can help you file an amendment! As a first step we recommend reaching out to the organization or
              service who originally filed your taxes as many services offer amendments.
            </p>
            <p>
              If you do not want to amend your taxes with your existing tax provider, please complete our online form by
              clicking Get Started. You will answer questions about your tax situation and upload your tax documents. On
              the screen that asks for “Any additional documents” upload the return you wish to amend if you have it.
            </p>
          </div>
        </div>

        <h2 class="h3 spacing-above-60">
          About your stimulus check
        </h2>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a4">
            Am I eligible for a stimulus check?
          </button>
          <div class="accordion__content" id="a4">
            <p>
              If you make less than $75,000 per year ($150,000 for a married couple filing jointly) or less than
              $112,500 if you’re the head of household (ex. single parents), you are eligible for a stimulus check, even
              if you do not have an income.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a5">
            How do I get my stimulus check?
          </button>
          <div class="accordion__content" id="a5">
            <p>
              If you filed your 2019 taxes, your economic impact payment (stimulus check) will be sent to you by the
              method you chose to receive your 2019 refund (either mailed to your mailing address or directly deposited
              to the bank account you provided on your 2019 taxes). If you haven’t filed for 2019, the IRS will use the
              information on your 2018 taxes.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a6">
            What if I need to change the information I provided in 2018 or 2019?
          </button>
          <div class="accordion__content" id="a6">
            <p>
              You can update your information on the IRS website. <%=link_to 'https://www.irs.gov/newsroom/how-to-use-the-tools-on-irsgov-to-get-your-economic-impact-payment', target: "_blank" do %>Please see this page for more info.<% end %>
            </p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a7">
            How do I get my stimulus check if I didn’t file my taxes in 2018 or 2019?
          </button>
          <div class="accordion__content" id="a7">
            <p>
              If you made more than $400, you should file your 2018 or 2019 taxes (which GetYourRefund.org can help you
              file online!) . If you have any earned income - any! - it will likely benefit you to file. If you’d like
              to talk to one of our tax specialists to see if you might get a refund by filing your taxes,
              <%=link_to 'mailto:hello@getyourrefund.org', target: "_blank" do %>chat with us<% end %> or start your
              taxes with us for free at GetYourRefund.org.
            </p>
          </div>
        </div>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a8">
            How do I get my stimulus check if I didn’t file my taxes in 2018 or 2019?
          </button>
          <div class="accordion__content" id="a8">
            <p>
              If you made more than $400, you should file your 2018 or 2019 taxes (which GetYourRefund.org can help you
              file online!) . If you have any earned income - any! - it will likely benefit you to file. If you’d like
              to talk to one of our tax specialists to see if you might get a refund by filing your taxes,
              <%=link_to 'mailto:hello@getyourrefund.org', target: "_blank" do %>chat with us<% end %> or start your
              taxes with us for free at GetYourRefund.org.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>