<% content_for :page_title, t("views.public_pages.maintenance.title") %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("construction.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">
            <%= content_for(:page_title) %>
          </h1>

          <div class="offboarding--help-text">
            <p>
              <%=t("views.public_pages.maintenance.info_html") %>
            </p>

            <p>
              <%=t("views.public_pages.maintenance.contact_html", :email_link => link_to(t("views.public_pages.maintenance.email"), "mailto:support@getyourrefund.org")) %>
            </p>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
