<% content_for :page_title, @welcome_text %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="offboarding--illustration">
            <%= image_tag("other-options.svg", alt: "") %>
          </div>
          <h1 class="offboarding--title">Let's find a way to help you!</h1>

          <div class="offboarding--help-text">
            <p>
              We are excited to help you with your taxes, but we need to verify your identity to get started. Identify verification is important to ensure that your information is safe and secure, but if it's not for you, you can learn about other free filing options below.
            </p>

            <p>
              <a href="mailto:hello@getyourrefund.org">Submit a question to GetYourRefund</a>
            </p>
          </div>
          <div class="offboarding--help-text">
            <p class="offboarding--subtitle">
              Try another free tax filing option
            </p>
            <p>
              If you'd like to file your taxes without the assistance of our staff and services, use the <a href="https://apps.irs.gov/app/freeFile/jsp/wizard.jsp" target="_blank">IRS Free File Lookup Tool</a> to find an online service that lets you prepare your own taxes for free.
            </p>
          </div>

          <div class="buttons--vertical-stack">
            <%= link_to vita_providers_path, class: "button button--primary button--wide text--centered" do %>
              Find a VITA site near you
            <% end %>
            <a href="https://apps.irs.gov/app/freeFile/jsp/wizard.jsp" target="_blank" class="button button--wide text--centered">
              Visit IRS Free File
            </a>
          </div>
        </main>
      </div>
    </div>
  </section>
</main>
