<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>
  <p><%= t(".subtitle")%></p>

  <%= render partial: "state_file/questions/shared/use_different_service" %>

  <%= render "state_file/questions/initiate_data_transfer/data_transfer_buttons" %>
<% end %>
