<% if client.needs_attention? %>
  <span class="needs-attention">
    <span class="needs-attention__dot"></span>
    <span class="needs-attention__screen-reader">Needs Attention</span>
  </span>
<% end %>