<% if client.needs_attention? %>
  <span class="needs-attention-wrapper">
    <i class="needs-attention" aria-hidden="true"></i>
    <span class="sr-only"><%= t("general.needs_attention") %></span>
  </span>
<% end %>