<% if client.needs_response? %>
  <div class="needs-response-wrapper">
    <i class="needs-response" aria-hidden="true"></i>
    <div class="sr-only">Needs Response</div>
  </div>
<% else %>
<% end %>