<h1 class="h2"><%= @main_heading %></h1>
<p>
  You understand the information you provide this site (GetYourRefund.org) is sent to a Volunteer Income Tax Assistance
  (VITA) preparation site in order for an IRS-certified volunteer to review your information, conduct an intake
  interview on the phone, prepare the tax return, and perform a quality review before filing your taxes.
</p>
<p>
  You agree to the terms of the GetYourRefund privacy policy at
  <%= link_to privacy_path do %>www.GetYourRefund.org/privacy
  <% end %>
</p>
<p>
  By proceeding, you confirm that the following statements are true and complete to the best of your knowledge.
</p>
<div class="consent-details">
  <h2 class="h3">The Details</h2>
  <p>
    I understand that I must provide all required information/documentation necessary to prepare an accurate tax return.
  </p>
  <p>
    I understand that this site collects personally identifiable information I provide
    (social security numbers, Form W-2 and/or 1099, picture identification, and other documents)
    in order to prepare and quality review my tax return.
  </p>
  <p>
    I understand that I will need to participate in an Intake Interview and Quality Review via phone in
    order to have a VITA preparation site file my taxes.
  </p>
  <p>
    I understand that GetYourRefund.org is a website run by Code for America, a non-profit organization,
    that will submit your tax information to a VITA preparation site.
  </p>
  <p>
    Intake Process - GetYourRefund will collect your information and documentation through the intake
    process in order to accurately prepare your tax return.
  </p>
  <p>
    Return Preparation Process - GetYourRefund will use your information/documentation to complete a tax return.
  </p>
  <p>
    Quality Review Process - GetYourRefund will provide you with your return to review for accuracy prior to submission.
  </p>
  <p>
    I understand that I may be contacted for additional information using a contact preference I provide.
    If the preparer has everything required to prepare the return, I will not be contacted until the return is
    completed.
  </p>
  <p>
    I understand I need to review my completed tax return to ensure the names, social security numbers,
    address, banking information, income, and expenses are correct to the best of my knowledge.
  </p>
  <p>
    I understand that I will need to sign Form 8879, IRS e-file Signature Authorization, through an
    electronic signature delivered via email after Quality Review is completed in order for a VITA preparation site to
    e-file my tax return.
  </p>
  <p>
    I understand that me and my spouse (if applicable) are ultimately responsible for all of the information
    provided to GetYourRefund.
  </p>
  <p>
    This consent form replaces IRS Form 14446-Virtual VITA/TCE Taxpayer Consent. A copy of this consent will
    be retained on site, as required by the IRS.
  </p>
  <p>
    By signing below, you agree to participate in the process and consent
    to allow GetYourRefund assist you with your taxes. You agree to the terms of the GetYourRefund privacy
    policy at www.GetYourRefund.org/privacy.
  </p>
</div>

