<div class="notice--warning">
  <p>
    <%=t("shared.covid_warning.notice_html", :free_file_link => link_to(t("general.free_file_lookup_tool"), "https://apps.irs.gov/app/freeFile/jsp/wizard.jsp", target: "_blank", rel: "noopener", data: { track_click: "freefile" })) %>
  </p>
</div>