<div class="notice--warning">
  <p>
    Due to COVID-19, a number of VITA sites and all TCE sites are closed for an undetermined period of time.
    Please call a site before visiting to confirm hours.
    To get connected with a VITA site online and have a VITA site assist you with your taxes remotely, visit GetYourRefund.org and click "Get Started."
    You can also visit the <a href="https://apps.irs.gov/app/freeFile/jsp/wizard.jsp" target="_blank" rel="noopener">IRS Free File Online Lookup Tool</a> to find other free online tax preparation tools.
  </p>
</div>