<div class="client-navigation tab-bar is-selected">
    <%= tab_navigation_link(t("hub.assigned_clients.index.title"), hub_root_path) %>
    <%= tab_navigation_link(t("hub.clients.index.title"), hub_clients_path) %>
</div>