<div class="client-navigation tab-bar is-selected">
    <%= tab_navigation_link("Dashboard", case_management_root_path) %>
    <%= tab_navigation_link("All Clients", case_management_clients_path) %>
</div>