<div id="filing-status-fields" class="hub-form__card card-small">
  <h3><%= t("hub.clients.fields.filing_status") %></h3>
  <div class="hub-form__radio-set">
    <%= f.cfa_radio_set(
        :filing_status,
        collection: [{value: "single", label: t("general.filing_status.single")}, {value: "married_filing_jointly", label: t("general.filing_status.married_filing_jointly")}]
    ) %>
  </div>
</div>
