<div class="hub-form__card card-small">
  <h3>ITIN options</h3>
  <%= f.hub_checkbox(:used_itin_certifying_acceptance_agent, "Used a Certifying Acceptance Agent", options: { classes: ["checkbox--wide"] }) %>
</div>
