<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to hub_clients_path, class: "toolbar__logo-text main-header__logo" do %>
          The Hub
        <% end %>
      </div>
    </div>
    <div class="toolbar__right">
      <% if I18n.locale != :en %>
        <%= link_to_english(class: "toolbar__item text--small") %>
      <% end %>
      <% if I18n.locale != :es %>
        <%= link_to_spanish(class: "toolbar__item text--small") %>
      <% end %>
      <%= yield :toolbar_right %>
    </div>
  </div>
</header>
