<div class="slab slab--banner">
  <div class="grid">
    <div class="grid__item">
      <% end_of_intake = Rails.configuration.end_of_intake %>
      <% end_of_login = Rails.configuration.end_of_login %>
      <%= t("views.shared.environment_warning.off_season_filing",
            end_of_intake_month: I18n.l(end_of_intake, format: "%B", locale: locale),
            end_of_intake_day: locale == :en ? end_of_intake.day.ordinalize : end_of_intake.day,
            end_of_login_month: I18n.l(end_of_login, format: "%B", locale: locale),
            end_of_login_day: locale == :en ? end_of_login.day.ordinalize : end_of_login.day,
            year: Time.now.year) %>
    </div>
  </div>
</div>