<li class="partner-logos__listing">
  <%= link_to website, target: "_blank", title: "#{name} Homepage" do %>
    <%= image_tag "questions/partner-logos/#{image_name}.svg", alt: name, style: "#{style}" %>
  <% end %>
</li>