<div id="prior-agi">
  <div class="hub-form__card card-small">
    <h3>Prior Tax Year Adjusted Gross Income (Form 1040 Line 11)</h3>
    <p>If the client filed taxes in 2019, these fields must have accurate values.</p>
    <%= f.cfa_input_field(:primary_prior_year_agi_amount, "Primary Prior Tax Year (2019) AGI") %>
    <%= f.cfa_input_field(:spouse_prior_year_agi_amount, "Spouse Prior Tax Year (2019) AGI") %>
  </div>
</div>
