<div id="prior-agi">
  <div class="hub-form__card card-small">
    <h3>Prior Tax Year Adjusted Gross Income</h3>
    <p>If the client filed taxes in 2019, either AGI field(s) or PIN field(s) must have accurate values.</p>
    <p>If PIN(s) are provided, PIN will be sent on the return. Otherwise, AGI is used.</p>
    <%= f.cfa_input_field(:primary_prior_year_agi_amount, "Primary 2019 AGI (Form 1040 8b)") %>
    <%= f.cfa_input_field(:spouse_prior_year_agi_amount, "Spouse 2019 AGI (Form 1040b)") %>
    <%= f.cfa_input_field(:primary_prior_year_signature_pin, "Primary 2019 Signature PIN") %>
    <%= f.cfa_input_field(:spouse_prior_year_signature_pin, "Spouse 2019 Signature PIN") %>
  </div>
</div>
