<% if show_progress? && current_intake.present? %>
  <div class="progress-indicator">
    <div class="progress-indicator__bar" style="width:<%= IntakeProgressCalculator.get_progress(controller.class, current_intake) %>%"></div>
    <div class="progress-indicator__percentage"><%= IntakeProgressCalculator.get_progress(controller.class, current_intake) %>%</div>
  </div>
<% end %>