<div class="tax-return-list__status label label--status" data-status="<%= tax_return.status %>">
  <%= stage_translation_from_status(tax_return.status) %>/<%= status_translation(tax_return.status) %>
</div>