<div class="tax-return-list__status label label--status" data-status="<%= tax_return.current_state %>">
  <%= stage_translation_from_status(tax_return.current_state) %>/<%= status_translation(tax_return.current_state) %>
</div>