<ul class="tax-return-assignees">
  <% client.tax_returns.each do |tax_return| %>
    <li id="tax-return-<%= tax_return.id %>">
      <span><%= tax_return.year %></span>
      <span>
        <% if tax_return.assigned_user.present? %>
          <%= tax_return.assigned_user&.name %>
        <% else %>
          <%= link_to t("general.assign"),
                      edit_case_management_client_tax_return_path(client_id: client.id, id: tax_return.id),
                      class: "button button--inline-action" %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>