<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h1><%=  "#{@attempt_count} clients to be verified" %></h1>
      </div>
    </div>
  </div>
<% end %>