
<!--some code here just to test if I can get to this page-->

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-one-whole">
        <h1><%= "Verification Attempts page...will this work??" %></h1>
        <h1><%=  "#{@attempt_count} clients to be verified" %></h1>

<% end %>