<% if current_intake.puerto_rico_filing? %>
  <% content_for :form_question, t("views.ctc.questions.already_filed.puerto_rico.title", current_tax_year: MultiTenantService.new(:ctc).current_tax_year) %>
  <% content_for :form_help_text do %>
    <%= t("views.ctc.questions.already_filed.puerto_rico.help_text_html") %>
    <div class="reveal-shrink-wrapper spacing-above-15">
      <%= render('components/molecules/reveal', title: t("views.ctc.questions.already_filed.puerto_rico.reveal.title")) do %>
        <p><%= t("views.ctc.questions.already_filed.puerto_rico.reveal.content_title") %></p>
        <ul class="list--bulleted">
            <% t("views.ctc.questions.already_filed.puerto_rico.reveal.list_content").each do |item| %>
                <li><%= item %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% content_for :form_question, t("views.ctc.questions.already_filed.title", current_tax_year: MultiTenantService.new(:ctc).current_tax_year) %>
  <% content_for :form_help_text, t("views.ctc.questions.already_filed.help_text_html") %>
<% end %>
