<% content_for :page_title, @page_title %>

<% content_for :card do %>
  <section class="slab slab--padded client-index-header">
    <%= render "shared/user_header" %>
  </section>
  <%= render "shared/dashboard_navigation" %>

  <section class="slab slab--padded">
      <%#= render "#{n.notifiable_name}", tra: n.notifiable %>
<!--      #scorify?-->
    <% @all_notifications_by_day.map do |date, notificiations| %>
      <div class="day-heading"><%= default_date_format(date) %></div>
      <% notificiations.map do |n| %>
        <%= render "tax_return_assigned", tra: n.notifiable %>
      <% end %>
    <% end %>
  </section>
<% end %>