<% content_for :page_title, t('.title') %>

<% content_for :form_card do %>
  <h1 class="form-question">
    <%= content_for(:page_title) %>
  </h1>

  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <%= f.cfa_radio_set(
        :id_type,
        collection: [
        { value: :have_id, label: t(".ssn_itin_type.have_id") },
        { value: :know_number, label: t(".ssn_itin_type.know_number") },
        { value: :need_itin_help, label: t(".ssn_itin_type.need_itin_help") },
      ]
    )
    %>

    <div class="spacing-above-60">
      <%= f.submit t("general.continue"), class: "button button--primary button--wide text--centered" %>
    </div>
  <% end %>
<% end %>
