<% content_for :page_title, t(".notifications_settings.campaign_messages.title") %>

<section class="slab slab--white slab--not-padded question-layout">
  <div class="grid">
    <div class="grid__item one-half">
      <h1 class="h2"><%= content_for(:page_title) %></h1>

      <p>
        <%= t("notifications_settings.unsubscribe_from_emails.mistake") %>
        <%= link_to t("notifications_settings.unsubscribe_from_emails.link_text"), subscribe_to_campaign_emails(email_address: params[:email_address]), method: :post %>
      </p>

      <p><%= t("notifications_settings.unsubscribe_from_emails.help_text_html") %></p>
    </div>
  </div>
</section>
