<div>
      <span>
        <span class="form-question">
          Dependent Type:
        </span>
        <span class="label-value">
          <% if dependent.yr_2020_qualifying_child? %>
            Qualifying Child
          <% elsif dependent.yr_2020_qualifying_relative? %>
            Qualifying Relative
          <% else %>
            Nonqualifying
          <% end %>
        </span>
      </span>
</div>
<div class="spacing-above-5">
  <% if dependent.eligible_for_child_tax_credit_2020? %>
    <span class="label">CTC</span>
  <% end %>
  <% if dependent.eligible_for_eip1? %>
    <span class="label">EIP1</span>
  <% end %>
  <% if dependent.eligible_for_eip2? %>
    <span class="label">EIP2</span>
  <% end %>
  <% if dependent.eligible_for_eip3? %>
    <span class="label">EIP3</span>
  <% end %>
  <% if dependent.soft_deleted_at.present? %>
    <span class="label label--red">REMOVED</span>
  <% end %>
</div>
