<% content_for :form_question, t("views.ctc.questions.dependents.child_claim_anyway.title", name: @form.dependent.first_name&.titleize) %>
<% content_for :form_help_text do %>
  <%= t("views.ctc.questions.dependents.child_claim_anyway.help_text_html", name: @form.dependent.first_name&.titleize) %>

  <%= render('components/molecules/reveal', title: t("views.ctc.questions.dependents.child_claim_anyway.not_sure_reveal.title")) do %>
    <p> <%= t("views.ctc.questions.dependents.child_claim_anyway.not_sure_reveal.p") %> </p>
    <ul class="list--bulleted">
      <% t("views.ctc.questions.dependents.child_claim_anyway.not_sure_reveal.items", current_tax_year: current_tax_year).each do |item| %>
        <li> <%= item %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
