<% content_for :page_title, "Sign in with ID.me" %>
<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="form-card">
            <h1 class="form-question">
              Sign in
            </h1>

            <div class="question__illustration">
              <%= image_tag("questions/#{illustration_path}", alt: "") %>
            </div>

            <%= link_to idme_sign_in_path(after_login: params[:after_login]), class: "button button--primary button--wide text--centered", method: :post do %>
              Sign in with <span class="sr-only">ID.me</span> <%= image_tag("ID.me.svg", alt: "", class: "button-logo--inline") %>
            <% end %>

            <p>
              We are partnering with ID.me to protect your digital identity and ensure that your personal information is accurate and secure.
            </p>

            <p>
              <a href="https://www.id.me/individuals/government" target="_blank">
                For more information, please visit ID.me.
              </a>
            </p>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
