<% content_for :form_question, t("views.documents.spouse_ssn_itins.expanded_id.title") %>

<% content_for :form_help_content do %>
  <p>
    <%=t("views.documents.ssn_itins.expanded_id.help_text") %>
  </p>
  <div class="notice--warning">
    <%=t("views.documents.ssn_itins.expanded_id.box") %>
  </div>
<% end %>
