Several other commercial tax preparation services offer state-only tax filing. Here are a few tips and tricks when choosing an option:
<ol>
  <li>
    • Since you’ve already submitted your federal tax return, make sure the service or software you use allows you to file a state-only tax return.
    You may need to reach out to their customer support to confirm.
  </li>
  <li>
    • You’ll be asked to reenter or provide the same information you reported on your federal return. This information is
    needed to complete parts of your state return.
  </li>
  <li>
    • When you file, make sure you only submit your state tax return. If you submit your federal return again, your federal return may be rejected.
  </li>
  <li>• Additional fees may apply.</li>
</ol>
