<% title = t('.title') %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <p><%= t('.offboarding_reason', reason: ineligible_reason) %></p>

  <%= render 'state_file/questions/eligibility_offboarding/other_options' %>

<% end %>
