<div class="spacing-above-15">
  <div class="toolbar toolbar--wrap-when-small toolbar--hide-text-when-small">
    <div class="toolbar__left">
      <div class="media-box">
        <div class="media-box__media media--icon">
          <%= image_tag "vitamin.png", alt: "vitamin illustration" %>
        </div>
        <div class="media-box__content text--small text--semibold">Vita-min</div>
      </div>
    </div>
    <div class="toolbar__right">
      <a class="toolbar__item text--small link--subtle" href="https://www.codeforamerica.org" target="_blank">Code for America</a>
      <a class="toolbar__item text--small link--subtle" href="https://en.wikipedia.org/wiki/Earned_income_tax_credit" target="_blank">EITC</a>
      <a class="toolbar__item text--small link--subtle" href="https://www.codeforamerica.org/focus-areas/workforce-development" target="_blank">EITC@CfA</a>
    </div>
  </div>
</div>

<div class="slab slab--hero">
  <div class="grid">
    <div class="grid__item width-two-thirds">
      <h1>
        Find VITA help near you!
      </h1>
      <p>This is the placeholder page for a new national VITA site, part of the EITC program at Code for America.</p>
    </div>
  </div>
</div>
