<div class="hub-form">
  <%= form_for(@form, url: hub_client_outbound_calls_path, method: :post, local: true, builder: VitaMinFormBuilder) do |f| %>
    <%= f.cfa_input_field(:user_phone_number,
                          "Your phone number",
                          type: 'phone',
                          classes: ['form-width--phone'],
                          ) %>
    <%= f.cfa_input_field(:client_phone_number,
                          "Client phone number",
                          type: 'phone',
                          classes: ['form-width--phone'],
                          ) %>

    <div class="actions">
      <%= f.submit "Call", class: "button button--primary" %>
    </div>
  <% end %>
</div>

