<div class="hub-form spacing-above-25 spacing-below-25">
  <p>A call is being initialized to the phone number you provided.</p>
  <p>When you answer, we'll attempt to connect you to the client phone number you provided.</p>
  <p>You don't need to remain on this page to continue this call.</p>
  <%= link_to "Back to client", hub_client_path(id: @client.id), class: "button button--primary button--small" %>
</div>