<% @main_heading = "Admin Tools" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1><%= @main_heading %></h1>

      <%= link_to hub_ctc_intake_capacity_index_path, class: "button button--small" do %>
        CTC Capacity
      <% end %>

      <%= link_to Hub::AdminTogglesController.to_path_helper(action: :index, name: AdminToggle::FORWARD_MESSAGES_TO_INTERCOM), class: "button button--small" do %>
        Intercom Message Forwarding
      <% end %>

      <%= link_to hub_state_routings_path, class: "button button--small" do %>
        Routing
      <% end %>
    </div>
  </div>
<% end %>
