<% @main_heading = "Admin Tools" %>
<% content_for :page_title, @main_heading %>

<% content_for :card do %>
  <div class="slab">
    <div class="grid">
      <h1>Get Your Refund Actions</h1>

      <%= render 'tools_table', actions: @actions %>

      <% if @state_file_actions.present? %>
      <h2>State File Actions</h2>
      <%= render 'tools_table', actions: @state_file_actions %>
      <% end %>

      <h2>Deprecated Actions</h2>
      <%= render 'tools_table', actions: @deprecated_actions %>
    </div>
  </div>
<% end %>
