<div data-component="ClientMenuComponent" class="client-menu" data-target="toggle">
  <div class="container">
    <div>
      <div class="client-menu-item">
        <%= link_to t("general.about"), about_us_path %>
      </div>
      <div class="client-menu-item">
        <%= link_to t("general.faq"), state_faq_path(us_state: "us") %>
      </div>

      <% if I18n.locale != :en %>
        <div class="client-menu-item">
          <%= link_to_english %>
        </div>
      <% end %>

      <% if I18n.locale != :es %>
        <div class="client-menu-item">
          <%= link_to_spanish %>
        </div>
      <% end %>

    </div>
  </div>
</div>
