<!--TODO - Fill in links when we have them-->

<% @faq_category.each do |category| %>
  <div class="spacing-above-15">
    <%= link_to category.name_en, "" %>
  </div>
<% end %>

<div class="spacing-above-15 spacing-below-15">
  <%= t("state_file.state_file_pages.about_page.answers_here_html", answers_url: '') %>
</div>
