<header class="main-header sticky-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <div class="toolbar__item main-header__title">
        <%= link_to state_file_root_path, class: "toolbar__logo-text main-header__logo" do %>
          FileYourStateTaxes
        <% end %>
      </div>
    </div>
  </div>
</header>