<% product_type = state == 'az' ? :state_file_az : :state_file_ny %>
<% categories = FaqCategory.where(product_type: product_type) %>
<% categories.each do |cat| %>
  <div class="spacing-above-15">
    <%= link_to cat.name(I18n.locale), state_faq_section_path(section_key: cat.slug, us_state: state) %>
  </div>
<% end %>
