<div style="width: 400px; margin: 50px;">
  <h1>Your 2023 federal tax return is ready to transfer to your state tax return.</h1>

  <style>
      .transfer-button {
          text-align: center;
          font-size: 24px;
          border: 1px solid #7a7ab7;
          background: #d5bdd5;
          display: inline-block;
          border-radius: 3px;
          padding: 5px;
          margin-bottom: 10px;
      }

      .cancel-button {
          text-align: center;
          font-size: 24px;
          color: #ef1831;
          border: 1px solid #ef1831;
          background: #d5bdbd;
          display: block;
          border-radius: 3px;
          padding: 5px;
          margin-bottom: 10px;
      }
  </style>
  <%=
    link_to(
      "Transfer my 2023 federal tax return to FileYourStateTaxes",
      @main_transfer_url,
      class: 'transfer-button'
    )
  %>

  <%=
    link_to(
      "Cancel",
      StateFile::Questions::CanceledDataTransferController.to_path_helper(us_state: current_intake.state_code), # see _state_file_intercom.html.erb line 17
      class: 'cancel-button'
    )
  %>

  <%=
    link_to(
      "See page for pending federal return",
      StateFile::Questions::PendingFederalReturnController.to_path_helper(us_state: current_intake.state_code), # see _state_file_intercom.html.erb line 17
    )
  %>

  <% @xml_samples.each do |label, url| %>
    <%= link_to("Transfer " + label, url, class: 'transfer-button') %>
  <% end %>
</div>
