<h1>This is a sample State File website.</h1>

<%= link_to "Start Test AZ", StateFileQuestionNavigation::FLOW.first.to_path_helper(state: "AZ"), class: "button" %>
<%= link_to "Start Test NY", StateFileQuestionNavigation::FLOW.first.to_path_helper(state: "NY"), class: "button" %>
