<% content_for :page_title, t(@sign_in_closed ? ".title" : ".title_sign_in_closed") %>
<h1 class="h2"><%= content_for(:page_title) %></h1>

<% unless @sign_in_closed %>
  <p><%= t(".help_text_html", link: root_path) %></p>
<% end %>

<% if Flipper.enabled?(:sms_notifications) %>
<p>
  <%= link_to t(".phone_number_signin"),
              StateFile::IntakeLoginsController.to_path_helper(action: :new, contact_method: "sms_phone_number", us_state: params[:us_state]),
              class: "button button--wide" %>
</p>
<% end %>

<p>
  <%= link_to t(".email_signin"),
              StateFile::IntakeLoginsController.to_path_helper(action: :new, contact_method: "email_address", us_state: params[:us_state]),
              class: "button button--wide" %>
</p>
