<% content_for :form_card do %>
  <h1 class="form-question">Your tax information has been successfully submitted!</h1>
  <p>Submitted at <%= Time.now.strftime("%l:%M%P on %B %-d, %Y") %>.</p>

  <h2 class="h3">What to expect next</h2>
  <p>You should receive a confirmation by text message shortly.</p>
  <p>Our tax preparers will review your situation and be in touch within the next few days.</p>
<% end %>