<% title = t(".title") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>
  <p><%= t('.description') %></p>

  <%= render "state_file/questions/initiate_data_transfer/data_transfer_buttons" %>

  <div><%= t('.button_help_text') %></div>
<% end %>
