<div class="spacing-below-10">
  <p class="text--small">
    <%=t(".download_pdf") %>
  </p>
</div>

<%= link_to next_path, class: "button button--primary button--wide spacing-above-35 spacing-below-15" do %>
  <%= t("general.continue") %>
<% end %>