<% @main_heading = "Fake page" %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--yes-no" } do |f| %>

    <p>Just a placehodlera page before we put the real stuff in here later, okay?</p>

    <button class="button button--primary button--wide" type="submit">
       Go
    </button>
  <% end %>
<% end %>
