<% content_for :page_title, "Placeholder -- Coming soon" %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--long" } do |f| %>
    <h1 class="h2"><%= content_for(:page_title) %></h1>
    <p>
      You've tested everything we've made so far. Come back later for more.
    </p>
  <% end %>
<% end %>
