.welcome {
  a {
    text-decoration: none;
  }

  a:focus {
    box-shadow: none;
  }

  .link-box {
    border: 0.1rem solid #a0a0a0;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    &:hover {
      background: #f7f5f4;
    }

    .link-box--content {
      display: flex;
      align-items: center;

      h2 {
        font-size: 1.9rem;
        font-weight: bold;
        margin-bottom: 1rem;
        line-height: 2.5rem;
      }

      p {
        font-size: 1.6rem;
        color: #000000;
        margin-bottom: 0;
      }

      h2.file-myself {
        color: $color-purple;
      }

      h2.ask-a-question {
        color: $color-orange-dark;
      }

      h2.get-your-stimulus {
        color: $color-venice-blue;
      }

      img {
        margin-right: 3.6rem;
      }
    }

    .arrow {
      margin-left: 1.5rem;
    }
  }
}
