<div class="label-indented">
  <div><strong><%= dependent.full_name %></strong><%= ", #{translated_relationship(dependent.relationship)}" if dependent.relationship.present? %></div>
  <div><%= default_date_format(dependent.birth_date) %></div>
</div>