<div class="spacing-above-10" style="padding-left: 2.5rem;">
  <div><strong><%= dependent.full_name %></strong><%= ", #{translated_relationship(dependent.relationship)}" if dependent.relationship.present? %></div>
  <div><%= default_date_format(dependent.birth_date) %></div>
</div>