.highlight-box {
  padding: 2rem;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.highlight-box--blue {
  background-color: #EBF9FC;
}

.highlight-box--yellow {
  background-color: #FEF8EB;
}

.note-box {
  padding: 2rem;
  background-color: $color-white;
  border: 1px solid $color-black;
}

.list-item--check {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  i {
    padding-right: 1.5rem;
  }
}