.dependents-index {
  .dependent {
    display: flex;
    margin-bottom: 2.5rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &__details {
      display: inline-block;
      margin-left: 3rem;
    }
    &__label {
      font-weight: normal;
    }
  }
}