.diy-start-filing {
  ul.list--bulleted.purple-bullets {
    list-style: none;
    padding-left: 4.75rem - 2.9rem;

    li::before {
      content: "•";
      color: $color-purple;
      display: inline-block;
      width: 1.5rem;
      margin-left: -1.9rem;
    }
  }
}
