.document-list {
  ul {
    margin: 0;

    li {
      display: flex;
    }
  }
}

.document-list__icon-wrapper {
  flex-shrink: 0;
  margin-right: 3rem;
  margin-top: 0.2rem;
}

.document-list__icon {
  width: 1.6rem;
}

.document-list__item-text {
  margin: 0;
}