.steps--wrapper {
  .step {
    display: flex;
    @extend .spacing-below-35;

    h3 {
      margin-bottom: 1rem;
    }

    .step-icon-wrapper {
      width: 3rem;
      height: 3.5rem;
      margin-right: 2.5rem;

      img {
        height: 100%;
      }

      &.dollar-sign {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
      }
    }
  }

  .step:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 600px) {
    .step-text {
      p {
        max-width: 24rem;
      }
    }
  }
}
