.portal-layout {
  padding-top: 2.5rem;
  padding-bottom: 6rem;

  .form-card__content {
    margin-bottom: 6rem;

    .h2 {
      margin-bottom: 1rem;
    }
  }

  .button {
    text-align: center;
  }

  a.back:visited {
    color: inherit;
  }

  .textarea {
    border-radius: 3px;
  }

  .portal-message-form {
    .form-question {
      font-size: 1.9rem;
      margin-bottom: 2.5rem;
    }
    .textarea {
      height: 200px;
    }
  }
}

.message-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media screen and (max-width: $mobile-up) {
    .grid-flex {
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 1.5rem;
      }
    }
  }

  a:visited {
    color: $color-link-default;
  }
}

