<ul class="list--bulleted">
  <li><%= t(".increased_deduction") %></li>
  <li><a href="https://azdor.gov/individuals/income-tax-filing-assistance/deductions-and-exemptions" target="_blank" rel="noopener nofollow"><%= t(".dependent_credit") %></a></li>
  <li><a href="https://azdor.gov/individuals/income-tax-filing-assistance/tax-credits" target="_blank" rel="noopener nofollow"><%= t(".family_income_credit") %></a></li>
  <li><a href="https://azdor.gov/forms/tax-credits-forms/credit-increased-excise-taxes" target="_blank" rel="noopener nofollow"><%= t(".increased_excise_credit") %></a></li>
</ul>