<div class="spacing-below-25">
  <ul class="list--bulleted">
    <%=t('.unsupported_html') %>
  </ul>
</div>

<div class="spacing-below-25">
  <b><%=t('.also_unsupported_title') %></b>
  <ul class="list--bulleted">
    <%=t('.also_unsupported_html') %>
  </ul>
</div>