<div class="reveal">
  <p><button class="reveal__button"><%= t("state_file.questions.eligible.edit.credits_not_supported")%></button></p>

  <div class="reveal__content">
    <div class="spacing-below-25">
      <ul class="list--bulleted">
        <%=t('.unsupported_html') %>
      </ul>
    </div>

    <div class="spacing-below-25">
      <b><%=t('.also_unsupported_title') %></b>
      <ul class="list--bulleted">
        <%=t('.also_unsupported_html') %>
      </ul>
    </div>
  </div>
</div>