<p><%=t('state_file.questions.eligible.vita_option.want_to_claim_vita_1', state_name: current_state_name) %></p>

<% # i18n-tasks-use t('state_file.questions.eligible.vita_option.vita_eligibility_reveal.nj') # hint for the i18n linter that, yes, we are using this key %>
<% vita_link_key = "state_file.questions.eligible.vita_option.vita_eligibility_reveal.#{current_state_code}" %>
<% vita_link_href = StateFile::StateInformationService.send("vita_link_#{I18n.locale}", current_state_code) %>
<% faq_link_href = state_faq_path(us_state: current_state_code) %>
<% vita_link = t(vita_link_key, faq_link_href: faq_link_href, vita_link_href: vita_link_href, default: '') %>
<%= vita_link.html_safe if vita_link.present? %>
<%=t('state_file.questions.eligible.vita_option.want_to_claim_learn_more_html', link: @faq_other_options_link) %>
