<p><%=t('state_file.questions.eligible.vita_option.want_to_claim_vita_1', state_name: current_state_name) %></p>
<p><%=t('state_file.questions.eligible.vita_option.want_to_claim_vita_2') %></p>

<%=t('state_file.questions.eligible.vita_option.want_to_claim_learn_more_html', link: @faq_other_options_link) %>

