<div id="faq-header-buttons spacing-below-0">
    <%= link_to t("general.delete"), hub_faq_category_path(id: category),
                method: :delete, class: "button button--danger spacing-below-0",
                data: { confirm: "Are you sure you want to delete this FAQ category and all its FAQ items?" }
    %>
    <%= link_to "Edit", edit_hub_faq_category_path(id: category.id), class: "button button--primary" %>
    <%= link_to "Add new FAQ Item", new_hub_faq_category_faq_item_path(category.id), class: "button" %>
</div>