<% @main_heading = t("views.questions.additional_info.title") %>
<% content_for :form_question, @main_heading %>

<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: { class: "form-card form-card--yes-no" } do |f| %>
    <%= f.cfa_input_field(:additional_info, @main_heading, help_text: t("views.questions.additional_info.help_text")) %>

    <button class="button button--primary" type="submit">
      <%=t("general.next") %>
      <i class="button__icon icon-arrow_forward"></i>
    </button>
  <% end %>
<% end %>
