<% @main_heading = t('views.consent_pages.global_carryforward.title') %>
<% content_for :page_title, @main_heading %>

<h1><%= @main_heading %></h1>

<div class="spacing-below-60">
  <%=  simple_format(t('views.consent_pages.global_carryforward.content_html')) %>
</div>