<% title = t(".title") %>

<% content_for :page_title, title %>
<% content_for :card do %>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <div class="blue-group">
      <%= f.cfa_radio_set(
            :eligibility_out_of_state_income,
            label_text: t(".out_of_state_income_html"),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <div class="blue-group">
      <%= f.cfa_radio_set(
            :eligibility_part_year_nyc_resident,
            label_text: t(".part_year_nyc_resident_html"),
            collection: [
              { value: "yes", label: t("general.affirmative") },
              { value: "no", label: t("general.negative") },
            ]
          ) %>
    </div>

    <%= f.continue %>
  <% end %>
<% end %>
