<% content_for :page_title, t("views.ctc.questions.dependents.qualifying_relative.title", current_tax_year: current_tax_year) %>
<% content_for :form_question, t("views.ctc.questions.dependents.qualifying_relative.title_html", current_tax_year: current_tax_year) %>
<% name = @form.dependent.first_name&.titleize %>

<% content_for :form_help_text do %>
  <ul class="checkmark-list teal">
    <% t("views.ctc.questions.dependents.qualifying_relative.help_text.in_items", name: name).each do |item| %>
      <li> <%= item %></li>
    <% end %>
  </ul>
  <ul class="crossmark-list">
    <% t("views.ctc.questions.dependents.qualifying_relative.help_text.out_items", name: name).each do |item| %>
      <li> <%= item %></li>
    <% end %>
  </ul>
<% end %>