<div class="breadcrumb">
  <div class="grid">
    <div class="grid__item width-one-whole">
      &lt; <%= link_to user_return_link_name, user_return_link_path, class: 'breadcrumb-item' %>
    </div>
  </div>
</div>