<% content_for :page_title, "Requested Documents Successfully Uploaded" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="text--centered with-padding-med">
        <%= image_tag("questions/successfully-submitted.svg", alt: "") %>
      </div>
      <div class="grid__item with-padding-large">

        <h1 class="form-question">
          Thank you! Your documents have been submitted.
        </h1>

        <p>
          Your tax preparer will reach out with updates and any additional questions within 3 business days.
        </p>
      </div>
      <div class="text--centered">
        <%= link_to root_path, class: "button button--primary button--wide", style: "margin: 0 auto" do %>
          Return to home
        <% end %>
      </div>
    </div>

  </section>
<% end %>