<% content_for :page_title do %>
  Sent for prep! Zendesk Ticket ID: <%= @drop_off.zendesk_ticket_id %>
<% end %>
<main class="main">
  <section class="slab">
    <div class="grid">
      <div class="grid__item width-two-thirds shift-one-sixth">
        <div class="form-card">
          <header class="form-card__header">
            <h1 class="form-card__title">New drop-off sent for prep!</h1>
          </header>

          <div class="form-card__content">
            <h2>Zendesk Ticket ID: <%= @drop_off.zendesk_ticket_id %></h2>


            <%= link_to new_intake_site_drop_off_path, class: "button button--primary" do %>
              <i class="button__icon icon-add"></i>
              Add another drop-off
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>