<div class="text-message-length-limiter spacing-below-15">
  <span data-target="length-counter">0</span> / 900 characters used.
  <span data-target="error-message" class="hidden">Character count must be reduced to send this message.</span>
</div>
