<% state_full_name = params[:us_state] == "ny" ? "New York" : "Arizona" %>
<% title = t(".title", state: state_full_name) %>
<h1 class="h2"><%= title %></h1>
<div class="spacing-below-35 spacing-above-35">
<%= render 'state_file/state_file_pages/state_taxpayers', state: params[:us_state] %>
</div>