<div class="spacing-above-35">
  <% @categories.each do |state_code, data| %>
    <h1 class="h2"><%= t('.title', state: data[:state_name]) %></h1>
    <div class="spacing-below-35 spacing-above-35">
      <% data[:categories]&.each do |cat| %>
        <div class="spacing-above-15">
          <%= link_to cat.name(I18n.locale), state_faq_section_path(section_key: cat.slug, us_state: state_code) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
