<% content_for :page_title, t("views.public_pages.faq.title") %>
  <h1 class="h2"><%= @faq_category.name(I18n.locale) %></h1>

  <% @faq_category.faq_items.each do |faq_item| %>
    <div class="blue-group">
      <p><strong><%= faq_item.question(I18n.locale) %></strong></p>
      <div class="list--bulleted bulleted">
        <%= faq_item.answer(I18n.locale) %>
      </div>
    </div>
  <% end %>