.actions-wrapper {
  position: relative;
  .button {
    position: absolute;
    right: 0;
    bottom: $s15;
    margin-bottom: 0;
    &:active {
      top: auto; // override default top: 1 for active buttons
      bottom: $s15 - 0.1rem;
    }
  }
}