.button {
  box-shadow: none;
  border-width: 3px;
}

.button--primary {
  background-color: black;
  border-color: black;
  box-shadow: none;

  &:hover {
    background-color: #303030;
    border-color: #303030;
  }
  &:active {
    background-color: #303030;
    border-color: #303030;
  }
}

.button--inline-action {
  border-radius: 0.5rem;
  border-width: 2px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  padding: 0 1rem;
}

.button--cta {
  background-color: #008060;
  color: white;
  border: none;
  &:active {
    background-color: #034E46;
    color: white;
  }
  &:hover {
    background-color: #034E46;
    color: white;
  }
}

.button--danger {
  border-color: #D70A40;
  color: #D70A40;

  &:active {
    background-color: #F7F5F4;
    color: #D70A40;
  }

  &:hover {
    background-color: #F7F5F4;
    color: #D70A40;
  }
}

.button--wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;

  @media screen and (min-width: $tablet-up) {
    width: 34.5rem;
  }
}

.button--icon {
  display: flex;
  align-items: center;

  img:first-child {
    margin-right: 1.5rem;
  }
}

.button--icon.button--centered {
  justify-content: center;
}

.button-logo--inline {
  margin-left: 0.5rem;
}
