.button {
  box-shadow: none;
  border-width: 3px;
}

.button--primary {
  background-color: black;
  border-color: black;
  box-shadow: none;

  &:hover {
    background-color: black;
    border-color: black;
  }
}

.button--cta {
  background-color: #008060;
  color: white;
  border: none;
}

.button--wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;

  @media screen and (min-width: $tablet-up) {
    width: 34.5rem;
  }
}
.button--icon {
  img:first-child {
    margin-right: 1.5rem;
  }
}

.button-logo--inline {
  margin-left: 0.5rem;
}