.button {
  padding: 1.75rem 2rem;
  box-shadow: none;
  border-width: 3px;
  &:active {
    color: $color-grey-darkest;
  }
  &:visited {
    color: $color-grey-darkest;
  }
}

.button--small {
  padding: .5rem 1.5rem;
}

.button--inline-action {
  border-radius: 0.5rem;
  border-width: 2px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 0;
  padding: 0 1rem;
}

.button--primary {
  background-color: black;
  border-color: black;
  box-shadow: none;

  &:hover {
    background-color: #303030;
    border-color: #303030;
    color: white;
  }
  &:visited {
    color: white;
  }
  &:active {
    background-color: #303030;
    border-color: #303030;
    color: white;
  }
}

.button--cta {
  background-color: #008060;
  color: white;
  border: none;

  &:visited {
    color: white;
  }
  &:active {
    background-color: #034E46;
    color: white;
  }
  &:hover {
    background-color: #034E46;
    color: white;
  }
}

.button--danger {
  border-color: #D70A40;
  color: #D70A40;

  &:active {
    background-color: #F7F5F4;
    color: #D70A40;
  }

  &:hover {
    background-color: #F7F5F4;
    color: #D70A40;
  }

  &:visited {
    color: #D70A40;
  }
}

.button--disabled {
  opacity: 1;
  border-color: #A0A0A0;
  color: #A0A0A0;

  &:hover {
    color: #A0A0A0;
    background-color: white;
  }

  &.button--cta {
    background-color: #B6D8D1;
    color: white;
  }
  &.button--primary {
    border: none;
    color: white;
    background-color: #A0A0A0;
  }

  &.button--danger {
    border-color: #F3B9C9;
    color: #F3B9C9;
  }
}

.button--wide {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;

  @media screen and (min-width: $tablet-up) {
    width: 34.5rem;
  }
}

.button--full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.button--med-wide {
  text-align: center;
  width: 20rem;
}

.button--icon {
  display: flex;
  align-items: center;

  img:first-child {
    margin-right: 1.5rem;
  }
}

.button--centered {
  margin: 0 auto !important;
}

.button--icon.button--centered, .button--icon--centered {
  justify-content: center;
}

.button-logo--inline {
  margin-left: 0.5rem;
}

.button--chat-help {
  color: white;
  background: black;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;

  &:hover {
    color: white;
    background-color: #303030;
  }

  i {
    margin-right: 10px;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
}

.button-group--center {
  align-items: center;
}