.attachment-uploader {
  margin-bottom: 1rem;
  img {
    margin-top: 1rem;
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .form-group {
    margin-bottom: 1rem;
    .form-question {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
