.filter-form {
  .form-group{
    margin-bottom: $s5;
  }

  h3 {
    margin: 0;
    margin-bottom: $s5;
  }
  select#status-filter {
    width: 215px;
  }
  select#year {
    width: 8rem;
  }
  select#assignee-filter {
    width: 15rem;
  }
  input {
    max-width: 275px;
  }

  .select__element {
    max-width: 275px;
    padding-right: 3rem !important;
    padding-left: 1rem !important;
  }

  .filters-wrapper {
    display: inline-flex;
    align-items: top;
    .form-group {
      margin-right: 1rem;
    }
  }

  .search-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 37.5rem;
  }

  .checkboxes-wrapper {
    display: flex;
    margin-top: .5rem;
    margin-bottom: 2rem;
    > * {
      margin-right: 2rem;
    }

    h4 {
      font-weight: normal;
      font-size: $font-size-25-small;
      margin-bottom: 0;
    }
  }
}

.empty-clients {
  margin-top: 2.5rem;
  background: $color-red-light;
  padding: 1rem 1rem 1rem 3rem;
}