.client-header {
  position: relative;

  &__left {
    display: inline-block;
  }
  &__right {
    position: absolute;
    right: 0;
    top: 0;
  }
  .h1 {
    margin-right: $s10;
    margin-bottom: $s10;
    display: inline-block;
  }

  .needs-attention-wrapper {
    margin-right: $s15;
  }

  .button {
    margin-left: 0;
  }

  &__organization {
    h2 {
      display: inline;
      font-size: $font-size-19;
      line-height: $s19;
      font-weight: $font-weight-normal;
      margin-right: $s15;
      margin-bottom: 0;
    }
    .button {
      margin-bottom: 0;
    }
    margin-bottom: $s10;
  }

  form.edit_client {
    margin-top: 10px;
  }

  .tax-return-list {
    .button {
      margin-bottom: 0;
    }
  }
}