.filter-form {
  .form-group {
    margin-bottom: $s5;
    margin-right: 1rem;
  }

  h3 {
    margin: 0;
    margin-bottom: $s5;
  }

  .select {
    display: block;
  }

  select#status-filter {
    width: 21.5rem;
  }

  select#year {
    width: 8rem;
  }

  select#language {
    width: 11rem;
  }

  select#service_type {
    width: 11rem;
  }

  select#assignee-filter {
    width: 15rem;
  }

  input#search {
    width: 27.5rem;
  }

  .select__element {
    max-width: 275px;
    padding-right: 3rem !important;
    padding-left: 1rem !important;
  }

  .filters-wrapper {
    display: flex;
    flex-direction: column;
    max-width: min-content;
  }

  .inline-filters-wrapper {
    display: inline-flex;
    align-items: flex-end;
  }

  .checkboxes-wrapper {
    display: flex;
    margin-top: .5rem;
    margin-bottom: 2rem;

    > * {
      margin-right: 2rem;
    }

    h4 {
      font-weight: normal;
      font-size: $font-size-25-small;
      margin-bottom: 0;
    }
  }
}

.empty-clients {
  margin-top: 2.5rem;
  background: $color-red-light;
  padding: 1rem 1rem 1rem 3rem;
}