.filter-form {
  margin-top: 2rem;
  .form-group{
    margin-bottom: 0;
  }

  h3 {
    margin: 0;
    margin-bottom: $s5;
  }

  .filters-wrapper {
    display: inline-flex;
    align-items: top;
    .form-group {
      margin-right: $s25;
    }
  }

  .search-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 37.5rem;
  }
}

.empty-clients {
  margin-top: 2.5rem;
  background: $color-red-light;
  padding: 1rem 1rem 1rem 3rem;
}