.client-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  i {
    margin-left: 10px;
  }
  h1.h2 {
    margin: 0;
  }
  h2.h4 {
    margin: 0;
  }

  .button {
   margin-left: 0;
  }

  &__organization {
    display: flex;
    h2 {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }

  .response-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form.edit_client {
    margin-top: 10px;
  }
}