.client-header {

  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet-up) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__left {
    max-width: 40rem;
    margin-right: 1.5rem;
  }
  &__right {
    min-width: 50%;
    li:first-child {
      margin-top: -1.5rem; // line the first tax return with the top of the left-hand-side div.
    }
  }

  .h1 {
    margin-right: $s10;
    margin-bottom: $s10;
    display: inline-block;
  }

  .urgent-wrapper {
    margin-right: $s15;
  }

  .button {
    margin-left: 0;
  }

  &__organization {
    h2 {
      display: inline;
      font-size: $font-size-18;
      line-height: $s18;
      font-weight: $font-weight-normal;
      margin-right: $s15;
      margin-bottom: 0;
    }
    .button {
      margin-bottom: 0;
    }
    margin-bottom: $s10;
  }

  form.edit_client {
    margin-top: 10px;
  }

  .tax-return-list {
    .button {
      margin-bottom: 0;
    }
  }
}
