#contact-history {
  border-top: 2rem solid darken($color-grey-light, 50%);
  background-color: darken($color-grey-light, 10%);
  padding: 1rem;
}
#contact-history:focus {
  border-top: 2rem solid black;
}
