.contact-record {
  margin-bottom: 2rem;

  .contact-record__heading {
    display: flex;
    justify-content: space-between;
  }

  &--incoming_text_message, &--outgoing_text_message {
    .contact-record__body {
      border-radius: 2rem;
    }
  }

  &--outgoing_text_message, &--outgoing_email {
   margin-left: 3rem;
    .contact-record__heading {
      padding-left: 3rem;
    }
    .contact-record__name {
      font-weight: bold;
    }
    .contact-record__time {}
    .contact-record__status {
      color: $color-grey-dark;
    }
    .contact-record__body {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 0.75rem;
      background-color: white;
    }
    .contact-record__subject::before {
      content: "✉️ ";
    }
    .contact-record__subject {
      color: $color-grey-dark;
    }
  }

  &--incoming_text_message, &--incoming_email {
    margin-right: 3rem;
    .contact-record__heading {
      padding-left: 1rem;
    }
    .contact-record__name {
      font-weight: bold;
    }
    .contact-record__time {}
    .contact-record__status {
      color: $color-grey-dark;
    }
    .contact-record__body {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 2rem;
      background-color: white;
    }
  }
}
