.dependents-list {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__full-height {
      height: 100%
    }
  }

  .dependent {
    padding: 1rem;
    margin-right: 0;

    &__header {
      display: flex;
      padding: 0;
      align-content: center;
      justify-content: center;
      min-width: 150px;

      >img {
        height: 15px;
        width: 15px;
      }
    }
  }

  .qualification {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-width: 50px;

    >img {
      max-width: 25px;
    }
  }

  .with-top-right-border {
    border-top: 1px solid $color-grey-medium-light;
    border-right: 1px solid $color-grey-medium-light;
  }

  .with-right-border {
    border-right: 1px solid $color-grey-medium-light;
  }

  .with-top-border {
    border-top: 1px solid $color-grey-medium-light;
  }

  .review-box {
    padding: 1.5rem 1rem;

    &__edit-button {
      margin: 0 !important;
    }
  }
}