.form__feelings-survey {
  .form-group {
    margin-bottom: 3rem;
  }

  .radio-button {
    display: inline-block;
    width: auto;
    padding: 1rem;
    border-radius: 5px;
    margin-right: 3rem;
    &:last-child {
      margin-right: 0;
    }
    &.is-selected {
      border-width: 3px;
    }

    .emoji-label {
      width: 40px;
      height: 40px;
      display: block;
    }

    .negative-icon {
      background-image: image-url('negative-icon.svg');
    }

    .neutral-icon {
      background-image: image-url('neutral-icon.svg');
    }

    .positive-icon {
      background-image: image-url('positive-icon.svg');
    }
  }

  input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  input[type='radio']:checked:before {
    display: none;
  }

  input[type='radio']:focus {
    box-shadow: none;
  }
}
