.attachment-uploader {
  margin-top: -2rem;
  margin-bottom: 1rem;
  img {
    margin-top: 1rem;
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .file-input {
    font-size: $font-size-18;
  }
}
