.hub-form {
  @extend .hub-section;
  .form-question {
    font-size: 1.9rem;
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 1.9rem;
    .text--error {
      position: absolute;
      margin: 0;
    }
  }
  &__row {
    display: flex;
    align-items: flex-end;
    &.fill {
      > .form-group {
        flex-grow: 1
      }
      label.checkbox {
        margin-top: 30px
      }
    }
    > * {
      margin-right: 1rem;
    }
    
    &.align-center {
      align-items: center;
    }
  }
}
