.hub-form {
  .form-group {
    .text--error {
      position: absolute;
      margin: 0;
    }
  }

  &__card {
    border: 1px solid $color-grey-medium-light;
    padding: 2rem;
    margin-bottom: 3.5rem;

    &.card-small {
      max-width: 575px;
    }
  }

  &__input-with-checkbox {
    .form-group {
      margin-bottom: 1.5rem;
    }
    .checkbox-group {
      margin-top: 0;
      margin-bottom: 3.5rem;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    &.fill {
      > * {
        flex-grow: 1;
      }
    }
    > *:first-child {
      margin-left: 0 !important;
    }
    > * {
      margin-left: 1rem !important; //override honeycrisp error state reset of margin
    }
    
    &.align-center {
      align-items: center;
    }
  }
}

.marital-status {
  margin-bottom: $s25;
  .form-group {
    margin-bottom: 1rem;
  }
}


