#doc-assessments-table {
  margin: 10rem 5rem 5rem 5rem;


  table {
    border-collapse: collapse;
    font-size: 12px;
  }

  tr.error {
    background-color: #FEF2E7;
  }

  tr.fail {
    background-color: #FEE7E7;
  }

  tr.pass {
    background-color: #E7FEEC;
  }

  td, th {
    border: 1px solid black;
    padding: 10px 20px;
  }

  th {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.feedback-box {
  padding: 2.5rem 2rem;
  border: 1px solid #525252;
  border-radius: 8px;
  word-break: break-word;
  background-color: #F7F7F7;
  font-weight: bold;

  #top-question{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  #additional-feedback{
    width: 100%;
    background: white;
    box-sizing: border-box;
    min-height: 10rem;
    font-weight: $font-weight-normal;
  }
}