/*
index-table is for displaying tabular information in the hub views.
It expects to be the primary content of the given page (full width).
*/

.scrollable-table-wrapper {
  overflow-x: scroll;
}

.index-table {
  // table resets
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .button {
    margin: 0;
  }

  &__head {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  &__header {
    $header-row-z: 1;
    $header-row-higher-z: 2;

    padding: 0.8rem $s25/2;
    font-weight: $font-weight-normal;
    white-space: nowrap;

    &--center {
      text-align: center !important;
    }

    &--sticky {
      position: sticky;
      left: 0;
      background-color: inherit;
      z-index: $header-row-z;
    }

    &--sticky:after,
    &--sticky:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
    }

    &--sticky:before {
      top: -1px;
      border-top: 1px solid black;
    }

    &--sticky:after {
      bottom: -1px;
      border-bottom: 1px solid black;
    }

    &--tooltip-z-positioning:hover,
    &--tooltip-z-positioning:focus-within  {
      // When hovering in this row, ensure a tooltip within this row rises above other rows.
      z-index: $header-row-higher-z;
    }

    .sortable-column-link {
      display: flex;
      align-items: center;

      .sort-arrow {
        max-width: unset;
      }
    }
  }

  &__row > &__header {
    &:first-child {
      padding-left: 3rem;
    }

    &:last-child {
      padding-right: 3rem;
    }
  }

  &__row-header {
    white-space: nowrap;
    padding: 0.8rem $s25 / 2;

    .tooltip__body {
      font-weight: $font-weight-normal;
      font-size: $font-size-15;
    }

    &--tooltip-has-text {
      .tooltip__body {
        width: 20rem;
        white-space: pre-wrap;
      }
    }
  }

  &__row-header--sticky {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: inherit;
  }

  &__cell {
    padding: 0.8rem $s25/2;
    white-space: nowrap;

    &:first-child {
      padding-left: 3rem;
    }

    &:last-child {
      padding-right: 3rem;
    }
    &--center {
      text-align: center;
    }
  }

  &__row:nth-child(odd) {
    background-color: white;

    td {
      background-color: white; // necessary for sticky first column
    }
  }

  &__row:nth-child(even) {
    background-color: $color-grey-light;

    td {
      background: $color-grey-light; // necessary for sticky first column
    }
  }

  &__row:first-of-type &__row-header--sticky::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  &__row:first-of-type &__row-header--sticky::before {
    top: -1px;
    border-top: 1px solid black;
  }
}

.fixed-width-table {
  table-layout: fixed;
  td {
    word-wrap: normal;
    white-space: normal;
  }
}