.main-menu {
  min-height: 100%;
  z-index: 1000;
  background: #2D2E2F;
  color: white;
  position: relative;
  transition: .25s ease;

  &.expanded {
    width: 250px;
  }

  &.collapsed {
    width: 64px;
  }

  .toggle {
    position: absolute;
    right: -12px;
    top: 75px;
    cursor: pointer;
    transition: .25s ease;
  }

  &.collapsed .toggle {
    transform: rotate(180deg);
  }

  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 35px 0 35px 20px;

    .logo-text {
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  &.collapsed .logo {
    .logo-text {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;
    color: white;
    text-decoration: none;

    height: 70px;
    padding-left: 20px;

    &.selected {
      background: transparentize(#F1F3F6, .75);
    }

    &:hover {
      background: transparentize(#F1F3F6, .85);
    }

    img {
      width: 24px;
    }
  }

  &.expanded .menu-item {
    img {
      margin-right: 10px;
    }

    div {
      width: 200px;
      overflow-wrap: break-word;
    }
  }

  &.collapsed .menu-item {
    img {
      margin-bottom: 5px;
    }

    div {
      display: none;
    }
  }

  .bottom {
    margin-bottom: 35px;
  }
}
