.marketing-comparison {
  border: 1px solid $color-grey-medium;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  background-color: #F7F5F4;
  clear: both;

  .bottom-section {
    display: flex;
    padding-bottom: 20px;
    font-size: 1.6rem;
  }

  .spacer {
    flex-grow: 1;
  }

  .list--bulleted {
    margin: 0;
    padding-left: 1.5em;
    li {
      margin-bottom: 0;
    }
  }

  .timeframe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img {
      padding-right: 1rem;
    }
  }

  .refund-indicator {
    align-self: flex-end;
    font-size: 18px;
    padding: 10px;
    font-weight: $font-weight-bold;

    .symbols {
      text-align: center;
      letter-spacing: 2px;
      white-space: nowrap;
    }
  }
}
