.message {
  margin-bottom: 2rem;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    font-weight: bold;
  }

  &__status {
    color: $color-grey-dark;
  }

  &__body {
    background-color: white;
    padding: 2rem;
  }

  &__subject {
    color: $color-grey-dark;
    &::before {
      content: "✉️ ";
    }
  }

  &__day-heading {
    text-align: center;
    color: $color-grey-dark;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    &:first-of-type {
      padding-top: inherit;
    }
  }

  &--incoming_text_message, &--outgoing_text_message {
    .message__body {
      border-radius: 2rem;
    }
  }

  &--hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &--attachments {
    &__heading {
      margin-bottom: 0;
    }
  }

  &--outgoing_text_message, &--outgoing_email, &--outgoing {
    margin-left: 3rem;

    .message__heading {
      padding-left: 3rem;
    }

    .message__body {
      padding-left: 3rem;
      padding-right: 0.75rem;
    }
  }

  &--incoming_text_message, &--incoming_email, &--incoming {
    margin-right: 3rem;

    .message__heading {
      padding-left: 1rem;
    }

    .message__body {
      padding-left: 1rem;
      padding-right: 2rem;
    }
  }
}
