.notification {
  margin-bottom: 3rem;

  &--unread {
    .notification__body {
      border-color: $color-notification-blue;
    }

    .unread-wrapper {
      float: right;
    }
  }

  &--failed { // should come last to take precedence over other states
    .notification__body {
      border-color: $color-orange-dark;
    }
  }

  &__heading {
    font-weight: $font-weight-bold;
    position: absolute;
  }

  &__date{
    color: $color-grey-medium;
    position: relative;
    text-align: right;
    margin-bottom: 1rem;
  }

  &__body {
    border: .2rem solid $color-grey-medium;
    padding: 1rem;
    border-radius: .5rem;

    p {
      margin-bottom: $s10;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.day-heading {
  text-align: center;
  color: $color-grey-dark;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  &:first-of-type {
    padding-top: inherit;
  }
}

.mark_all_notifications_read{
  text-align: right;
  font-weight: bold;
}