@mixin page-button-layout-adjust {
  padding: .5rem 0.6rem;
  margin-left: .1rem;
  margin-right: .1rem;
  min-width: 2.4em;
}
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  .pagination {
    padding: 0;
  }
  .count-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      margin-bottom: unset;
    }
  }
  .pagination > * {
    margin-bottom: 0 !important;
  }
}
.pagination {
  @extend .pagination__buttons;
  > a { // page links
    @extend .button;
    @extend .button--small;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  > em { // current page
    font-style: normal;
    @extend .button;
    @extend .button--small;
    @extend .pagination__selected;
  }
  > span.disabled { // disabled page links
    @extend .button;
    @extend .button--small;
    @extend .button--disabled;
  }
  > span.gap { // ellipsis between pages
    @extend .pagination__ellipsis;
  }
  > .previous_page {
    padding-left: 3px !important;
  }
  > .next_page {
    padding-right: 3px !important;
    margin-left: 0 !important;
  }

  > .button {
    margin-left: 0;
  }

  @media screen and (max-width: $mobile-up) {
    > a {
      @include page-button-layout-adjust;
    }
    > em {
      @include page-button-layout-adjust;
    }
    > span.disabled {
      @include page-button-layout-adjust;
    }
    > span.gap {
      padding: .5rem 0;
      width: 1em;
    }
  }
}

.honeycrisp-compact {
  .pagination {
    > * {
      line-height: 20px !important;
    }
  }
}