.status-line-items {
  .link {
    color: $color-grey-darkest;
    text-decoration: none;

    &__border {
      border-bottom: 1px solid;
    }

    &__icon {
      font-weight: 700;
    }
  }

  &__progress-state {
    color: $color-grey-dark;
  }

  &__row {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.portal-status-badge {
  background-color: #fece68;
  border-color: #fece68;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0.75rem 1rem;
  position: relative;
  top: -.1em;
}

.portal-info-box {
  background-color: #fff4d1;
  border: 3px solid #fab323;
  color: black;
  margin-bottom: 2.5rem;
  padding: 1rem 2rem;
}
