.tax-return-status {
  margin-bottom: 1.5rem;

  .link {
    color: $color-grey-darkest;
    text-decoration: none;

    &__border {
      border-bottom: 1px solid;
    }

    &__icon {
      font-weight: 700;
    }
  }

  &__progress-state {
    color: $color-grey-dark;
  }

  &__row {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}
