.tax-return-status {
  margin-bottom: 2.5rem;
  a {
    font-weight: 700;
    color: $color-grey-darkest;
    text-decoration: none;
    border-bottom: 1px solid;
    position: relative;
  }

  &__row {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }

  &__empty-state {
    font-style: italic;
  }

  a::after {
    content: "keyboard_arrow_right";
    font-family: "Material Icons";
    position: absolute;
    top: 2px;
  }
}