.review-box {
  padding: 2.5rem 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  max-width: 570px;
  word-break: break-word;

  &__title {
    h2 {
      font-size: 1.9rem;
      margin-bottom: 0;
    }
    font-size: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    &:first-child {
      margin-top: 0;
    }
    &-tighter {
      margin-bottom: 1.5rem;
    }
  }


  &__space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      max-width: 85%;
    }
  }

  &__edit {
    color: $color-black;
    font-size: 1.6rem;
    font-weight: normal;
    flex-shrink: 0;
  }
  &__edit-button {
    @extend .button;
    color: $color-black;
    font-size: 1.6rem;
    font-weight: normal;
    // overrides
    border: 2px solid black;
    padding: 5px 10px;
    line-height: 1;
    margin: 0 0 0 1rem !important;
    border-radius: 5px;
  }
  &__body {
    margin: 0;

    h3 {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }

    li {
      line-height: 3rem;
    }

    div {
      line-height: 3rem;
    }

    .trix-content {
      div {
        line-height: 1.5 !important;
      }
    }
  }

  &__status-wrapper {
    display: flex;
    align-items: center;
    img {
      margin: 0 10px 0 25px;
    }
  }

  &__cta-button-container {
    display: flex;
    justify-content: center;
  }

  &__person {
    display: flex;
    .icon-person {
      margin-right: 1rem;
    }
  }

  &__name {
    margin-bottom: .75rem;
  }

  &__details {
    @extend .text--grey-dark;
    margin-bottom: .5rem;
  }
}