.reveal {
  color: #034E46;
  border: 2px solid #034E46;
  background-color: #EBFFFA;
  border-radius: 10px;
  padding: .2em .5em .3em .7em;

  &:focus-within {
    box-shadow: $focus-box-shadow;
  }
}

.reveal--service-card {
  color: #333333;
  border: 2px solid #d1d1d1;
  background-color: #f5f5f5;

  .reveal__button {
    color: #000000;
    font-weight: normal;
    font-size: inherit;
  }
}

// this is used in places where we want the reveal to match the width of the form inputs above it
.reveal-shrink-wrapper {
  .reveal {
    max-width: $width-form-long;
  }
}

.reveal > p:first-of-type {
  margin-bottom: 0;
}

.reveal__button {
  border: none;
  background: transparent;
  font-weight: $font-weight-bold;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:focus {
    box-shadow: none;
  }
}

.reveal__content {
  background-color: transparent;
  border: none;
  margin-top: 0;
}