.reveal {
  color: #034E46;
  border: 2px solid #034E46;
  background-color: #EBFFFA;
  border-radius: 10px;
  padding: .2em .5em .3em .7em;
}

// this is used in places where we want the reveal to match the width of the form inputs above it
.reveal-shrink-wrapper {
  .reveal {
    @media screen and (min-width: $mobile-up) {
      width: 475px;
    }
  }
}

.reveal > p:first-of-type {
  margin-bottom: 0;
}

.reveal__link {
  border: none;
  background: transparent;
  font-weight: $font-weight-bold;
  display: flex;
  justify-content: space-between;

  &:focus {
    box-shadow: none;
  }
}

.reveal__content {
  background-color: transparent;
  border: none;
  margin-top: 0;
}