.slab {
  padding-left: 6rem;
  padding-right: 6rem;

  @media screen and (max-width: $tablet-up) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.slab--cta {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $color-green-money;

  @media screen and (max-width: $tablet-up) {
    padding-top: 6rem;
    padding-bottom: 6rem;

    .button--primary {
      padding-left: 9rem;
      padding-right: 9rem;
    }
  }
}

.slab--help {
  background-color: $color-lavender;

  .help-button-container {
    text-align: right;

    @media screen and (max-width: $tablet-up) {
      text-align: center;
      padding-top: $s35;
    }
  }
}


