.slab {
  padding-left: 6rem;
  padding-right: 6rem;

  @media screen and (max-width: $tablet-up) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.slab--cta {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $color-green-money;

  @media screen and (max-width: $tablet-up) {
    padding-top: 6rem;
    padding-bottom: 6rem;

    .button--primary {
      padding-left: 9rem;
      padding-right: 9rem;
    }
  }
}

.slab--short {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.slab--stimulus-blue {
  background-color: $color-stimulus-blue;
}

.slab--grey {
  background-color: $color-grey-light;
}

.slab--green {
  background-color: #E8FDF7;
}

.slab--lavender {
  background-color: $color-lavender;
}

.slab--green {
  background-color: $color-green-money;
}

.slab--blue {
  background-color: $color-ctc-blue;
}

.slab--secondary-cta {
  .button-container {
    text-align: center;
    margin-top: 3.5rem;

    @media screen and (min-width: $tablet-up) {
      margin-top: 0;
     text-align: right;
    }
  }

  .button {
    margin-bottom: 0;
    margin-right: 0;
  }

  @media screen and (min-width: $tablet-up) {
    .grid {
      display: flex;
      align-items: center;
    }
  }
}

