.state-routings-edit {
  ul {
    position: relative;
  }
  .state-routing-item {
    position: relative;
  }

  .site > .form-group {
    padding-left: 5rem;
  }

  .form-group {
    padding: 1rem 0;
    margin-bottom: 0;
  }

  .routing-percentage-input-wrapper {
    position: relative;
    &:after {
      position: absolute;
      content: '%';
      top: 54%;
      right: .5rem;
    }
    input {
      text-align: right;
      padding-right: 2rem;
    }
  }
  .routing-percentage-total {
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    font-weight: bold;
    margin: 0 .5rem;
    // match text--error styling
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}