// Prevents anchor tag from taking on :visited color in tabs
a.tab-bar__tab {
  line-height: $s25;
  color: inherit;
  margin-right: $s25;
  font-weight: $font-weight-normal;
  padding: $s5 2rem;
  min-width: 0;
}

a.tab-bar__tab:first-of-type {
  margin-left: $s25;
}

// Fixes a bug in honeycrisp styleguide https://github.com/codeforamerica/honeycrisp-gem/issues/214
.tab-bar__tab.is-selected {
  background-color: white;
  color: $color-grey-darkest;
  font-weight: $font-weight-normal;
  z-index: 2;

  &:before {
    background-color: white;
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
  }
}

.tab-bar__tab.notifications {
//  add circle to tab
}
