.take-action-box {
  background: white;
  border-top: 1px solid $color-grey-medium;
  padding: $s15 3rem;
  text-align: right;
  .button {
    margin: 0;
  }
}

.assigned-clients-outer, .clients-outer .take-action-box {
  height: 71px;

  .take-action-box-inner {
    display: flex;
    align-items: center;
    position: sticky;
    right: 3rem;
  }
}
