.take-action-box {
  background: white;
  border-top: 1px solid $color-grey-medium;
  padding: $s15 3rem;
  text-align: right;
  .button {
    margin: 0;
  }
}

.assigned-clients-page-body, .clients-page-body {
  .take-action-box .take-action-box-inner {
    display: flex;
    align-items: center;
    position: sticky;
    right: 3rem;
  }
}
