.tax-return-list {
  font-size: $font-size-18;
  margin: 0;
  a {
    color: black;
  }

  .certification-label {
    width: 60px;
    text-align: center;

    &.label--unassigned {
      background: $color-grey;
      color: black;
    }
  }

  .form-wrapper {
    display: flex;
    align-items: center;
    .form-group {
      margin: 0;
    }
    .select {
      margin-bottom: 0;
      margin-right: 5px;
    }

    .select__element {
      line-height: 2.5;
      font-size: $font-size-18;
      padding: 0 4rem 0 1.5rem;
      width: 315px;
    }

    .button {
      margin: 0;
    }
  }

  li {
    align-items: center;
    display: flex;
    line-height: 3.5rem;
    min-height: 60px;
  }

  .tax-return-inline-form {
    position: relative;
    border: 2px solid black;
    min-height: 44px;
    min-width: 175px;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    label {
      flex-grow: 1;
      display: flex;
      align-items: center;
      select {
        width: 100%;
      }
    }
    > * {
      margin: 0 5px 0;
    }

    button {
      display: flex;
      height: 20px;
      width: 20px;
      padding: 3px;

      img {
        height: 100%;
      }
    }

    .before {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: -29px;
      margin: 0;
    }

    .offset-label {
      position: absolute;
      top: -25px;
      font-size: $font-size-18;
      font-weight: bold;
      left: 0;
    }
  }

  &__assignee, &__certification {
    font-size: 1.4rem;
    margin-right: 1.25rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 175px;
    a.current-assignee {
      display: block;
      overflow-x: auto;
      text-overflow: ellipsis;
      text-decoration: none;
      line-height: $font-size-18;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    a.button { // assign button
      display: inline;
    }

    .button {
      margin-right: 0;
    }
  }

  &__assignment {
    font-size: 1.4rem;
    display: flex;
    min-height: 65px;
    align-items: center;
    > div {
      margin-right: 5px;
    }
  }

  &__right {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  &__certification {
    margin-right: 1.5rem;
  }

  &__service-type {
    font-size: 2rem;
    min-width: 3rem;
    text-align: center;
    .tooltip {
      vertical-align: middle;
      &__trigger {
        vertical-align: middle;
      }
    }
  }

  &__year {
    font-weight: bold;
    font-size: $font-size-18;
    margin-right: $s10;
  }
}

.label--status {
  background-color: $color-green-money;
  color: black;
  text-transform: none;
  font-size: $font-size-18;
  line-height: $font-size-18;
  padding: $s5 $s10;
  border: 1px solid $color-green-money;

  // More info about styling with data attributes can be found at
  // https://css-tricks.com/a-complete-guide-to-data-attributes/
  &[data-status="intake_in_progress"],
  &[data-status="intake_greeter_info_requested"] {
    background-color: $color-orange-medium;
    border-color: $color-orange-medium;
  }

  &[data-status^="prep"] {
    background-color: $color-lavender;
    border-color: $color-lavender;
  }

  &[data-status^="review"] {
    background-color: $color-stimulus-blue;
    border-color: $color-stimulus-blue;
  }

  &[data-status^="files"] {
    background-color: $color-grey-medium-light;
    border-color: $color-grey-medium-light;
  }
}
