.tax-return-list {
  font-size: 1.4rem;
  margin: 0;

  &__state {
    text-align: right;
    width: 135px;
  }
  &__stage {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
  }
  &__status {
    line-height: 1;
    font-size: 1.4rem;
  }

  &__year {
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__service-type {
    font-size: 1.4rem;
    min-width: 4em;
  }

  li {
    display: flex;
    line-height: 3.5rem;
    align-items: center;
    margin-bottom: 5px;
    > div {
      margin-right: 5px;
    }
  }

  &__assignment {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    line-height: 1;
    > div {
      margin-right: 5px;
    }
  }
  &__assignee {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 120px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .form-wrapper {
    display: flex;
    align-items: center;
    .form-group {
      margin: 0;
    }
    .select {
      margin-bottom: 0;
      margin-right: 5px;
    }

    .select__element {
      line-height: 2.5;
      font-size: 1.6rem;
      padding: 0 4rem 0 1.5rem;
      width: 315px;
    }

    label {
      @include sr-only;
    }

    .button {
      margin: 0;
    }
  }

}

.certification-label {
  width: 80px;
  text-align: center;
  &.label--unassigned {
    background: $color-grey-light;
    color: $color-grey;
  }
}

.tax-return-certification-form {
  position: relative;
  border: 2px solid black;
  height: 44px;
  display: flex;
  align-items: center;
  > * {
    margin: 0 5px 0;
  }

  button {
    margin-left: 5px;
    display: flex;

    img {
      height: 16px;
      height: 16px;
    }
  }

  .before {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -30px;
    margin: 0;
    a {
      font-size: smaller;
    }
  }
}

