<% content_for :form_question, t("views.questions.widowed_year.title") %>
<% content_for :form_card do %>
  <%= form_with model: @form, url: current_path, local: true, method: "put", builder: VitaMinFormBuilder, html: {class: "form-card"} do |f| %>
    <%= f.vita_min_select(:widowed_year, content_for(:form_question), year_options_from_2014_to_current_tax_yr_plus_one) %>
    <button class="button button--primary button--wide" type="submit">
      <%=t("general.next") %>
    </button>
  <% end %>
<% end %>