<% FaqController::QUESTIONS.each do |section, section_questions| %>
  <div class="faq-section-<%= section.to_s.dasherize %>">
    <%= t("views.public_pages.faq.question_groups.#{section}.title") %>
    <% section_questions.each do |question| %>
      <%= link_to t("views.public_pages.faq.question_groups.#{section}.#{question}.question"),
          faq_question_path(section_key: section, question_key: question) %>
    <% end %>
    <%= link_to "View all questions", faq_section_path(section_key: section) %>
  </div>
<% end %>
