<% content_for :page_title, t("views.public_pages.faq.title") %>
<% content_for :body_class, "faq" %>

<%= render 'shared/breadcrumb_array', items: [
  [t('general.home'), root_path],
  ["FAQ", faq_path],
  [t("views.public_pages.faq.question_groups.#{@section_key}.title"), faq_section_path(section_key: @section_key)],
  t("views.public_pages.faq.question_groups.#{@section_key}.#{@question_key}.question"),
] %>

<main role="main">
  <section class="slab slab--white slab--half-padded">

    <div class="grid">
      <div class="grid__item width-one-whole">
        <h2><%= t("views.public_pages.faq.question_groups.#{@section_key}.#{@question_key}.question") %></h2>

        <%= t("views.public_pages.faq.question_groups.#{@section_key}.#{@question_key}.answer_html") %>
      </div>
    </div>
  </section>
</main>
