<% title = t(".title", filing_year: Rails.configuration.statefile_current_tax_year  ) %>
<% content_for :page_title, title %>

<% content_for :card do %>
  <h1 class="h2"><%= title %></h1>

  <%= form_with model: @form, url: { action: :update }, local: true, method: "put", builder: VitaMinFormBuilder do |f| %>
    <%= f.cfa_select(:residence_county , t(".county"), @counties) %>

    <%= f.submit(t("general.continue"), review: params[:review], class: "button button--primary button--wide") %>
  <% end %>
<% end %>
