<% content_for :extra_slabs do %>
  <section class="slab slab--grey message-section">
    <div class="grid grid-flex">
      <%= image_tag "chat-bubble--blue.svg", alt: "", class: "document-overview-list__icon" %>
      <strong><%= link_to t("portal.upload_documents.index.message_my_tax_team"), new_portal_message_path %></strong>
    </div>
  </section>
<% end %>
