<% content_for :form_question, t("views.documents.ids.title", count: @names.length) %>

<% content_for :form_help_content do %>
  <p>
    <%=t("views.documents.ids.help_text", count: @names.length) %>
  <p/>
  <p>
    <%=t("views.documents.ids.info") %>
  </p>

  <div class="text--bold">
    <p class="spacing-below-10">
      <%=t("views.documents.ids.need_for") %>
    </p>

    <ul class="list--bulleted spacing-above-0 spacing-below-35">
      <% @names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
