<% content_for :form_question, @title %>

<% content_for :form_help_content do %>
  <p>
    <%= @help_text %>
  <p/>
  <p>
    We will use your ID card to verify and protect your identity in accordance with IRS guidelines. It is ok if your ID is expired or if you have a temporary drivers license as long as we can clearly view your name and photo.
  </p>

  <div class="text--bold">
    <p class="spacing-below-10">
      We will need an ID for:
    </p>

    <ul class="list--bulleted spacing-above-0 spacing-below-35">
      <% @names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
