.honeycrisp-condensed {
  .admin {
    line-height: 2.5rem;
  }

  .form-group {
    margin-bottom: 2.5rem;
  }

  .form-question {
    @extend .hc-label;
    margin-bottom: 5px;
  }

  .h1 {
    line-height: 25px;
    font-size: 2rem;
  }

  .hc-label {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 1.5rem;
  }

  input[type="submit"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
  }

  .label-value {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  .link--grey {
    color: #4F4E4E;
    font-weight: 500;
  }

  .password {
    .form-group {
      margin-bottom: 1rem;
    }
    a {
      font-size: 1.5rem;
    }
    padding-bottom: 7rem;
  }

  .text-input {
    background-color: rgba(247, 247, 247, 1);
    font-weight: normal;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}