
// likely needed in main repo
.honeycrisp-compact {
  .form-question {
    font-size: $font-size-18;
    line-height: $s18;
  }

  .button:first-of-type {
    margin-left: 0;
  }

  .button:last-of-type {
    margin-right: 0;
  }

  .index-table {
    th {
      font-size: inherit;
    }
  }

  .text--help {
    font-size: $font-size-18;
  }

  // In Honeycrisp, a form group with help text has a negative margin-top.
  // This is unnecessary and troublesome in honeycrisp-compact.
  .form-group .form-question + .text--help, .form-group .data-table .form-question + th, .data-table .form-group .form-question + th, .form-group .form-question + .summary-table__label, .form-group .form-question + .statistic-card__label {
    margin-top: inherit;
  }

  .text-input-group {
    border: 1px solid rgb(18,17,17) !important;
  }

  // custom ssn logic for hub.
  .field--last-four-ssn {
    .text-input-group__prefix {
      width: 100px;
      padding-right: 0;
      padding-top: 2px;
    }
    > input.field--last-four-ssn {
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.background--white {
  background-color: white;
}

// GYR customizations
.honeycrisp-compact {
  .grid {
    margin-left: 0;
    margin-right: 0;
  }
  .slab {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  .slab--padded {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  .toolbar {
    margin-left: 0;
    margin-right: 0;
    padding: 0 3rem;
    max-width: 100%;
  }

  .h1 {
    line-height: 25px;
    font-size: 2rem;
  }

  .form-group {
    margin-bottom: $s25;
  }

  .form-question {
    color: $color-grey-medium;
    margin-bottom: $s10;
  }

  .button {
    padding-left: $s15;
    padding-right: $s15;
    box-shadow: none;
  }

  .button--cta {
    background-color: black;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .button--small {
    font-size: $font-size-18;
    line-height: 1.6rem;
    padding: $s5 $s10;
  }

  .button--inverted {
    background-color: $color-grey-darkest;
    color: white;
    &:hover {
      color: white;
      background-color: transparentize($color-grey-darkest, .1);
    }
  }

  .checkbox--gyr {
    font-size: $font-size-25-small;
    font-weight: $font-weight-normal;
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  .field-display {
    margin-bottom: $s15;
    .form-question {
      display: inline;
      margin-right: $s15 ;
    }
  }

  .password {
    .form-group {
      margin-bottom: $s10;
    }
    .text-input {
      margin-bottom: 0;
    }
  }

  .label {
    padding: 0.5rem 0.75rem;
  }

  .inline-form-items-wrapper {
    display: flex;
    align-items: center;
    > * {
      margin-right: 1rem;
    }
  }

  .no-bottom-margin-children {
    .form-group {
      margin-bottom: 0;
    }
  }

  .button-bar {
    display: flex;
    margin-bottom: 0;

    button {
      border-radius: $s5;
      margin: 0 !important;
      border-left: none;
    }

    button:first-of-type {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-left: 1px solid $color-grey-darkest;
    }
    button:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

