// vietnamese
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwRs572Xtc6ZYQws9YVwnNJfJ7QwOk1Fig.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
// latin-ext
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwRs572Xtc6ZYQws9YVwnNIfJ7QwOk1Fig.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwRs572Xtc6ZYQws9YVwnNGfJ7QwOk1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
// vietnamese
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymu8Z6JywcofVotfzbj9m4.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
// latin-ext
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymu8Z6JygcofVotfzbj9m4.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymu8Z6JxAcofVotfzbj.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// when no us_state in the params, class will be "state-file-html-bg--"
.state-file-html-bg-- {
  background-color: $color-az-grey; // set default background color on <html> so the footer doesn't look weird on shared pages
}

// Color overrides for AZ (Only for html element as Az is the default for the rest)
.state-file-html-bg--az {
  background-color: $color-az-grey;
}

// Color overrides for NY
.state-file-html-bg--ny {
  background-color: $color-ny-blue;
  .state-file {
    .main-header {
      background-color: $color-ny-blue;
    }
    .client-menu-closer {
      background-color: $color-ny-blue;
    }
    .client-menu {
      background-color: $color-ny-blue;
    }
  }
}

// Color overrides for WA
// TODO: can we do the same automatic override like on line 720?
.state-file-html-bg--wa {
  background-color: $color-wa-orange;
  .state-file {
    .main-header {
      background-color: $color-wa-orange;
    }
    .client-menu-closer {
      background-color: $color-wa-orange;
    }
    .client-menu {
      background-color: $color-wa-orange;
    }
  }
}

.state-file {
  font-family: $font-state-file;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;

  .fyst-logo {
    width: 222px;
    height: 38px;
  }

  .main-header {
    background-color: $color-az-grey;

    .main-header__title {
      display: flex;
    }

    .toolbar__item {
      font-size: 1.5rem;
    }

    .toolbar__right {
      margin-top: 0;
    }
  }

  .client-menu-closer {
    background-color: $color-az-grey;
    color: white;
    width: 5.4rem;
    height: 5.4rem;

    img {
      filter: invert(1);
    }
  }

  .client-menu {
    background-color: $color-az-grey;
    top: 5.7rem;
    color: white;
    width: 100%;

    .container {
      width: 100%;
    }

    .client-menu-item {
      border-bottom: none;
      a {
        color: white;
        text-decoration: underline;
        font-size: 2.2rem;
      }
    }
  }

  .progress-steps {
    display: flex;
    gap: 5px;
    margin: -10px 0 5px 0;

    .progress-step {
      height: 10px;
      background: $color-grey-medium-light;
      flex-shrink: 1;
      flex-grow: 1;
      border-radius: 5px;
    }

    .completed-step {
      background: $color-state-file-primary;
    }
  }

  p.progress-text {
    color: $color-black;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .footer {
    background-color: $color-state-file-black;
  }

  .big-illustration {
    display: flex;

    @media screen and (max-width: $tablet-up) {
      justify-content: center;
    }
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .warning {
    border: 2px solid #FFAE00;
    background: #FFF2D1;
    padding: 1rem;
  }

  .blue-group {
    .select {
      select.input-warning {
        border: 2px solid #FFAE00;
      }
    }
  }

  .blue-group {
    padding: 2rem;
    margin-bottom: 2rem;
    background: $color-state-file-blue-box;
    border: 2px solid $color-state-file-blue-box-border;
    border-radius: 6px;

    .form-group {
      margin-bottom: 1rem;
    }

    .form-question {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 0.5rem;
    }

    .form-label--bold .form-question {
      font-weight: 700;
    }

    .checkbox {
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin: 0;
      width: auto;
      padding-left: 3.5rem;

      input[type='checkbox'] {
        left: 0;
      }
    }

    .radio-button {
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: normal;
      margin: 0;
      min-height: auto;
      padding: 1rem 0 1rem 3.5rem;

      input[type='radio'] {
        left: 0.5rem;
        top: 1.3rem;
      }
    }

    .select {
      height: 4rem;
      line-height: 4rem;

      .select__element {
        font-size: 1.3rem;
        font-weight: 400;
        border: 1px solid $color-state-file-input-border;
        padding: 0 4rem 0 1rem;

      }
    }

    .select:after {
      width: 4rem;
    }

    .text-input {
      background-color: white;
      border: 1px solid $color-state-file-input-border;
      box-shadow: none;
      height: 4rem;
      font-size: 1.6rem;
      padding: 0 1rem;
    }

    .question-with-follow-up__follow-up {
      margin: 0;

      p.form-question {
        font-size: 1.3rem;
        line-height: 1.9rem;
      }
    }

    .form1099__label {
      margin-bottom: 0;
    }

    .list--bulleted {
      padding-left: 1.5rem;
    }
  }

  .checkbox.is-selected{
    background: $color-state-file-blue-box;
  }

  .bulleted ul {
    padding-left: 3rem;
    list-style: disc;
  }

  .button {
    border-radius: 0.4rem;
    font-size: 2.2rem;
    font-weight: 700;
    height: 6rem;
    letter-spacing: 0;
    line-height: 2.5rem;
    padding: 1.6rem 2.4rem;
    text-align: center;
  }

  .button--icon {
    font-size: 1.9rem;
  }

  .button--primary {
    background-color: $color-state-file-black;
    border-color: $color-state-file-black;
  }

  .button--small {
    background-color: transparent;
    border: 2px solid $color-state-file-black;
    border-radius: 4px;
    color: $color-state-file-black;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 1.2rem 2rem;
    text-align: center;
    text-decoration: none;
    width: auto;
  }

  .button--inline-action {
    margin-right: 1rem;
  }

  .button--inline-action.last {
    margin-right: 0;
  }

  .dev-button {
    margin: 1em 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #dc6565;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 1.75rem 2.5rem;
    border-radius: 1rem;
    color: #DC6565;
    text-decoration: none;
  }

  .form-card {
    background-color: transparent;

    .blue-group {
      .form-group:last-child {
        margin-bottom: 0;
      }
    }
  }

  .h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .main-header {
    height: 5.4rem;
    line-height: 2.4rem;
    background-color: $color-az-grey; // default color when no US state in path

    .toolbar {
      align-items: center;
    }
  }

  .form-group-tight {
    .form-question {
      font-size: 1.3rem;
      line-height: 1.9rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    .form-group, .input-group--inline {
      margin-bottom: 0;
    }

    .select, .text-input {
      margin-bottom: 2rem;
    }

    radiogroup {
      display: flex;
      margin-bottom: 1.5rem;

      .radio-button {
        font-size: 1.3rem;
        line-height: 1.9rem;
        padding: 1rem 0 1rem 3.5rem;

        input[type='radio'] {
          left: 0.5rem;
          top: 1rem;
        }
      }
    }

    #state_file_taxes_owed_form_account_type_checking:after,
    #state_file_taxes_owed_form_account_type_savings:after {
      top: 0;
    }
  }

  .partner-logo-wrapper {
    display: flex;
    align-items: center;

    .partner-logo-text {
      max-width: 300px;
    }

    .partner-logo-image {
      margin-right: 1rem;

      img {
        vertical-align: middle;
      }
    }
  }

  .slab--footer {
    background-color: $color-az-grey; // default color when no US state in path
  }

  .text--body {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  .review-header {
    .with-top-separator {
      padding-top: 25px;
      border-top: 1px solid $color-state-file-separator;
    }
  }

  .return-status {
    p { text-align: center; }
    img { height: 80px; width: 80px;}
  }

  .info-link {
    font-size: 1.6rem;
    color: black;
    line-height: 2.4rem;
    display: inline-block;
    padding-left: 3rem;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .text--small {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  .question-with-follow-up {
    margin-bottom: 0;
  }

  .reveal {
    color: black;
    padding: 2rem;
    margin-bottom: 2rem;
    background: $color-state-file-blue-box;
    border: 2px solid $color-state-file-blue-box-border;
    border-radius: 6px;

    div.with-top-separator {
      padding-top: 25px;
      border-top: 1px solid $color-state-file-separator;
    }

    ul {
      padding-left: 2rem;

      li {
        list-style: disc;
        margin-top: 2rem;
      }
    }
  }

  .reveal__link {
    color: black;
    line-height: 2.4rem;
    padding-left: 3rem;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-position-y: 0.3rem;
  }

  .reveal__link:after {
    content: "\e5ce";
    font-size: 2.4rem;
    font-weight: normal;
  }

  .reveal.is-hiding-content .reveal__link:after {
    content: "\e5cf";
    font-size: 2.5rem;
    font-weight: normal;
  }

  .text-input,
  a,
  .button,
  .radio-button,
  .radio-button input[type='radio'],
  .select__element,
  .checkbox,
  .checkbox input[type='checkbox'] {
    box-shadow: 0 0 0 5px rgba($color-state-file-primary, 0);
    transition: box-shadow 0.2s ease;
  }

  .text-input:focus,
  a:focus,
  .button:focus,
  .button:hover,
  .radio-button input[type='radio']:focus,
  .select__element:focus,
  .checkbox input[type='checkbox']:focus {
    box-shadow: 0 0 0 5px $color-state-file-primary, inset 0px 2px 0px rgba(0, 0, 0, 0.15);
  }

  input[type='radio'] {
    accent-color: #000;
  }

  // Hack to make radio buttons black instead of green
  input[type='radio']:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  // Hack to make checkboxes black instead of green
  input[type='checkbox']:checked:after {
    content: " ";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    left: -2px;
    top: -2.5px;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 20px;
    width: 20px;
  }

  .card-postscript {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-top: 2.5rem;
  }

  label[disabled="disabled"] {
    p.form-question {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  .text-input:disabled {
    border: none;
    background-color: transparent;
    padding: 0;
    color: black;
    font-weight: 400;
    height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .undecorated-link {
    color: black;
    text-decoration: none;
  }

  @media screen and (min-width: $tablet-up) {
    .question-layout .question-wrapper {
      margin: 0 auto;
      max-width: 658px;

      .checkbox {
        width: 100%;
      }

      .button {
        display: block;
        min-width: 15rem;
        max-width: 25rem;
        margin: 0 auto;
      }
    }

    .options-wrapper .yes-no-buttons {
      display: flex;
      justify-content: center;

      .button {
        margin: 0 2rem;
        display: block;
        min-width: 25rem;
        max-width: 25rem;
      }
    }

    .question-layout.landing-page-outer .question-wrapper {
      max-width: none;

      main {
        display: flex;
        justify-content: space-between;
        .landing-page-content {
          max-width: 570px;
        }
        .fyst-home-image {
          width: 273px;
          height: 250px;
        }
      }
    }

    .initiate-data-transfer-outer .question-wrapper a.button {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }

    .question-layout .question-wrapper .button--primary.button--wide {
      min-width: 40rem;
      max-width: 40rem;
      width: 40rem;
    }

    .esign-declaration-outer .text--error {
      margin: 0 auto;
      text-align: center;
    }
  }
  @media screen and (max-width: $tablet-up) {
    .landing-page-container .fyst-home-image {
      display: none
    }
  }
}

$state-colors: (
  ny: $color-ny-blue,
  az: $color-az-grey,
  wa: $color-wa-orange
);

@each $state_key, $state-color in $state-colors {
  .us-state--#{$state_key} {
    .button {
      border: 2px solid $state-color;
      color: $state-color;
    }

    .button--primary {
      background-color: $state-color;
      color: $color-white;
    }

    .main-header {
      background-color: $state-color;
    }

    .slab--footer {
      background-color: $state-color;
    }
  }

  .loading-container {
    width:100%;
    display:flex;
    justify-content:center;
  }
}

.federal-info-controller-subform, .federal-info-controller-subform-section {
  table {
    td:first-child {
      vertical-align: middle;
      font-size: 14px;
      font-family: monospace;
    }
  }

  .federal-info-controller-subform-title, .federal-info-controller-subform-section-title {
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c7c7c7;
  }

  .federal-info-controller-subform-content, .federal-info-controller-subform-section-content {
    padding: 18px;
    border-width: 0 1px 1px 1px;
    border-style: dotted;
    border-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.state-file-submissions {
  .pagination-wrapper {
    align-items: center;
  }
  .search-container {
    padding-bottom: 2rem;
    .hub-searchbar__input{
    }
  }
}
