.state-file-html-bg--az {
  background-color: $color-az-grey;
}

.state-file-html-bg--ny {
  background-color: $color-ny-blue;
}

.state-file {
  background-color: $color-state-file-bg;
  font-family: $font-state-file;

  .button {
    border-radius: 0.4rem;
    font-size: 2.2rem;
    font-weight: 700;
    height: 6rem;
    letter-spacing: 0rem;
    line-height: 2.5rem;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    text-align: center;
    width: 33.8rem;
  }

  .h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.3rem;
  }

  .form-card-ny{
    border: 2px solid #52DAF2;
    background-color: #E7F6F8;
    border-radius: 10px;
    box-shadow: none;
    padding: 18px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 31px;

    .notice--warning {
      max-width: 30em;
    }
  }

  .text--body {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  .main-header {
    height: 5.4rem;
    line-height: 2.4rem;

    .toolbar {
      align-items: center;
    }
  }

  .partner-logo-wrapper {
    display: flex;
    align-items: center;

    .partner-logo-image {
      margin-right: 1rem;
    }
  }
}

$state-colors: (
  ny: $color-ny-blue,
  az: $color-az-grey
);

@each $state_key, $state-color in $state-colors {
  .us-state--#{$state_key} {
    .button {
      border: 2px solid $state-color;
      color: $state-color;
    }

    .button--primary {
      background-color: $state-color;
      color: $color-white;
    }

    .main-header {
      background-color: $state-color;
    }

    .slab--footer {
      background-color: $state-color;
    }
  }
}

