// when no us_state in the params, class will be "state-file-html-bg--"
.state-file-html-bg-- {
  background-color: $color-az-grey; // set default background color on <html> so the footer doesn't look weird on shared pages
}

.state-file-html-bg--az {
  background-color: $color-az-grey;
}

.state-file-html-bg--ny {
  background-color: $color-ny-blue;
}

.state-file {
  background-color: $color-state-file-bg;
  font-family: $font-state-file;
  font-size: 1.6rem;

  .main-header {
    background-color: $color-state-file-black;
  }

  .footer {
    background-color: $color-state-file-black;
  }

  .big-illustration {
    display: flex;

    @media screen and (max-width: $tablet-up) {
      justify-content: center;
    }
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .blue-group {
    padding: 2rem;
    margin-bottom: 2rem;
    background: $color-state-file-blue-box;
    border: 2px solid $color-state-file-blue-box-border;
    border-radius: 6px;

    .form-group {
      margin-bottom: 1rem;
    }

    .form-question {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 0.5rem;
    }

    .form-label--bold .form-question {
      font-weight: 700;
    }

    .checkbox {
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin: 0;
      width: auto;
      padding-left: 3.5rem;

      input[type='checkbox'] {
        left: 0;
      }
    }

    .radio-button {
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-weight: normal;
      margin: 0;
      min-height: auto;
      padding: 1rem 0 1rem 3.5rem;

      input[type='radio'] {
        left: 0.5rem;
        top: 1.3rem;
      }
    }

    .select {
      height: 4rem;
      line-height: 4rem;

      .select__element {
        font-size: 1.3rem;
        font-weight: 400;
        border: 1px solid $color-state-file-input-border;
        padding: 0 4rem 0 1rem;

      }
    }

    .select:after {
      width: 4rem;
    }

    .text-input {
      background-color: white;
      border: 1px solid $color-state-file-input-border;
      box-shadow: none;
      height: 4rem;
      font-size: 1.6rem;
      padding: 0 1rem;
    }

    .question-with-follow-up__follow-up {
      margin: 0;

      p.form-question {
        font-size: 1.3rem;
        line-height: 1.9rem;
      }
    }

    .form1099__label {
      margin-bottom: 0;
    }
  }

  .button {
    border-radius: 0.4rem;
    font-size: 2.2rem;
    font-weight: 700;
    height: 6rem;
    letter-spacing: 0;
    line-height: 2.5rem;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    text-align: center;
  }

  .button--icon {
    font-size: 1.9rem;
  }

  .button--primary {
    background-color: $color-state-file-black;
    border-color: $color-state-file-black;
  }

  .button--small {
    background-color: transparent;
    border: 2px solid $color-state-file-black;
    border-radius: 4px;
    color: $color-state-file-black;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 1.2rem 2rem;
    text-align: center;
    text-decoration: none;
    width: auto;
  }

  .button--inline-action {
    margin-right: 1rem;
  }

  .button--inline-action.last {
    margin-right: 0;
  }

  .dev-button {
    margin: 1em 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #dc6565;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 1.75rem 2.5rem;
    border-radius: 1rem;
    color: #DC6565;
    text-decoration: none;
  }

  .form-card {
    background-color: transparent;

    .blue-group {
      .form-group:last-child {
        margin-bottom: 0;
      }
    }
  }

  .h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.9rem;
  }

  .subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .main-header {
    height: 5.4rem;
    line-height: 2.4rem;
    background-color: $color-az-grey; // default color when no US state in path

    .toolbar {
      align-items: center;
    }
  }

  .form-group-tight {
    .form-question {
      font-size: 1.3rem;
      line-height: 1.9rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    .form-group, .input-group--inline {
      margin-bottom: 0;
    }

    .select, .text-input {
      margin-bottom: 2rem;
    }

    radiogroup {
      display: flex;
      margin-bottom: 1.5rem;

      .radio-button {
        font-size: 1.3rem;
        line-height: 1.9rem;
        padding: 1rem 0 1rem 3.5rem;

        input[type='radio'] {
          left: 0.5rem;
          top: 1rem;
        }
      }
    }
  }

  .landing-page-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .partner-logo-wrapper {
    display: flex;
    align-items: center;

    .partner-logo-text {
      max-width: 200px;
    }

    .partner-logo-image {
      margin-right: 1rem;

      img {
        vertical-align: middle;
      }
    }
  }

  .slab--footer {
    background-color: $color-az-grey; // default color when no US state in path
  }

  .text--body {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  .review-header {
    .with-top-separator {
      padding-top: 25px;
      border-top: 1px solid #BCBCBC;
    }
  }

  .return-status {
    p { text-align: center; }
    img { height: 80px; width: 80px;}
  }
  
  .info-link {
    font-size: 1.6rem;
    color: black;
    line-height: 2.4rem;
    display: inline-block;
    padding-left: 3rem;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-position-y: center;
  }

  .text--small {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  .question-with-follow-up {
    margin-bottom: 0;
  }

  .reveal {
    color: black;
    padding: 2rem;
    margin-bottom: 2rem;
    background: $color-state-file-blue-box;
    border: 2px solid $color-state-file-blue-box-border;
    border-radius: 6px;

    ul {
      padding-left: 2rem;

      li {
        list-style: disc;
      }
    }
  }

  .reveal__link {
    color: black;
    line-height: 2.4rem;
    padding-left: 3rem;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-position-y: 0.3rem;
  }

  .reveal__link:after {
    content: "\e5ce";
    font-size: 2.4rem;
    font-weight: normal;
  }

  .reveal.is-hiding-content .reveal__link:after {
    content: "\e5cf";
    font-size: 2.5rem;
    font-weight: normal;
  }

  .text-input,
  a,
  .button,
  .radio-button,
  .radio-button input[type='radio'],
  .select__element,
  .checkbox,
  .checkbox input[type='checkbox'] {
    box-shadow: 0 0 0 5px rgba(33, 200, 52, 0);
    transition: box-shadow 0.2s ease;
  }

  .text-input:focus,
  a:focus,
  .button:focus,
  .button:hover,
  .radio-button input[type='radio']:focus,
  .select__element:focus,
  .checkbox input[type='checkbox']:focus {
    box-shadow: 0 0 0 5px rgba(33, 200, 52, 1), inset 0px 2px 0px rgba(0, 0, 0, 0.15);
  }

  input[type='radio'] {
    accent-color: #000;
  }

  // Hack to make radio buttons black instead of green
  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2.5px;
    left: 0.5px;
    position: relative;
    background-color: #000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  // Hack to make checkboxes black instead of green
  input[type='checkbox']:checked:after {
    content: " ";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    left: -2px;
    top: -2.5px;
    text-align: center;
    background-color: transparent;
    font-size: 10px;
    height: 20px;
    width: 20px;
  }
}

$state-colors: (
  ny: $color-ny-blue,
  az: $color-az-grey
);

@each $state_key, $state-color in $state-colors {
  .us-state--#{$state_key} {
    .button {
      border: 2px solid $state-color;
      color: $state-color;
    }

    .button--primary {
      background-color: $state-color;
      color: $color-white;
    }

    .main-header {
      background-color: $state-color;
    }

    .slab--footer {
      background-color: $state-color;
    }
  }
}

.federal-info-controller-subform, .federal-info-controller-subform-section {
  table {
    td:first-child {
      vertical-align: middle;
      font-size: 14px;
      font-family: monospace;
    }
  }

  .federal-info-controller-subform-title, .federal-info-controller-subform-section-title {
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c7c7c7;
  }

  .federal-info-controller-subform-content, .federal-info-controller-subform-section-content {
    padding: 18px;
    border-width: 0 1px 1px 1px;
    border-style: dotted;
    border-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}