// when no us_state in the params, class will be "state-file-html-bg--"
.state-file-html-bg-- {
  background-color: $color-az-grey; // set default background color on <html> so the footer doesn't look weird on shared pages
}

.state-file-html-bg--az {
  background-color: $color-az-grey;
}

.state-file-html-bg--ny {
  background-color: $color-ny-blue;
}

.state-file {
  background-color: $color-state-file-bg;
  font-family: $font-state-file;

  .big-illustration {
    display: flex;

    @media screen and (max-width: $tablet-up) {
      justify-content: center;
    }
  }

  .blue-group {
    padding: 1.9rem;
    margin-bottom: 2.5rem;
    background: #E7F6F8;
    border: 2px solid #52DAF2;
    border-radius: 6px;
  }

  .button {
    border-radius: 0.4rem;
    font-size: 2.2rem;
    font-weight: 700;
    height: 6rem;
    letter-spacing: 0rem;
    line-height: 2.5rem;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    text-align: center;
    width: 33.8rem;
  }

  .button--icon {
    font-size: 1.9rem;
  }

  .button--small {
    width: auto;
  }

  .dev-button {
    margin: 1em 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #dc6565;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 1.75rem 2.5rem;
    border-radius: 1rem;
    color: #DC6565;
    text-decoration: none;
  }

  .form-card {
    background-color: transparent;

    .blue-group {
      .form-group:last-child {
        margin-bottom: 0;
      }
    }
  }

  .h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  .h2 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.3rem;
  }

  .main-header {
    height: 5.4rem;
    line-height: 2.4rem;
    background-color: $color-az-grey; // default color when no US state in path

    .toolbar {
      align-items: center;
    }
  }

  .form-group-tight p.form-question {
    color: #121111;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .landing-page-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .partner-logo-wrapper {
    display: flex;
    align-items: center;

    .partner-logo-text {
      max-width: 200px;
    }

    .partner-logo-image {
      margin-right: 1rem;

      img {
        vertical-align: middle;
      }
    }
  }

  .slab--footer {
    background-color: $color-az-grey; // default color when no US state in path
  }

  .text--body {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  .review-header {
    .with-top-separator {
      padding-top: 25px;
      border-top: 1px solid #BCBCBC;
    }
  }
}

$state-colors: (
  ny: $color-ny-blue,
  az: $color-az-grey
);

@each $state_key, $state-color in $state-colors {
  .us-state--#{$state_key} {
    .button {
      border: 2px solid $state-color;
      color: $state-color;
    }

    .button--primary {
      background-color: $state-color;
      color: $color-white;
    }

    .main-header {
      background-color: $state-color;
    }

    .slab--footer {
      background-color: $state-color;
    }
  }
}

.federal-info-controller-subform, .federal-info-controller-subform-section {
  table {
    td:first-child {
      vertical-align: middle;
      font-size: 14px;
      font-family: monospace;
    }
  }

  .federal-info-controller-subform-title, .federal-info-controller-subform-section-title {
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c7c7c7;
  }

  .federal-info-controller-subform-content, .federal-info-controller-subform-section-content {
    padding: 18px;
    border-width: 0 1px 1px 1px;
    border-style: dotted;
    border-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}