/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'cfa_styleguide_main';
@import 'atoms/variables';
@import 'atoms/form-elements';
@import 'organisms/document-overview';
@import 'organisms/flash-messages';
@import 'molecules/form-molecules';
@import 'organisms/form-cards';
@import 'organisms/offboarding';
@import 'organisms/overview';
@import 'organisms/pagination';
@import 'organisms/provider-list';
@import 'organisms/provider-details';
@import 'components/buttons';
@import 'templates/consent-form';
@import 'templates/dependents-index';

html {
  background-color: black;
}

body {
  margin-bottom: 0;
  background-color: #F7F5F4;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hide-on-mobile {
  @media screen and (max-width: $tablet-up) {
    @include visually-hidden;
  }
}
.link--delete {
  font-size: 1.6rem;
  color: inherit;
}

.main-header {
  background-color: black;
  color: white;

  .main-header__link {
    color: inherit;
    font-size: $font-size-25-small;
    font-weight: 600;
  }

  .main-header__logo {
    padding-left: 3.0rem;
    &:before {
      @include retina-bg(checkbox-logo--white, 100% auto);
    }
  }
}

.toolbar {
  &__left {
    margin-top: 0rem;
  }

  &__right {
    margin-top: -0.4rem;
  }
}

.main-header__title {
  .toolbar__logo-text {
    color: white;
    font-size: $font-size-25-small;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.image--checkbox-logo {
  padding-right: 0.5em;
}

.slab--footer {
  color: white;
  background-color: black;
  padding-bottom: $s95;

  .footer__link {
    color: inherit;
  }

  .footer__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      text-decoration: none;
      color: inherit;
    }

    .footer__vita-logo {
      margin-left: 3rem;
    }

    @include media($tablet-up) {
      justify-content: flex-end;
      .footer__vita-logo {
        margin-left: 5rem;
      }
    }
  }
}

.body--home {
  .slab--hero {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include media($tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;

      h1 {
        font-size: 5rem;
        line-height: 6rem;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .15;
      background-image: image-url('dollar-hero.png');
      background-repeat: no-repeat;
      background-size: 476px 365px;
      background-position: bottom right;
      @include media($tablet-up) {
        opacity: .5;
      }
    }
  }
  .slab--intro {
    background-color: white;
  }

  .slab--eligibility {
    @include media($tablet-up) {
      img {
        width: 100%;
      }
    }
  }

  .slab--steps {
    background-color: white;

    .step {
      display: flex;
      @extend .spacing-below-60;

      h3 {
        margin-bottom: 1rem;
      }

      .step-icon-wrapper {
        width: 6rem;
        margin-right: 3.2rem;

        img {
          height: 100%;
        }
      }
    }

    .step:last-child {
      margin-bottom: 0;
    }

    @media only screen and (max-width: 600px) {
      text-align: center;

      .step {
        flex-direction: column;
        align-items: center;

        .step-icon-wrapper {
          margin-right: 0;
          margin-bottom: 1.6rem;
        }

        .step-text {
          p {
            max-width: 24rem;
          }
        }
      }
    }
  }
}
