/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "cfa_styleguide_main";
@import "atoms/variables";
@import "atoms/form-elements";
@import "organisms/document-overview";
@import "organisms/flash-messages";
@import "molecules/accordion";
@import 'molecules/breadcrumb';
@import "molecules/form-molecules";
@import "molecules/partner-logos";
@import "components/emoji-radio-buttons";
@import "components/buttons";
@import "components/blockquote";
@import "components/footer";
@import "components/form-fields";
@import "organisms/form-cards";
@import "organisms/offboarding";
@import "organisms/pagination";
@import "organisms/provider-list";
@import "organisms/provider-details";
@import "templates/about-us";
@import "templates/consent-form";
@import "templates/dependents-index";
@import 'templates/stimulus';

html {
  background-color: black;
}

body {
  margin-bottom: 0;
  background-color: #f7f5f4;
  font-family: $font-gyr;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text--bold {
  font-weight: bold;
}

.text--teal {
  color: $color-teal;
}

.text--black {
  color: rgb(0, 0, 0);
}

.hide-on-mobile {
  @media screen and (max-width: $tablet-up) {
    @include visually-hidden;
  }
}

.link--delete {
  font-size: 1.6rem;
  color: inherit;
}

.main-header {
  background-color: black;
  color: white;

  .main-header__link {
    color: inherit;
    font-size: $font-size-25-small;
    font-weight: 600;
  }

  .main-header__logo {
    padding-left: 3rem;
    &:before {
      @include retina-bg(checkbox-logo--white, 100% auto);
    }
  }
}

.toolbar {
  &__left {
    margin-top: 0;
  }

  &__right {
    margin-top: -0.4rem;
  }
}

.main-header__title {
  .toolbar__logo-text {
    color: white;
    font-size: $font-size-25-small;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.body--home {
  .button {
    padding: $s35/2 4rem;
  }

  .slab {
    padding-left: 6rem;
    padding-right: 6rem;

    @media screen and (max-width: $tablet-up) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .slab--hero {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    h1 {
      font-size: 5rem;
      line-height: 6rem;
      font-weight: 900;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: image-url("dollar-hero.png");
      background-repeat: no-repeat;
      background-size: 519px 355px;
      background-position: bottom right;
    }

    @media screen and (max-width: $tablet-up) {
      padding-bottom: 12rem;

      h1 {
        margin-bottom: 1.5rem;
      }

      &:before {
        background-size: 389px 266px;
      }
    }
  }

  .banner {
    background-color: $color-orange-light;
    padding: 2rem 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    @media screen and (max-width: $tablet-up) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .slab--intro {
    background-color: white;

    #irs-logo {
      img {
        width: 178px;
        height: 173px;
        margin-top: 2.5rem;
      }
    }

    @media screen and (max-width: $tablet-up) {
      #irs-logo {
        text-align: center;
        padding-bottom: 3.8rem;

        img {
          margin-top: 0;
        }
      }

      #money-fan {
        margin-top: 3.2rem;
        text-align: center;
      }
    }
  }

  .slab--partners {
    padding-top: 3rem;
    padding-bottom: 3rem;

    #about-us-link {
      font-weight: bold;
      text-decoration: underline;
      color: black;
    }

    @media screen and (max-width: $tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .slab--testimonials {
    background-color: white;

    #star-rating {
      margin-bottom: 4rem;
    }

    #testimonial-left {
      padding-right: 6rem;
    }

    #testimonial-right {
      padding-left: 6rem;
    }

    @media screen and (max-width: $tablet-up) {
      h2 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      #star-rating {
        margin-top: 2.5rem;
      }

      #testimonial-left {
        padding: 0;
      }

      #testimonial-right {
        padding: 0;
        margin-top: 4rem;
      }
    }
  }

  .slab--faq {
    padding-top: 4rem;
    padding-bottom: 4rem;

    li {
      font-weight: 500;
      margin-bottom: 0;
    }

    .button {
      text-align: center;
      width: 95%;
      margin-top: 3.5rem;
    }

    @media screen and (max-width: $tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;

      #faq-button-container {
        text-align: center;
      }
      .button {
        margin: 4rem auto 0 auto;
        width: 80%;
      }
    }
  }

  .slab--security {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: white;

    p {
      font-weight: 500;
    }

    div.grid__item {
      display: flex;

      img {
        width: 8rem;
        padding: 0.6rem 2.5rem 0 0;
      }
    }

    @media screen and (max-width: $tablet-up) {
      div.grid__item {
        flex-direction: column;
        img {
          width: 4.7rem;
        }
      }
    }
  }

  .slab--cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $color-green-money;

    @media screen and (max-width: $tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;

      .button--primary {
        padding-left: 9rem;
        padding-right: 9rem;
      }
    }
  }

  .grid__divider {
    margin: 0 auto;
    width: 31.5rem;
    height: 0.1rem;
    background-color: #aaaaaa;
  }

  h2 {
    font-weight: 900;
  }

  @media screen and (max-width: $tablet-up) {
    h2 {
      margin-bottom: 1rem;
    }
  }
}

.inherit-color {
  color: inherit;
}
