/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "cfa_styleguide_main";
@import "mixins/sr-only";
@import "atoms/variables";
@import "atoms/form-elements";
@import "atoms/typography";
@import "organisms/flash-messages";
@import "molecules/accordion";
@import 'molecules/breadcrumb';
@import "molecules/form-molecules";
@import "molecules/partner-logos";
@import "honeycrisp-compact";
@import "components/actions-wrapper";
@import "components/checkmark-list";
@import "components/icons-list";
@import "components/client-header";
@import "components/client-filters";
@import "components/hub-form";
@import "components/progress-indicator";
@import "components/document-table";
@import "components/emoji-radio-buttons";
@import "components/buttons";
@import "components/blockquote";
@import "components/footer";
@import "components/form-fields";
@import "components/organization-list";
@import "components/reveal";
@import "components/slabs";
@import "components/sticky-action-footer";
@import "components/tab-bar";
@import "components/toolbar";
@import "components/take-action-box";
@import "components/tax-return-list";
@import "components/urgent";
@import "components/messages-and-notes";
@import "components/unread";
@import "components/notification";
@import "components/index-table";
@import "components/hub-image-upload";
@import "components/portal-tax-returns";
@import "components/user-header";
@import "components/tooltip";
@import "components/pagination";
@import "organisms/form-cards";
@import "organisms/offboarding";
@import "organisms/provider-list";
@import "organisms/provider-details";
@import "organisms/welcome";
@import "templates/additional-documents";
@import "templates/admin";
@import "templates/about-us";
@import "templates/chat-bubble";
@import "templates/client-profile";
@import "templates/consent-form";
@import "templates/date-select";
@import "templates/dependents-index";
@import "templates/document-intro";
@import "templates/document-overview";
@import "templates/diy-start-filing-start";
@import "templates/hub-metrics";
@import "templates/overview";
@import "templates/portal";
@import "templates/stimulus";
@import "templates/satisfaction-survey";
@import "templates/question";


html {
  background-color: black;
}

body {
  margin-bottom: 0;
  background-color: #f7f5f4;
  font-family: $font-gyr;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hide-on-mobile {
  @media screen and (max-width: $tablet-up) {
    @include visually-hidden;
  }
}

.link--delete {
  font-size: 1.6rem;
  color: inherit;
}

.main-header {
  background-color: black;
  color: white;

  .main-header__link {
    color: inherit;
    font-size: $font-size-25-small;
    font-weight: 600;
  }

  .main-header__logo {
    padding-left: 3rem;
    &:before {
      @include retina-bg(checkbox-logo--white, 100% auto);
    }
  }
}

.toolbar {
  &__left {
    margin-top: 0;
  }

  &__right {
    margin-top: -0.4rem;
  }
}

.main-header__title {
  .toolbar__logo-text {
    color: white;
    font-size: $font-size-25-small;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header .toolbar__item {
  color: white;
}

.body--home {
  .button {
    padding: $s35/2 4rem;
  }

  .slab--hero {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;

    h1 {
      font-size: 5rem;
      line-height: 6rem;
      font-weight: 900;

      &.landing-page-header {
        font-size: 2.7rem;
        line-height: 3.5rem;
        margin-top: 3.5rem;
      }
    }

    @media screen and (max-width: $site-max-up) {
      padding-bottom: 27rem;

      h1 {
        margin-bottom: 1.5rem;

        &.landing-page-header {
          margin-top: 0;
        }
      }
    }

    .landing-page-header {
      max-width: 450px;
    }

    .landing-page-subheader {
      font-weight: 200;
      max-width: 450px;
      position: relative;
    }

    .grid {
      position: relative;
      min-height: 355px;

      @media screen and (max-width: $site-max-up) {
        position: static;

        .grid__item {
          width: 100%;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: image-url("homepage-hero.svg");
        background-repeat: no-repeat;
        background-size: 400px 355px;
        background-position: top right;

        @media screen and (max-width: $site-max-up) {
          background-position: bottom left;
          background-image: image-url("homepage-hero-mobile.svg");
          background-size: 420px 266px;
        }

        @media screen and (max-width: $tablet-up) {
          background-position: bottom;
        }
      }

      &.stimulus {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: image-url("stimulus-hero.svg");
          background-repeat: no-repeat;
          background-size: 400px 355px;
          background-position: top right;

          @media screen and (max-width: $site-max-up) {
            background-position: bottom left;
            background-size: 420px 266px;
          }

          @media screen and (max-width: $tablet-up) {
            background-position: bottom;
          }
        }
      }
    }
  }

  .slab--info-section {
    background-color: white;
    padding: 6rem 4.5rem;
    ul {
      padding-left: 2.4rem;
    }
    li {
      font-size: 1.6rem;
      &:before {
        content: "→";
        font-weight: bold;
      }
      a {
        color: black;
      }
    }
  }
  .banner {
    background-color: $color-orange-light;
    padding: 2rem 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;

    @media screen and (max-width: $tablet-up) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .slab--intro {
    background-color: white;

    #irs-logo {
      img {
        width: 178px;
        height: 173px;
        margin-top: 2.5rem;
      }
    }

    @media screen and (max-width: $tablet-up) {
      #irs-logo {
        text-align: center;
        padding-bottom: 3.8rem;

        img {
          margin-top: 0;
        }
      }

      #money-fan {
        margin-top: 3.2rem;
        text-align: center;
      }
    }
  }

  .slab--partners {
    padding-top: 3rem;
    padding-bottom: 3rem;

    #about-us-link {
      font-weight: bold;
      text-decoration: underline;
      color: black;
    }

    @media screen and (max-width: $tablet-up) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .slab--testimonials {
    background-color: white;

    #star-rating {
      margin-bottom: 4rem;
    }

    #testimonial-left {
      padding-right: 6rem;
    }

    #testimonial-right {
      padding-left: 6rem;
    }

    @media screen and (max-width: $tablet-up) {
      h2 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      #star-rating {
        margin-top: 2.5rem;
      }

      #testimonial-left {
        padding: 0;
      }

      #testimonial-right {
        padding: 0;
        margin-top: 4rem;
      }
    }
  }

  .slab--security {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: white;

    p {
      font-weight: 500;
    }

    div.grid__item {
      display: flex;
      margin-top: 60px;
      margin-bottom: 60px;

      img {
        width: 10rem;
        min-width: 10rem;
        padding-right: 4rem;
        height: 100%;
      }
    }

    @media screen and (max-width: $tablet-up) {
      div.grid__item {
        margin-top: 60px;
        margin-bottom: 60px;
        flex-direction: column;
        img {
          padding-right: 0;
          width: 100%;
          height: 8rem;
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .grid__divider {
    margin: 0 auto;
    width: 31.5rem;
    height: 0.1rem;
    background-color: #aaaaaa;
  }

  h2 {
    font-weight: 900;
  }

  @media screen and (max-width: $tablet-up) {
    h2 {
      margin-bottom: 1rem;
    }
  }
}

.grid.wide {
  @media screen and (min-width: $tablet-up) {
    max-width: 1200px;
  }
}

.inherit-color {
  color: inherit;
}

/* Create disabled checkbox style because Honeycrisp lacks it */
.checkbox.is-disabled {
  opacity: .5;
  cursor: not-allowed;
}

// This class overrides the honeycrisp sr-only class with our more comprehensive mixin
.sr-only {
  @include sr-only;
}

ul.with-bullets {
  margin-left: 20px;
  list-style-type: disc;
}
