<% if @after_tax_deadline %>
  <div class="notice--warning">
    <p><%= t('state_file.questions.submission_confirmation.penalty_interest_warning.p1') %></p>
    <p><%= t('state_file.questions.submission_confirmation.penalty_interest_warning.p2', billing_agency: t("state_file.questions.submission_confirmation.penalty_interest_warning.billing_agency.#{current_state_code}")) %></p>
  </div>
<% end %>