<% @main_heading = t("views.questions.eip_maybe_ineligible.title") %>
<% content_for :page_title, @main_heading %>

<% content_for :form_card do %>
  <h1 class="form-question"><%= @main_heading %></h1>
  <p>
    <%=t("views.questions.eip_maybe_ineligible.info") %>
  </p>

  <%= link_to stimulus_path, class: "button button--primary button--wide text--centered spacing-above-60" do %>
    <%=t("general.visit_stimulus_faq") %>
  <% end %>
<% end %>
