<% title = t(".title_html") %>
<% content_for :page_title, title %>
<% content_for :card do %>
  <h1 class="h2" id="main-question"><%= title %></h1>
  <%= link_to "HIDDEN BUTTON", next_path, class: "button button--primary", style: "display: none;", data: { after_data_transfer_button: true } %>
<% end %>
