<% if org && state_routing_target %>
  <li class="state-routing-item" id="state-routing-org-<%= org.id %>">
    <text><%= org.name %></text>
    <% org.child_sites.each do |site| %>
      <%= render 'hub/state_routings/site_routing_entry', f: @form, site: site, state_routing_target: state_routing_target %>
    <% end %>
  </li>
<% end %>
