<% if site %>
  <div class="state-routing-item site" id="state-routing-site-<%= site.id %>">
    <%= f.cfa_input_field :routing_percentage, site.name, classes: ["form-width--short"] %>
  </div>
<% end %>
