<% if site %>
  <div class="state-routing-item site" id="state-routing-site-<%= site.id %>">
    <%= f.cfa_input_field :routing_percentage, site.name, options: { value: current_routing_percentage(state_routing_target, site) }, classes: ["form-width--short"] %>
    <%= f.hidden_field :state_routing_target_id, value: state_routing_target.id %>
    <%= f.hidden_field :vita_partner_id, value: site.id %>
  </div>
<% end %>
