<% @main_heading = "Looks like you’ve already started your tax form." %>
<% content_for :page_title, @main_heading %>

<main role="main">
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="question__illustration spacing-above-0">
            <%= image_tag("returning-client.svg", alt: "") %>
          </div>

          <h1 class="form-question">
            <%= @main_heading %>
          </h1>
          <p>
            Please reference the confirmation email or text from your tax preparer with next steps.
            If you have questions you should email <%= mail_to "hello@getyourrefund.org" %>
          <p>

          <%= link_to root_path, class: "button button--primary text--centered button--wide spacing-above-60" do %>
            Return to home
          <% end %>
        </main>
      </div>
    </div>
  </section>
</main>
