<p>Hello <%=@name %>,</p>

<p>Thank you for signing up to file your taxes with GetYourRefund.</p>

<p>We are officially open for 2021!</p>

<p>As soon as you are ready to file go to <a href="https://www.getyourrefund.org/en">getyourrefund.org</a> and click "Get Started."</p>

<p>If you have any questions about your taxes before you start, you can talk with a tax specialist by emailing <a href="mailto:support@getyourrefund.org">support@getyourrefund.org</a> or going to <a href="https://www.getyourrefund.org/en">getyourrefund.org</a> and clicking the chat box in the bottom right.</p>

<p>We're here to help,</p>

<p>Your tax team at GetYourRefund</p>

<hr>

<p>Gracias por registrarse con GetYourRefund para presentar su declaración de impuestos.</p>

<p>¡Estamos oficialmente abiertos para el 2021!</p>

<p>En cuanto este listo para preparar su declaración vaya a <a href="https://www.getyourrefund.org/es">getyourrefund.org</a> y haga clic en “Empiece ahora.”</p>

<p>Si tiene alguna pregunta acerca de sus impuestos antes de empezar, puede hablar con un especialista de impuestos con solo enviar un correo electrónico a <a href="mailto:support@getyourrefund.org">support@getyourrefund.org</a> o visitando <a href="https://www.getyourrefund.org/es">getyourrefund.org</a> y haciendo click en el espacio de chatear en la parte derecha del final de la página.</p>

<p>Estamos para servirle,</p>

<p>Su equipo de impuestos de GetYourRefund</p>