ul.checkmark-list {
  font-size: 1.6rem;
  li {
    list-style: none;
    margin-bottom: 1.3rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  li::before {
    content: image-url('icons/checkmark-purple.svg');
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 1rem;
  }

  &.teal {
    li::before {
      content: image-url('icons/checkmark-teal.svg')
    }
  }
  &.purple {
    li::before {
      content: image-url('icons/checkmark-purple.svg')
    }
  }

  &.blue {
    li::before {
      content: image-url('icons/checkmark-blue.svg')
    }
  }
}



