<p>Hello <%=@name %>,</p>

<p>Thank you for signing up for GetCTC to claim your Child Tax Credit and any missing stimulus payments.</p>

<p>If you would like assistance today, we have a team of tax experts who can help you navigate our application over the phone.</p>

<p>Call (860) 590-8910 for assistance.</p>

<p>If you prefer to file independently, we will send a link to GetCTC, our simplified self-serve filing portal, when it is available soon.</p>

<hr>

<p>Gracias por registrarse en GetCTC para reclamar su Crédito Tribuario por Hijos y cualquier pago de estimulo faltante.</p>

<p>Si desea ayuda hoy, tenemos un equipo de expertos en impuestos que pueden ayudarlo con nuestra aplicación.</p>

<p>Llame al (860) 590-8910 para obtener ayuda.</p>

<p>Si prefiere declarar de forma independiente, le enviaremos un enlace a GetCTC, nuestro portal de autoservicio simplificado para declarar,  tan pronto como el portal esté disponible.</p>
