<p>Hello <%= @name %>,</p>

<p>Thank you for signing up to receive updates regarding GetCTC! GetCTC is officially live and available for e-filing a simplified return to claim your Child Tax Credit and stimulus payments!</p>

<p>Go to <a href="https://www.getctc.org/">GetCTC.org</a> and click "File your simplified return now" to get started.</p>

<p>We're here to help,<br>
GetCTC.org
</p>

<hr>

<p>Hola <%= @name %>,</p>

<p>¡Gracias por registrarse para recibir las actualizaciones de GetCTC! ¡GetCTC está oficialemente disponible y a su disposición para presenter su declaración de impuestos de forma simplificada para reclamara su Crédito Tributario por Hijos y los pagos de estímulo!</p>

<p>Ingrese a <a href="https://www.getctc.org/es">GetCTC.org</a> y haga clic en “Declare de forma simplificada ahora” para iniciar.</p>

<p>Estamos aquí para servirle,<br>
GetCTC.org
</p>
