<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= title %>
</h1>

<p>
  You'll receive an email or text update when your state tax return is accepted. This can take 1-2 days.
</p>


<p>
  If it's been more than two days since you submitted your state taxes, contact our team of support specialists by clicking chat with us.
</p>
