<div class='return-status'>
  <p>
    <%= image_tag('icons/check.svg') %>
  </p>
</div>

<h1 class="h2">
  <%= @title %>
</h1>

<p>
  <%= t('.receive_email') %>
</p>

<p>
  <%= t('.more_than_two_days') %>
</p>
