<% content_for :page_title, @title %>
<% content_for :card do %>
  <%= render @return_status %>

  <% if !@error&.auto_wait || app_time.after?(Rails.configuration.state_file_end_of_in_progress_intakes) && @submission_to_show.present? %>
    <%= link_to t('.download_state_return_pdf'), StateFile::Questions::SubmissionPdfsController.to_path_helper(us_state: params[:us_state], action: :show, id: @submission_to_show.id), class: "button button--primary button--wide spacing-above-60" %>
  <% end %>

  <% if show_xml? %>
    <p>
      <%= link_to t('.show_xml'), StateFile::Questions::ConfirmationController.to_path_helper(us_state: params[:us_state], action: :show_xml), class: 'dev-button' %>
      <%= link_to t('.explain_calcs'), StateFile::Questions::ConfirmationController.to_path_helper(us_state: params[:us_state], action: :explain_calculations), class: 'dev-button' %>
    </p>
  <% end %>
<% end %>
