<div class="volunteer-resources">
  <section class="slab slab--white slab--half-padded">
    <div class="grid">
      <div class="grid__item width-one-whole spacing-above-35">
        <%= @markdown_content %>
      </div>
    </div>
  </section>
</div>
