<% @body.split("\n") do |line| %>
  <% if line.present? %>
    <div><%= auto_link(line) %></div>
  <% else %>
    <br />
  <% end %>
<% end %>
<%= auto_link(t(".unsubscribe", unsubscribe_link: @unsubscribe_link)) %>
