<% content_for :page_title, "" %>

<% content_for :main do %>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <h1 class="form-question">
            Confirm your identity with a photo of yourself
          </h1>
          <div class="text--centered with-padding-med">
            <%= image_tag("selfie-illustration.svg", alt: "") %>
          </div>

          <p>
            The IRS requires us to verify who you are for tax preparation services. We do this by reviewing a photo of you holding your ID card.
          </p>

          <div class="selfie-instructions-list with-padding-large">
            <div class="text--centered">
              <span class="emoji emoji--small emoji--star"></span>
            </div>

            <p class="text--bold">
              Read through the following steps before continuing
            </p>

            <ul class="list--bulleted">
              <li>Make sure your face is clearly visible</li>
              <li>Make sure you aren't covering up your ID</li>
              <li>Face the camera directly and include from your shoulders to the top of your head, similar to your ID photo</li>
              <li>Use a plain wall as a background if possible</li>
              <li>If you're wearing glasses in your ID photo, wear them in your selfie photo</li>
            </ul>
          </div>

        </main>
        <div class="text--centered">
          <%= link_to selfies_documents_path, class: "button button--wide button--primary button--centered" do %>
            Submit a photo
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
