<% content_for :toolbar_right do %>
  <div class="toolbar__item">
    <span class="user__welcome">
      <%=t("views.layouts.admin.welcome_user_html", :name => current_user.name) %>
    </span>
  </div>
<% end if current_user %>
<% content_for :body_class, "admin" %>
<% content_for :main do %>
  <section class="slab slab--white steps--wrapper">
    <div class="grid">
      <div class="grid__item width-three-fourths shift-one-eighth">
        <main role="main">
          <div class="form-card">
            <%= yield(:card) %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
