<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: Helvetica Nue, Helvetica, Arial, sans-serif;
        background-color: #F7F7F7;
      }
      .wrapper {
        max-width: 500px;
        margin: 0 auto;
        background: white;
        padding: 25px 25px 25px 25px;
      }
      .wrapper p {
        margin: 1.5rem 0;
      }
      .logo {
        margin: 0 0 25px;
      }
      .subject {
        font-size: 20px;
        color: #757575;
        font-weight: normal;
        margin-bottom: 2.5rem;
      }
      .email-contents button {
          background-color: #121111;
          border: #121111 2px solid;
          border-radius: 10px;
          font-size: 19px;
          font-weight: 700;
          padding: 19.5px 25px;
          width: 80%;
      }
      .email-contents button a {
          text-decoration: none;
          color: #FFFFFF;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="logo">
        <%= image_tag attachments["logo.png"].url, style: "width:auto;height:25px", alt: "FileYourStateTaxes" %>
      </div>
      <% if @subject %>
        <h1 class="subject"><%= @subject %></h1>
      <% end %>
      <div class="email-contents">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
