<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: Helvetica Nue, Helvetica, Arial, sans-serif;
      }
      .wrapper {
        max-width: 500px;
        margin: 0 auto;
      }
      .wrapper p {
        margin: 1.5rem 0;
      }
      .logo {
        margin: 2.5rem 0;
      }
      .subject {
        font-size: 20px;
        color: #757575;
        font-weight: normal;
        margin-bottom: 2.5rem;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <div class="logo">
        <%= image_tag attachments["logo.png"].url, style: "width:180px;height:auto" %>
      </div>
      <% if @subject %>
        <h1 class="subject"><%= @subject %></h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
