<% content_for :form_question, "In 2019, did you have a loss related to a declared Federal Disaster Area?" %>

<% content_for :form_help_text, "If you experienced a disaster in your area, and you are unsure if it was declared a Federal Disaster Area, you can use <a href=\"https://www.fema.gov/disasters/year/2019?field_dv2_declaration_type_value=All\" target=\"_blank\">this FEMA tool</a> to check.".html_safe %>

<% content_for :method_name, :had_disaster_loss %>