<% if can? :read, DocAssessmentFeedback %>
  <div style='padding-bottom: 2em'>
    <% verdict = @document.latest_assessment&.matches_doc_type_verdict %>
    <% unless verdict.blank? %>
      <%= render "hub/documents/smart_scan_card",
                 document: @document,
                 state: verdict == "pass" ? "success" : "fail" %>

      <% if !@document.latest_assessment&.confirmed? %>
        <%= render "hub/documents/feedback_collection" %>
      <% end %>
    <% end %>
  </div>
<% end %>
