<% @title = t("hub.documents.index.add_doc") %>
<% content_for :page_title, @title %>

<% content_for :card do %>
  <div class="slab">
    <%= render 'form', url: hub_client_documents_path, method: "post", file_upload_enabled: true %>
  </div>
<% end %>
